[2016-12-05 12:49] NicoEilers commented on #357
werkt goed Issue kan gesloten worden.

[2016-12-05 12:49] #357 closed, assigned to SandroNeumann

[2016-12-05 13:43] HermanAssink commented on #361
In Chrome en Firefox werken de links door erop te klikken. In IE moet je voor "opslaan als" kiezen, waarna de GeoJSON output in een bestand wordt bewaard.
N.B. Deze helptekst is bedoeld voor web-ontwikkelaars en lijkt me daarom voorlopig duidelijk genoeg. Inhoudelijk staat er hetzelfde in als in de pagina's van pdok en Thijs. Waarschijnlijk dat Provincie Utrecht opdracht geeft dit punt, de bruikba

[2016-12-06 13:57] HermanAssink commented on #355
N.B. Om dit te kunnen controleren moet van een extern IP-adres gebruik gemaakt worden.

[2016-12-07 08:54] gerardnienhuis commented on #355
ik kan niet in het huidige Geoportaal makkelijk bij de xml. Maar de leesmij.xml die geleverd wordt bij de download, die is wel bruikbaar, denk ik.

[2016-12-07 08:59] gerardnienhuis commented on #361
Getest, werkt inderdaad goed. De verwarring die wordt veroorzaakt komt grotendeels door de opmaak. Er zijn 2 regels die vet (bold) moeten worden gemaakt. In de help bij het zoeken staat dit al wel goed, maar bij het onderdeel "over deze site" nog niet.

Er staat nu:

Tips voor specialisten:

Er worden ook WMS en WFS services via het Geoportaal ontsloten. Deze kun je direct in je eigen GIS applicat

[2016-12-07 09:05] gerardnienhuis commented on #361
Merk op: de fout in IE is nog niet opgelost, zie onderstaand plaatje, als ik op Fietsroutes klik, dan kan ik wel openen, maar krijg vervolgens altijd een foutmelding, ik kan dan niets meer doen, behalve op details klikken...

nb: getest intern Overijssel en ook extern (thuis, niet IP adres van provincie maar eigen provider).

![fout_ie_klik_fietsroutes](https://cloud.githubusercontent.com/assets/9

[2016-12-07 09:29] HermanAssink commented on #361
Inderdaad, het was ook niet mijn bedoeling om dit op te lossen. Voor een ontwikkelaar lijkt me dit geen probleem.

[2016-12-07 09:31] HermanAssink commented on #361
Ik hoop dat Utrecht opdracht geeft om de bruikbaarheid (in brede zin) voor web-ontwikkelaars te verbeteren.

[2016-12-07 10:03] gerardnienhuis commented on #361
naast de (hiervoor genoemde) aanpassing van tekst (**bold** maken 2 regels) hier het voorstel voor aanpassing tekst ivm fout IE:

er staat nu:

outputformat=json bij een GetFeature request en je krijgt GeoJSON terug. Voorbeeld:

Fietsroutes in GeoJSON

er komt te staan:

outputformat=json bij een GetFeature request en je krijgt GeoJSON terug.
Voorbeeld (voor Firefox, Chrome, Safari en Opera, niet

[2016-12-07 11:47] gerardnienhuis opened #369 "Bij download vanaf intern andere xml als vanaf extern"
Interne contactpersonen alleen meenemen in leesmij.xml als download is gestart vanaf intern Overijssel. Als download is gestart vanaf extern, dan niet interne contactpersonen in xml zetten

[2016-12-07 11:49] gerardnienhuis opened #370 "Bij download vanaf intern ook interne stylesheet meeleveren"
Nu wordt bij downloaden de externe stylesheet meegeleverd in de download, het maakt niet uit of deze vanaf intern of extern wordt uitgevoerd. Vraag is om bij download vanaf intern in de download bestanden ook de stylesheet voor intern mee te leveren, en bij extern de stylesheet voor extern.

[2016-12-07 12:01] gerardnienhuis commented on #356
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/34e17781-1cac-4c4d-ab59-6a22f76cdad4

werkt nu ook weer goed, andere bovenstaande links ook getest, werkt goed, issue kan gesloten

[2016-12-07 12:01] #356 closed, assigned to nobody

[2016-12-07 12:05] gerardnienhuis commented on #355
probleem met xml is opgelost: BRON bekijken kan wel in FF, Chrome en Opera, niet in IE: ziet er nu goed uit, Rioolwaterzuiveringsinstallaties nu zonder intern contactpersoon.

issue kan gesloten

[2016-12-07 12:05] #355 closed, assigned to nobody

[2016-12-07 12:20] gerardnienhuis commented on #287
ook melding nodig als naam (titel) in metadata wordt aangepast, maar rest onveranderd blijft.

[2016-12-07 13:51] SandroNeumann commented on #271
**@gerardnienhuis**: Is je opmerking van 14 september het enige wat hier moet gebeuren?

[2016-12-07 13:55] gerardnienhuis commented on #271
@SandroNeumann : in het issue staat:

voorstel: situaties doorspreken, benoemen en nog betere keuzes maken voor gedrag van zoeklijst en open of dicht klikken.

Daarmee probeer ik aan te geven dat we de volledige lijst van gebeurtenissen moeten inventariseren en het wenselijke gedrag moeten bepalen. Dat is nooit goed opgepakt, ook niet bij de vorige versie van het Geoportaal. In de huidige versie k

[2016-12-07 14:02] SandroNeumann commented on #271
Het lijkt me het handigst als jullie een dergelijke lijst maken wat nu niet logisch is en hoe het wel zou moeten zijn.

[2016-12-07 14:45] copierrj commented on #370
Is het OK om bij download vanaf intern de interne metadata (inclusief persoonsgegevens) + interne stylesheet te leveren? Of is het de bedoeling de externe metadata (exclusief persoonsgegevens) te blijven gebruiken in combinatie met de interne stylesheet?

[2016-12-07 14:46] copierrj commented on #370
Vraag niet langer relevant, zie nu pas #369

[2016-12-07 14:47] copierrj commented on #369
gerelateerd aan: #370

[2016-12-07 14:50] copierrj commented on #354
Lastig. Raakt de koppeling tussen geoportaal  en publicatieomgeving (want: gebruiken hetzelfde endpoint).

Is het niet veel verstandiger om enkel het achterliggende probleem (wfs url bij raster) aan te pakken?

[2016-12-07 14:51] copierrj commented on #327
Is opgelost in #355

[2016-12-07 14:52] copierrj commented on #300
@SandroNeumann: hoe zet het geoportaal dit request door naar de publicatieomgeving?

[2016-12-07 14:56] copierrj commented on #285
Word hier bedoeld: metadata aanwezig met een referentie naar tabel / geotiff die niet gevonden kan worden?

Zo ja, dit is bij de meeste rasterdata het geval. Maar dit komt in dit geval niet doordat men vergeten is metadata te verwijderen maar dit komt omdat de tiff bestanden slechts tijdelijk beschikbaar zijn ivm benodigde schrijfruimte.

[2016-12-07 14:58] copierrj commented on #209
zelfde als #278?

[2016-12-07 15:07] SandroNeumann commented on #300
De laag van een service linkt direct door naar de metadata van de publicatieomgeving.

Voorbeeld: https://www.geoportaaloverijssel.nl/metadata/service/aa894124-65c0-4891-9f95-b08a7fb0bd2e
Laag: B4_Afzetmogelijkheden_warmte_in_stads-_en_blokverwarming
Url: http://metadata.geodataoverijssel.nl/metadata/dataset/b2c5f593-de4c-4f7c-9b72-4c0909731a50.xml

[2016-12-07 15:08] copierrj commented on #204
Bij het harvesten proberen we bijlagen te downloaden. Hierdoor weten we in de publicatieomgeving of een url succesvol gedownload kan worden.

Wat we kunnen doen is urls waarvan we weten dat deze 'het niet doen' niet opnemen in de metadata. Hiermee verdwijnen ze echter niet enkel in het geoportaal maar worden ze ook niet langer getoond in NGR en PGR.

Enkel in de geoportaal urls verbergen is lastig

[2016-12-07 15:14] copierrj commented on #300
@SandroNeumann:

Als we voor een request afkomstig van het netwerk van Overijssel hier toch de externe stylesheet willen tonen zijn denk ik twee oplossingsrichtingen mogelijk:

- het request in het geoportaal proxy-en.
- in het metadata endpoint van de publicatieomgeving een request parameter toevoegen waarmee aangegeven kan worden dat de externe stylesheet gewenst is.

De eerste optie zou mijn vo

[2016-12-07 15:31] SandroNeumann commented on #300
Je zou i.p.v:
https://metadata.geodataoverijssel.nl/metadata/dataset/b2c5f593-de4c-4f7c-9b72-4c0909731a50.xml

Deze twee url's (afhankelijk van intern of extern) in de XML kunnen schrijven:
https://www.geoportaaloverijssel.nl/metadata/dataset/b2c5f593-de4c-4f7c-9b72-4c0909731a50
https://intern.geoportaaloverijssel.nl/metadata/dataset/b2c5f593-de4c-4f7c-9b72-4c0909731a50

Daar wordt de publisher me

[2016-12-07 15:33] SandroNeumann commented on #204
Ik kan in de stylesheet hier alleen iets mee als ik een signaal in de XML kan krijgen dat de bijlage het niet doet.

[2016-12-07 15:38] copierrj commented on #300
Is het te doen om aan de kant van het geoportaal de service metadata xml te herschrijven zodat een van deze twee urls gebruikt worden ipv de directe link naar de publicatieomgeving?

[2016-12-07 15:39] gerardnienhuis commented on #354
Zou een deel van het probleem inhoudelijk kunnen worden opgelost door de beheerders van het Geoportaal? Ik denk aan bijvoorbeeld alleen CC-0 licentie opgeven als "data downloadable" is. Dan zou het wel handig zijn als in de rapportage dit eenvoudig te filteren zou zijn. Ontbreekt die CC-0 licentie vermelding dan wordt volgens mij die xml ook niet door PGR en NGR geharvest.

[2016-12-07 15:40] copierrj commented on #204
De urls die het wel doen verwijzen allemaal naar de publicatieomgeving. Je zou de rest kunnen verbergen.

[2016-12-07 15:41] gerardnienhuis commented on #327
is correct, issue kan gesloten omdat #355 goed blijkt te zijn opgelost.

[2016-12-07 15:41] #327 closed, assigned to nobody

[2016-12-07 15:57] SandroNeumann commented on #204
Waar wordt op gecheckt? Je kunt controleren of de url geodataoverijssel of geodata bevat. Bij de eerste gaat het bij andere klanten niet werken. Bij de tweede impliceert het dat elke publisher instantie bereikbaar is met geodata in de URL en URL's die toevallig ook geodata in de URL hebben vallen hier doorheen.

[2016-12-07 16:00] SandroNeumann commented on #300
Dat kan ook inderdaad.

[2016-12-07 16:09] copierrj commented on #204
Als je dit in de controller oplost (en dus niet in de stylesheet) dan zou je een te configureren url prefix kunnen gebruiken.

[2016-12-07 16:17] SandroNeumann commented on #321
**@gerardnienhuis**: Wil je nog reageren op Herman's reactie hierboven?

[2016-12-07 16:35] SandroNeumann commented on #337
Dit gaat veel tijd kosten en kan alleen werken bij ingeplande werkzaamheden en niet bij calamiteiten. Bij ingeplande werkzaamheden gaat het om het upgraden naar een nieuwe versie en dit gaat om seconden. Dat gaat waarschijnlijk niemand merken.

[2016-12-07 16:43] SandroNeumann commented on #358
**@copierrj**: Is er in de dataset metadata een veld waar de service url geplaatst kan worden (zie hierboven)?

[2016-12-08 06:54] gerardnienhuis commented on #358
Ik vind suggestie van @hermanassink wel slim: gewoon link opnemen naar metadata van service in uitgevoerde bewerkingen als extra bewerking en dan met stylesheet voor zorgen dat dit op juiste plaats zichtbaar wordt Je kan het zelfs laten staan in uitgevoerde bewerkingen met tekst: Data is opgenomen in service en dan volledige url met metadata van die service. Dan wel url in stylesheet aanklikbaar m

[2016-12-08 06:57] gerardnienhuis commented on #337
Ik zou toch rekening houden met kans op verstoring en pagina willen hebben voor zo'n situatie

Zeker belangrijk als dat lang duurt

Pagina handmatig dan neerzetten als index.html is misschien makkelijkst?

[2016-12-08 07:01] gerardnienhuis commented on #321
Melding in excel van veranderingen in services: namen datasets en type beveiliging met tijdstip verandering

Als geoportaal dashboard er is dan ook mogelijkheid niet opnemen van services in geoportaal zelf

[2016-12-08 07:06] gerardnienhuis commented on #204
Verwijderen als niet werkt klinkt beste
Maar ik wil dan wel rapport met naam geodataset en naam url die is verwijderd zodat beheerders het kunnen repareren daarna

Voorstel:

Rapport geodata met 1 kolom uitbreiden
Naam kolom is: bijlage en inhoud kolom kan zijn: fout of goed

[2016-12-08 09:46] gerardnienhuis commented on #271
Eerste voorstel:

1) uitgebreid zoeken en bladeren: default resultaten uitklappen
2) ondersteepte bestandsnaam in zoekresultaten lijst geeft zelfde effect als "meer informatie", je ziet meteen metainfo van het betreffende bestand
3) thumbnail aanklikken zorgt voor tonen van voorbeeldplaatje in apart scherm

[2016-12-08 09:47] copierrj commented on #199
We hebben de fouten al in de csv staan (kolom: http_errors). Het is dus de bedoeling dat er info over alle bijlagen (bij alle http status codes, incl. 200) in het rapport moeten komen? Hierdoor komt er dus een stuk meer info in deze kolom te staan.

N.B. In issue #345 is aangegeven dat het wenselijk is om urls en statuscodes te splitsen in twee kolommen.

[2016-12-08 09:49] gerardnienhuis opened #371 "Welkom tekst aanpassen"
Tekst in homepagina is nu:

Welkom bij het Geoportaal

Tekst wordt:

Welkom bij het Geoportaal van Overijssel

[2016-12-08 09:52] gerardnienhuis commented on #93
Ik wil graag een viewer, die gebruik maakt van de achtergrondkaart van pdok, brt standaard pastel, met daarop de WMS. Ik wil graag dat dat zichtbaar wordt bij de zoekresultaten, als een WMS aaanwezig is.
je hebt dan nu:

Meer informatie Download

Dat wordt dan

Meer informatie Bekijk kaart Download

[2016-12-08 09:54] gerardnienhuis commented on #93
Hiermee volg ik dus de suggestie van Herman om de viewer van de publicatieomgeving ook hiervoor te gebruiken.

[2016-12-08 09:58] SandroNeumann commented on #271
Ik zou punt 2 afraden, want je krijgt dan dubbele functionaliteit bij het klikken. Het zorgt er voor dat het zowel open of dicht klapt als dat de metadata pagina geopend wordt. Dat hebben we eerder gehad en werd als niet prettig ervaren. De bestandsnaam niet laten onderstrepen zou een alternatief zijn.

[2016-12-08 09:59] gerardnienhuis commented on #4
hulp nodig bij selectie: er zijn nu 2 mappen, 1 met en 1 zonder extra attribuutinfo conform GEOWEB: harvester moet dus ook kijken naar die 2 mappen, als als xml met extra attribuutinfo aanwezig is, dan deze gebruiken, zo niet , dan bestaande (normale) xml gebruiken.

[2016-12-08 10:02] gerardnienhuis commented on #309
voorstel: deze opnemen in uitgevoerde bewerkingen bij tabblad details

tekst wordt: Originele XML was: ... en dan hierbij naam met UUID.xml erachter.

[2016-12-08 10:51] gerardnienhuis commented on #309
let op: uuid staat in xml, niet in bestandsnaam:

voorbeeld:

Alternatieve titel: B2.avondspits2020ov_arc (b2\b22)
Versie: febr. 2015
Unieke Identifier: 6d0c8c26-c5f2-4c8f-89a2-a8a6406c4fe6

[2016-12-08 10:53] gerardnienhuis commented on #4
let op: de map met xml's gebruikt niet uuid.xml maar heeft als syntax: bestandnaam.xml
(nb: de uuid staat er wel in, maar dan in de metainformatie,

voorbeeld:

Alternatieve titel: B2.avondspits2020ov_arc (b2\b22)
Versie: febr. 2015
Unieke Identifier: 6d0c8c26-c5f2-4c8f-89a2-a8a6406c4fe6

[2016-12-08 11:16] HermanAssink commented on #4
@gerardnienhuis de schatting "impact middel" heeft betrekking op de impactanalyse. We gaan die impactanalyse nu doen zodat we o.a. de schatting van de realisatie duidelijk krijgen.

[2016-12-08 11:17] SandroNeumann commented on #350
Welk metadata element is dat? Kun je een voorbeeld geven van een metadata document en wat daar de filenaam van geosticker is?

[2016-12-08 11:19] SandroNeumann commented on #346
De specifieke wens voor de opmaak wordt nog geleverd?

[2016-12-08 11:47] SandroNeumann commented on #309
In jouw voorbeeld (https://metadata.geodataoverijssel.nl/metadata/dataset/fcd2411d-d4b5-4c13-9c31-4d9740f8cec4.xml) staat bij het label unieke identifier 554e3e5a-e92d-40e8-a750-a79eee556ee2. De uuid 6d0c8c26-c5f2-4c8f-89a2-a8a6406c4fe6 komt nergens voor in de XML.

[2016-12-08 12:29] gerardnienhuis opened #372 "Verwijderen bijlage statische kaart geef error"
Bij een statische kaart zijn meerdere bijlagen toegevoegd. Verwijderen van de laatste 2 geeft een foutmelding.

![oops](https://cloud.githubusercontent.com/assets/9005444/21010041/4069b876-bd4a-11e6-9447-e0adf0909fa0.PNG)

[2016-12-08 12:30] gerardnienhuis commented on #372
betreft nummer: 150246

[2016-12-08 12:32] gerardnienhuis commented on #309
dat is precies het probleem: die moet wel in de xml worden opgenomen: dat is de originele naam van de xml namelijk. Die wordt ergens in het proces vervangen door een andere naam waardoor het beheer van de xml's erg lastig wordt..

[2016-12-08 12:35] gerardnienhuis commented on #346
Wens is in ieder geval om ook plaatjes weer te geven al illustratie, en onderdelen die doorlinken naar andere onderdelen in de tekst.

[2016-12-08 12:40] gerardnienhuis commented on #350
We hebben nu geen metadata element hiervoor. je kan echter wel de "uitgevoerde bewerkingen" hiervoor gebruiken. Mijn suggestie is om bij het inlezen van de xml 1 nieuw element aan de uitgevoerde bewerkingen toe te voegen, waarin de naam van de originele xml staat.

De tekst kan dan zijn:

Originele bestandsnaam: .... .xml

[2016-12-08 12:45] gerardnienhuis commented on #271
is prima, dan wordt het voorstel:

1.uitgebreid zoeken en bladeren: default resultaten uitklappen
2.ondersteepte bestandsnaam in zoekresultaten niet meer onderstreept maken
3.thumbnail aanklikken zorgt voor tonen van voorbeeldplaatje in apart scherm

[2016-12-08 13:21] SandroNeumann commented on #372
Het komt door een gebrek aan geheugen. Is het enige wat je doet het verwijderen van bijlages? Hoeveel MB's zijn die in totaal?

[2016-12-08 13:45] copierrj commented on #350
Is het mogelijk hiervoor een voorbeeldbestand te leveren?

[2016-12-08 13:46] copierrj commented on #347
Zelfde als #359?

[2016-12-08 13:47] copierrj commented on #309
Is het mogelijk om een voorbeeldbestand te leveren met daarin wenselijke  situatie ?

[2016-12-08 13:49] copierrj commented on #285
@gerardnienhuis: zou je dit issue willen verduidelijken?

[2016-12-08 13:50] SandroNeumann commented on #93
Zie ook #334

[2016-12-08 13:57] SandroNeumann commented on #93
Moet dit alleen bij datasets of ook bij services?

[2016-12-08 14:01] HermanAssink commented on #337
@gerardnienhuis welke subdomeinen moeten naar een andere pagina worden geleid? Zijn www.geoportaaloverijssel.nl en download.geoportaaloverijssel.nl voldoende? Dit zijn m.i. de twee pagina's waar externen op binnen kunnen komen. Interne gebruikers kunnen zo nodig via email een bericht krijgen.

[2016-12-08 14:18] gerardnienhuis commented on #337
helemaal juist: als die 2 subdomeinen  worden gebruikt, dan hebben we de meeste problemen te pakken. Intern kan altijd via de email.

[2016-12-08 14:19] gerardnienhuis commented on #93
alleen bij datasets

[2016-12-08 14:22] gerardnienhuis commented on #285
Wat wij hebben als beheerders is een map met xml's. Als wij een dataset verwijderen willen uit het Geoportaal dan is dat een foutgevoelig proces. Soms wordt vergeten een xml te verwijderen. Dan heb je dus wel in het Geoportaal een datasets, maar de achterliggende xml is afwezig: dat wil ik in een rapport terugzien.

[2016-12-08 14:25] HermanAssink commented on #358
@gerardnienhuis Ik stel voor om een extra OnlineResource, zoals de wms en wfs link, toe te voegen met met protocol UKST als link naar de service-metadata.

[2016-12-08 14:27] gerardnienhuis commented on #309
aantal voorbeelden staan in de zip
[GeoWeb.zip](https://github.com/IDgis/geoportaal-test/files/639672/GeoWeb.zip)

[2016-12-08 14:28] gerardnienhuis commented on #347
ja, deze is daarom gesloten

[2016-12-08 14:28] #347 closed, assigned to copierrj

[2016-12-08 14:29] gerardnienhuis commented on #350
zie #309

[2016-12-08 14:30] gerardnienhuis commented on #372
Probleem bleek ook al op te treden als je bestand wilde toevoegen. We hebben getest met veel grotere bestanden en dat ging wel goed: wat is hier aan de hand dan?

[2016-12-08 14:41] SandroNeumann commented on #93
De GeoPublisher-viewer haalt op dit moment alle services van een bepaalde omgeving op. Voor deze wens hebben we twee opties:

- De service en alle lagen ophalen en dan vervolgens de laag waarvan in de stylesheet op geklikt is initieel aangevinkt en dus zichtbaar
- Alleen de specifieke laag ophalen en dus in de inhoudsopgave alleen de service als kopje tonen en 1 laag daaronder

[2016-12-08 14:43] gerardnienhuis commented on #358
als unknown service type klinkt goed idee: is nog steeds iso-19115 valide

Tekst in stylesheet wordt dan:

Beschrijving service: ... en dan url erbij.

[2016-12-08 14:44] SandroNeumann commented on #372
Meerdere mensen hebben tegelijkertijd iets opgeslagen die de memory heeft overschreden.

[2016-12-08 14:46] gerardnienhuis commented on #285
wens is om in rapport 1 kolom extra te krijgen, bronmetadata aanwezig

kan zijn: ja.. dan niets aan de hand
kan zijn: nee.. dan is de xml wel verwijderd, maar staat data nog in service

[2016-12-08 14:50] HermanAssink commented on #307
@copierrj Wil jij de globale impact (laag/middel/hoog) aangeven?

[2016-12-08 15:34] copierrj commented on #307
Oplossingsrichting: bij het itereren over metadata bestanden dmv een (xpath) filter bepalen of een record meegenomen moet worden. De vector provider slaat bestanden met 'grid' over en de raster provider slaat bestanden met 'vector' over.

[2016-12-08 15:41] gerardnienhuis commented on #372
https://admin.geoportaaloverijssel.nl/edit/0afc34da-dd6a-48d1-812e-73ae586794f5

[2016-12-08 15:42] gerardnienhuis commented on #372
deze moeten weg:

legenda150246_3.pdf 0.12 MB
legenda150246_Achter_de_Voort_3.pdf 0.08 MB

[2016-12-08 15:48] gerardnienhuis commented on #93
graag

•Alleen de specifieke laag ophalen en tonen

[2016-12-08 15:53] HermanAssink commented on #93
Dit werk wordt op 13 uren geschat.

[2016-12-08 15:59] copierrj commented on #203
Hoe pakken we dit op: deze situatie in de publicatieomgeving onmogelijk maken (dmv voorgestelde check), deze situatie opnemen in de rapportage, of beide?

[2016-12-08 16:00] copierrj commented on #155
Wat is hier het verschil tussen 'geodataset' en 'tabel'?

[2016-12-08 16:26] gerardnienhuis commented on #155
Tabel is iets wat geen geodata is dus bv alleen unfo per gemeente zonder dat dit is gekoppeld een geodataset van gemeenten

[2016-12-08 16:34] copierrj commented on #155
Dus een Oracle tabel zonder geometrie kolom?

[2016-12-08 16:41] gerardnienhuis commented on #155
Ja

[2016-12-08 16:42] gerardnienhuis commented on #155
Kijk voor voorbeelden in geoportaal en zoek nAar tabel
Zijn stuk of 30

[2016-12-08 17:02] SandroNeumann commented on #372
Bij het opslaan worden alle velden van de bijlages in de database opgehaald. Dit is dus ook de inhoud van de bijlage. Dit levert het memory probleem op. Ik begrijp dat dit tot milestone 1.1.3 kan wachten?

[2016-12-08 19:16] gerardnienhuis commented on #372
Heeft eigenlijk wel wat haast. Is er niets aan te doen nu? We hebben 1.1.0 getest met veel en grote bestanden en toen was er geen memory probleem. Is er iets veranderd dan? Of is het de grote hoeveelheid kleine bestanden die het probleem oplevert?

[2016-12-08 19:25] gerardnienhuis commented on #264
Merk op: als een kaart in het archief is geplaatst, dan moet het niet meer zichtbaar zijn in het interne of externe geoportaal. De werking wordt wat dat betreft vergelijkbaar met de "prullenbak".

Filteren op status "gearchiveerd" moet mogelijk zijn voor beheerders en plaatsen in en halen uit het archief ook alleen voor beheerders, vergelijkbaar met de werking van de prullenbak.

[2016-12-09 08:17] HermanAssink commented on #372
@gerardnienhuis Voor de duidelijkheid: wil je dat dit tegelijkertijd met 1.1.2 in productie komt?

[2016-12-09 08:21] HermanAssink opened #373 "Script maken om metadata met attribuutinfo bij Overijssel te kunnen aanvullen"
Overijssel heeft twee zips gestuurd:

-          GeoWeb.zip  (xml-files van metadata met attribuutinformatie)
-          Portal.zip (xml-files van metadata zonder attribuutinformatie)

Portal.zip bevat de metadata zoals die nu door de provider wordt gelezen. GeoWeb.zip bevat de zip met de metadata in het format (met attribuutinfo) zoals deze na realisatie van #4 gelezen moet worden. Vraag is om ee

[2016-12-09 08:31] gerardnienhuis commented on #372
Als dat praktisch uitvoerbaar is, dan graag. Mocht dat grote vertragingen opleveren, dan gaan wij werken aan een workaround (speelt slechts bij 1 statische kaart vooralsnog) en kan het in 1.1.3. Ik hoor graag of het vanmiddag bij de oplevering van 1.1.2. meekan, of dat het beter is dit uit te stellen tot oplevering 1.1.3.

[2016-12-09 08:40] gerardnienhuis commented on #373
Ik denk dat de oplossing, zoals gekozen voor statische kaarten bij oplevering 1.1.0 hier ook kan werken. Wij krijgen een script, wat Reinder hier intern kan installeren. Dat script levert vervolgens een CSV waarin wij als beheerders kunnen zien welke oracle tabellen nog moeten worden bijgewerkt. Niet alles staat nu al in de Geoweb.zip en dat is voor beheerders een klus om zelf uit te voeren. Zo'n

[2016-12-09 08:42] gerardnienhuis commented on #371
Merk op: bij intern geoportaal moet hier nog het woord Intern voor staan. Tekst intern Geoportaal wordt dan:

Intern: Welkom bij het Geoportaal van Overijssel.

[2016-12-09 08:57] NicoEilers commented on #373
merk op: er zitten ook "extra" bestanden in de folder van de geoweb bestanden. Deze hebben dus geen verwijzing meer naar de bestanden in de portal.zip. Het zou heel handig zijn als in de CSV deze "extra" bestandsnamen te vinden zijn.

[2016-12-09 09:03] NicoEilers commented on #199
nee, wij willen niet alle statussen in het rapport, dat zou veel te veel zijn, alleen de foutsituaties.

[2016-12-09 09:04] NicoEilers commented on #199
Dit issue heeft zoveel te maken met #345 dat ik deze in milestone 1.1.3 heb gezet

[2016-12-09 09:06] NicoEilers commented on #194
Het lijkt er op dat harvesten door NGR en PGR goed verloopt. Urgentie is hiermee niet erg groot. Kan t.z.t. opgepakt worden.

[2016-12-09 09:09] NicoEilers commented on #36
Mooi dat het zou kunnen werken, wordt getest op eigen laptop maar wel binnen openbare deel van Overijssel.

[2016-12-09 09:13] NicoEilers commented on #129
Het blijkt goed te werken. Dit issue kan naar "beheer" omdat op 1-2-2017 de verwijzing naar K:\BAB\Geo-informatie\2016 moet veranderen naar K:\BAB\Geo-informatie\2017

merk op: niet meteen op 1-1-2017 omdat de eerste maand nog gewerkt wordt in 2016

[2016-12-09 09:14] NicoEilers commented on #273
Dit blijkt goed te werken, issue kan gesloten

[2016-12-09 09:14] #273 closed, assigned to SandroNeumann

[2016-12-09 09:17] NicoEilers commented on #294
Merk op: nu zien we geen WMS of WFS, ook niet als een raster wel extern beschikbaar is in een service. De wens is om in dat geval wel de WMS link bij de details zichtbaar te hebben.

[2016-12-09 09:19] NicoEilers commented on #313
Issue kan gesloten worden.
GML worden al geleverd.

[2016-12-09 09:19] #313 closed, assigned to nobody

[2016-12-09 09:32] NicoEilers commented on #110
Kan dit al in 1.1.3 meegenomen?

[2016-12-09 09:48] HermanAssink commented on #110
T.b.v. schatting overgezet naar 1.1.3. Als het budget overschreden dreigt te worden opnieuw bezien.

[2016-12-09 09:48] NicoEilers commented on #293
kan dit nog meegenomen worden in 1.1.3.?

[2016-12-09 09:55] HermanAssink commented on #372
Het fixen kost niet veel tijd. Willen jullie hetzelfde geval invoeren op de acc.omgeving zodat het daar getest kan worden? Na de lunch staat de nieuwe versie op acc.

[2016-12-09 10:18] gerardnienhuis commented on #372
vreemd dat dit nu ook lijkt op te treden bij toevoegen van grote datasets: ik heb er 5 van 22 Mb toegevoegd: bij eerdere testen ging dat goed, als ik deze opsla, dan werkt dat ook, maar als ik er 1 bij wil zetten, dan werkt dat niet meer. Bij eerdere testen (1.1.0) leek dat wel goed te gaan.

testbestand:
https://acc-admin.geoportaaloverijssel.nl/metadata/0534a67f-667a-4be3-a370-0e5e5b6aa62a

[2016-12-09 11:15] gerardnienhuis opened #374 "Kwekkeboom toevoegen als leverancier"
Graag Geraldine Kwekkeboom toevoegen als leverancier van statische kaarten.

email adres is: g.kwekkeboom@overijssel.nl

[2016-12-09 11:31] gerardnienhuis opened #375 "Atlas van Overijssel url in Geoportaal"
Als de nieuwe Atlas van Overijssel operationeel is, dan is het belangrijk dat ook de doorverwijzing vanuit het Geoportaal naar de Atlas goed werkt. De WMS viewer wordt dan vervangen door de url naar de Atlas.

Ter overwerging: een extra OnlineResource, toe te voegen met protocol UKST als link naar de url van de kaart in de Atlas.

n.b.: nog onderzoeken of dit met Geosticker of op een andere manier

[2016-12-09 12:45] NicoEilers opened #376 "Aangeven dat WMS beschikbaar mag komen"
Het is nodig voor de publicatieomgeving dat er naast WMS en WFS tegelijk, er ook de mogelijkheid komt om alleen een WMS beschikbaar te stellen.

Dat wil zeggen: er staat niet "downloadable data" maar er staat wel "WMS extern beschikbaar" in de metainformatie. Dat moet voor de publicatieomgeving helder maken wat de rechten zijn hiervoor.

Er zijn dan 3 soorten:

1) downloadable data (WMS en WFS bes

[2016-12-09 13:36] copierrj commented on #209
waarin is dit issue anders dan #278?

[2016-12-09 13:39] copierrj commented on #199
Als we geen foutsituaties gaan opnemen, wat is dan het wijzigingsvoorstel?

[2016-12-09 13:57] copierrj commented on #204
Het verwijderen kan op twee plaatsen geïmplementeerd worden:

- in de publicatieomgeving: dit zorgt ervoor dat de urls verdwijnen in het geoportaal  en ook in NGR/PGR.
- in het geoportaal: in NGR/PGR blijven de niet werkende urls zichtbaar.

Wat heeft hier de voorkeur?

[2016-12-09 14:11] gerardnienhuis commented on #209
issue is hetzelfde als #278 Dit issue is daarom gesloten

[2016-12-09 14:11] #209 closed, assigned to copierrj

[2016-12-09 14:16] gerardnienhuis commented on #278
Wens is om 2 kolommen in de rapportage geodatasets toe te voegen:

De ene extra kolom heet: "Creative commons":
de waarden in deze kolom zijn "ja"  of "nee"

De situatie "ja" geldt voor de aanwezigheid van 2 verschillende waarden:

http://creativecommons.org/publicdomain/mark/1.0/deed.nl
http://creativecommons.org/publicdomain/zero/1.0/deed.nl

Als dus 1 van beide stukjes tekst voorkomen, dan is "

[2016-12-09 14:25] gerardnienhuis commented on #372
Probleem is opgelost: 15 bijlagen bij 1 statische kaart toegevoegd, 22 mb per stuk. Niet alleen toevoegen maar ook verwijderen gaat nu weer goed. Issue kan gesloten

[2016-12-09 14:25] #372 closed, assigned to SandroNeumann

[2016-12-09 14:26] copierrj commented on #203
Zoals telefonisch besproken: in de publicatieomgeving kunnen aangemaakte services enkel gepubliceerd worden nadat deze aan een aantal voorwaarden voldoen.

Hieraan wordt de voorwaarde dat de service ten minste een enkele laag bevat toegevoegd.

Bij het deployen van deze wijziging zal gekeken moeten worden of er op dat moment gepubliceerde services zonder lagen zijn.

[2016-12-09 14:28] gerardnienhuis commented on #361
tekst ziet er nu goed uit, issue kan gesloten

[2016-12-09 14:28] #361 closed, assigned to SandroNeumann

[2016-12-09 14:31] gerardnienhuis opened #377 "Helpteksten naar elkaar laten verwijzen"
De helptekst en de "over deze site" bevat voor een deel dezelfde informatie. Op termijn te overwegen om niet dubbele tekst op te nemen, maar om door te linken.

Bij de Over deze site kan dan minder tekst komen. De tekst " Wil je meer weten over zoeken in deze site, kijk dan hier verder" En dan wordt je doorverwezen naar de helptekst die nu al aanwezig is bij het zoeken.

[2016-12-09 14:35] #199 closed, assigned to copierrj

[2016-12-09 14:38] copierrj commented on #204
Zoals telefonisch besproken: urls die tijdens het harvesten niet bleken te werken worden door de publicatieomgeving verwijderd uit de metadata.

[2016-12-12 09:20] gerardnienhuis commented on #36
Dit werkt nog niet goed: als ik publieke netwerk van Overijssel gebruik in het openbare deel van het provinciehuis, dan kan je het interne geoportaal gewoon benaderen. Dat is niet de bedoeling

[2016-12-12 09:58] HermanAssink commented on #36
Wat is je publieke IP-adres als je het publieke netwerk van Overijssel gebruikt in het openbare deel van het provinciehuis?
Je kunt dat vinden met bijv. deze site: http://www.whatsmyip.org/

[2016-12-12 11:39] gerardnienhuis commented on #36
Intern Overijssel, dus binnen het afgeschermde, niet openbare gedeelte: Your IP Address is 000000000000

Van: Herman Assink [mailto:notifications@github.com]
Verzonden: maandag 12 december 2016 10:59
Aan: IDgis/geoportaal-test
CC: Nienhuis, G (Gerard); Author
Onderwerp: Re: [IDgis/geoportaal-test] Beveiliging inlog en ip-whitelist (#36)

Wat is je publieke IP-adres als je het publieke netwerk van

[2016-12-12 11:48] gerardnienhuis commented on #36
hallo Herman

Ik zit nu in het openbare deel van de provincie en met mijn laptop ben ik ingelogged op het openbare netwerk:

Your IP Address is 000000000000000000000

dat IP adres moet dus in ieder geval uit de whitelist gehaald worden, denk ik

Graag hoor ik de impact hiervan

Zou dan het beveiligingsprobleem inderdaad zijn opgelost?

vrgr
Gerard

________________________________________
Van: Nie

[2016-12-12 11:53] HermanAssink commented on #36
@gerardnienhuis En wat is je interne IP-adres? Hopelijk is dat niet hetzelfde anders moet dit in het netwerk van Overijssel worden aangepast.

[2016-12-12 12:54] HermanAssink commented on #36
Issue wordt meegenomen bij 1.1.3 met de veronderstelling dat hiervoor alleen de IP-whitelist aangepast hoeft te worden.

[2016-12-14 10:08] gerardnienhuis commented on #36
ip adressen aangepast: er staat nu 000000000000 ipv het echte adres

[2016-12-14 10:59] SandroNeumann commented on #374
Ze is toegevoegd.

[2016-12-14 14:48] gerardnienhuis commented on #374
inloggen is goed gegaan, issue kan gesloten

[2016-12-14 14:48] #374 closed, assigned to nobody

[2016-12-14 14:50] gerardnienhuis commented on #93
Wens is om viewer in apart tabblad te openen, op maximale grootte.

[2016-12-15 09:00] SandroNeumann commented on #340
**@copierrj**: Je zou in de publisher in de methode van het renderen van de metadata ook een noStyle parameter op moet geven, waarmee je de kale XML kunt zien. Zodat deze wens ook in de publisher gaat werken.

[2016-12-15 09:55] SandroNeumann commented on #349
**@copierrj**: je moet hier de sql voor de service rapportage maken

[2016-12-15 10:21] copierrj commented on #349
Een aantal van de gevraagde gegevens (met name die de technische status van de service betreffen) zijn niet (of erg lastig) te leveren.

[2016-12-15 17:29] gerardnienhuis commented on #309
Is dit niet zelfde als #350 lijkt het. Als ze hetzelfde zijn, dan kan 1 van beide issues gesloten worden.

[2016-12-16 08:07] gerardnienhuis opened #378 "In Geoportaal alternatieve services opnemen"
In Geoportaal ook services beschtijven die niet met eigen data zijn gemaakt Dat zijn services die door andere partijen voor Overijssel gemaakt worden

[2016-12-16 09:40] robstek commented on #359
Kolom "geoportaal_extern" toevvoegen: ja / nee.
ja indien vlag "geoportaal extern" (technisch: metadata_confidentional==true)

[2016-12-16 09:41] robstek commented on #349
nieuwe rapportage

status van de laag == status van de dataset
elke laag in service krijgt csv rij.
alleen gepubliceerde services.
status waarden: "brondataset afwezig (=deleted vlag bd set)", "structuurwijziging (=import job met notificatie)", "brondataset stuk (=type bd set is unavailable)"

[2016-12-16 09:53] robstek commented on #285
zie #349

[2016-12-16 09:56] robstek commented on #285
er kunnen fout situaties optreden bij rasters, dit is gevolg van de huidige werkwijze

een andere issue (#...) gaat rasters en vectoren scheiden

[2016-12-16 10:01] robstek commented on #278
maak twee kolommen CC: CC_mark en CC_zero

[2016-12-16 10:12] robstek commented on #206
url's checken conform standaard (bijv met regex)

RFC standaard : https://tools.ietf.org/html/rfc3986

[2016-12-16 10:23] robstek opened #379 "Alleen self contained documenten als bijlage downloaden"
niet http://www.natura2000.nl, wel ...../abcd.pdf

mimetype gebruiken om onderscheid te maken?

[2016-12-16 10:27] robstek opened #380 "Rapportage geodata: (mime)type van de bijlage in een kolom toevoegen"

[2016-12-16 10:31] robstek commented on #203
zie #349 extra kolom met aantal lagen per service
Bovenstaande oplossing (voorgestelde constraint) vervalt hiermee

[2016-12-16 10:37] robstek commented on #155
wordt afgeleid uit het ruimtelijk schema in de metadata

[2016-12-16 10:38] robstek opened #381 "Rapportage Geodata: ruimtelijk schema inconsistent met data"
voorbeeld : vector data in ruimtelijke schema, maar data zonder geometrie kolom

[2016-12-16 10:44] robstek commented on #110
NB voor rasterdata verdwijnt de WFS url (zie issue #  )

[2016-12-16 10:47] robstek commented on #110
ad 3. domein uit url weglaten, indien domeinnaam technisch lastig vast te stellen is

voorbeeld:
http://services.geodataoverijssel.nl:80/geoserver/B42_energie/wfs
wordt:
/geoserver/B42_energie/wfs

[2016-12-16 11:18] robstek commented on #4
extra element "uitgevoerde bewerkingen" toevoegen.
kolom zonder beschrijving niet opnemen.
overbodige kolommen wegfilteren .
bij geen kolommen na wegfilteren: element "uitgevoerde bewerkingen"  geheel weglaten.

voorbeeld (zie bij Details):
https://www.geoportaaloverijssel.nl/metadata/dataset/f512e2cd-026b-4196-8ec1-f510ac337975

[2016-12-16 11:29] robstek opened #382 "Rapportage Geodata: aantal kolommen bij datasets"
aantal kolommen totaal
aantal kolommen met niet-lege beschrijving

Het gaat hier om de attribuut informatie

[2016-12-16 11:35] robstek opened #383 "Bij download de ongefilterde brondata downloaden"

[2016-12-16 11:36] robstek opened #384 "In rapportage geodata opnemen welke/hoeveel kolommen en rijen zijn gefilterd"

[2016-12-16 11:38] robstek opened #385 "Toegepaste filtering op rijen van brondata, in metadata opnemen"
voorbeeld:

wilde planten, gefilterd op soort = "pinksterbloem"

[2016-12-16 11:54] robstek opened #386 "Eventueel controleren of de metadata van attributen consistent is met de tabel"

[2016-12-16 11:57] robstek opened #387 "Tabelnaam uit Esri metadata halen ipv alternate titel"

[2016-12-16 12:04] robstek commented on #93
Indien weinig impact, dan ook voor services

[2016-12-16 12:06] robstek commented on #93
Niet alleen link in lijst van zoekresultaten, maar ook in de details van metadata.

In ieder geval bij geodata, indien weinig impact ook bij services

of in metadata xml  (bij voorkeur) of in stylesheet opnemen

[2016-12-16 12:16] robstek commented on #93
Ook opnemen bij tabblad "Wat".

Link tekst wordt: "Bekijk de kaart in een viewer" tussen Samenvatting en Voorbeeld met witregels.

Bij "Wat" mag maar 1 link staan, ook als bij "Details" er meer staan.

wordt uitgezocht hoe technisch op te lossen

[2016-12-16 13:54] gerardnienhuis commented on #387
Nu wordt alternatieve titel gebruikt om te bepalen op welke dataset de metadata betrekking heeft. Het lastige is, dat dit met hand moet worden ingevoerd in Geosticker. Het zou handig zijn als dit automatisch gedaan kan worden. Die mogelijkheid is ontstaan omdat voor 1.1.3 de geoweb xml variant van Esri wordt gebruikt.

[2016-12-16 13:58] gerardnienhuis commented on #386
Er zijn veel controles bedacht, voor foutsituaties. Eén van deze controles zou moeten zijn: controleren of de aanwezige beschrijving van de attributen overeenkomt met de aanwezigheid van die attributen in de geodataset. Je kan bijvoorbeeld eerst als beheeder een volledige beschrijving hebben gemaakt en ook deze hebben opgeslagen. Maar als er dan een verandering aan de tabel wordt uitgevoerd, bijvo

[2016-12-16 14:06] gerardnienhuis commented on #385
Je kan in de publicatieomgeving filteren op de inhoud van datasets

Dat dit is gedaan, dat zou opgenomen kunnen worden In rapportage van Geodata (zie #384)

Maar of en hoe het in metadata terecht moet komen, dat weet ik nog niet zeker. Uitzoeken t.z.t.

[2016-12-16 14:09] gerardnienhuis commented on #384
Je kan in de publicatieomgeving filtering toepassen. Maar je weet niet, op welke datasets dat is toegepast, als je nu de rapportage van Geodata bekijkt. Wens is om in rapportage van Geodata dit zichtbaar te maken.

[2016-12-16 14:11] gerardnienhuis commented on #383
Als bij Geodata in de publicatieomgeving een filtering wordt toegepast, dan wordt bij de download het gefilterde bestand geleverd. De wens is om de volledige brondata te leveren, en niet de gefilterde versie.

Risico nu is, dat je data levert, waarvan de metadata van de attributen niet klopt.

[2016-12-16 14:14] gerardnienhuis commented on #382
Wens is om het aantal verschillende attributen bij een dataset in de rapportage van Geodata op te nemen. Ook in dat rapport moet komen: aantal kolommen (attributen) waarvan de omschrijving van de attributen niet leeg is. Je kan dan als beheerder dat rapport kunnen gebruiken om te kijken of er veel geodatasets zijn, waar nog erg weinig (of juist heel veel) info over attributen is ingevuld.

[2016-12-16 14:17] gerardnienhuis commented on #381
Wens is om in het rapport Geodata aan te geven of er wel of niet fouten voorkomen in de beschrijving in de metadata van het type bestand. Tabellen bijvoorbeeld hebben geen ruimtelijk schema. Dan is het dus niet logisch dat een tabel omschreven wordt als het type vector (te controleren door aan- of afwezigheid van geometriekolom)

[2016-12-16 14:23] gerardnienhuis commented on #380
De bedoeling is, dat in het rapport Geodata, zichtbaar is, welk soort bijlage is gekoppeld bij de extra informatie. Mimetype is mogelijk vrij technisch maar lijkt wel goed zichtbaar. Dan is ook direct voor beheerders te zien, welke html verwijzingen naar externe websites nog aanwezig zijn.

[2016-12-16 14:26] gerardnienhuis commented on #379
nu wordt bij een webpagine de html als bestand downloadbaar gemaakt. Dat levert vreemde situaties op. In kader van beheer wordt gestreefd naar het voorkomen van verwijzingen naar externe pagina's. Maar als ze er zijn, dan moeten ze gewoon wel ongewijzigd in de metadata in de stylesheet zichtbaar zijn.

[2016-12-16 14:30] copierrj commented on #340
@SandroNeumann: duidelijk. Vraag me echter af hoe dit gaat werken voor gedownloade metadata documenten?

[2016-12-16 14:32] copierrj commented on #309
@gerardnienhuis: lijkt mij idd een duplicaat issue.

[2016-12-16 14:32] #309 closed, assigned to copierrj

[2016-12-19 12:41] robstek commented on #311
Moet deze tekst ook worden toegevoegd aan de mail die wordt verstuurd als de download niet is gelukt?
Waar zou je deze tekst in de zip willen hebben, in een apart bestand ?

[2016-12-19 14:01] gerardnienhuis commented on #311
ik wil deze tekst in alle mails hebben die verzonden wordt, dus ook als de download om 1 of andere reden niet is gelukt. De tekst wil ik dus in de mail die je ontvangt bij downloaden, niet in de zip of een apart bestand.

[2016-12-20 14:36] SandroNeumann commented on #93
De viewer is aangepast.

Todo: xml en de stylesheet aanpassen

[2016-12-21 11:18] SandroNeumann commented on #93
Bij het genereren van de url in de XML moet een onderscheid gemaakt worden of de laag in de service op hoofdniveau of in een groepslaag zit:

Voorbeeld:

Hoofdniveau:
http://acc-services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna/B4_Weidevogel_en_ganzengebieden

In een groepslaag:
http://acc-services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna/B47_flora_en_fauna:B4_Weidevogel_en

[2016-12-22 12:19] gerardnienhuis opened #388 "WMS extern zichtbaar"
Wens is om een WMS wel via de publicatieomgeving voor externen zichtbaar te laten zijn, terwijl de WFS niet zichtbaar is. Hiervoor is in Geosticker een nieuwe omschrijving gemaakt: WMS extern zichtbaar.
Als "WMS extern zichtbaar"  in de metadata staat, maar niet "downloadable data" dat moet wel de WMS en niet de WFS beschikbaar zijn.

Publicatieomgeving moet hiervoor ook worden aangepast.
Mogelijk

[2016-12-22 12:21] gerardnienhuis opened #389 "Rapportage geodatasets wms extern beschikbaar"
In de rapportage voor Geodatasets een extra kolom opnemen, met als titel WMS extern.
Deze is "ja" als in de metadata staat "WMS extern beschikbaar" en "nee"  als dit er niet staat

hang samen met #388

[2016-12-22 14:46] gerardnienhuis commented on #287
Er zijn nu vooral 3 wensen, waarvoor notificatie in pub omgeving wordt gevraagd.
Beheerder wil dat direct zien in pub omgeving:

•nieuw brondataset
•brondataset niet langer aanwezig
•brondataset niet langer beschikbaar (= VECTOR/RASTER -> UNAVAILABLE)

[2016-12-22 17:48] SandroNeumann commented on #110
Het eerste punt:

dataset afwezig (zie hieronder)
metadata en data alleen intern
metadata extern en data niet downloadable
metadata extern en data downloadable

Dataset afwezig wordt al gedaan door issue #285, metadata extern of intern wordt gedaan door issue #359 en downloadable wordt gedaan door issue #278.

Het derde punt komt in het rapport van de services te staan en lijkt hier overbodig.

[2016-12-22 17:57] gerardnienhuis commented on #110
@SandroNeumann  : ... Het derde punt komt in het rapport van de services te staan en lijkt hier overbodig.

Dat is niet overbodig: het is heel erg handig als je in rapport van geodata ook direct de url van de services hebt.

[2016-12-30 09:10] SandroNeumann opened #390 "Logo in stylesheet kunnen aanpassen per klant"

[2017-01-02 14:18] SandroNeumann commented on #350
Het herhalende element voor dit onderdeel is processStep onder dataQualityInfo/DQ_DataQuality/lineage/LI_Lineage

[2017-01-03 13:31] gerardnienhuis commented on #323
ik kan de awstats teller niet gebruiken, maar mogelijk omdat het IP adres niet bekend is?
Op verzoek van @SandroNeumann hierbij mijn ip adres:

Your IPv6 Address Is:  2a00:7940:0:327:1:982b:d0cb:c3c0

[2017-01-03 16:05] SandroNeumann commented on #323
En je IP4 adres?

[2017-01-04 06:02] HermanAssink commented on #323
Hiervoor kunnen we toch dezelfde IP-adressen gebruiken als de beveiligde services van de publicatieomgeving?

[2017-01-04 06:41] gerardnienhuis commented on #323
ja, zijn de zelfde als in #36

[2017-01-04 06:47] gerardnienhuis commented on #368
De extra teksten en help-teksten in de website zijn mogelijk ook aan te passen, per organisatie. Helpteksten zijn onder meer te vinden bij "help" bij het onderdeel zoeken en ook bij "over deze site". Extra tekst is te vinden bij "contact" bijvoorbeeld. Door de verschillende organisaties zelf te laten bepalen wat deze teksten worden, zou het gebruik per organisatie mogelijk nog makkelijker bruikbaa

[2017-01-04 08:21] SandroNeumann commented on #323
Die worden gebruikt, vandaar mijn vraag van welk ip4 adres de awstats pagina is geprobeerd te bereiken.

[2017-01-04 09:43] gerardnienhuis commented on #323
Is hier van mijn kant nog extra input nodig?

[2017-01-04 09:47] gerardnienhuis commented on #334
zelfde als #93, is dubbel, dit issue gesloten worden.

[2017-01-04 09:50] gerardnienhuis commented on #388
zelfde als #376

[2017-01-04 09:50] gerardnienhuis commented on #376
zelfde als #388, daarom dit issue gesloten

[2017-01-04 09:50] #376 closed, assigned to nobody

[2017-01-04 12:16] HermanAssink commented on #323
@gerardnienhuis : Vraag aan jou is vanaf welke locatie jij het probleem hebt geconstateerd. Je zou namelijk vanuit het provinciehuis erbij moeten kunnen. Net zoals je vanuit het provinciehuis bij het interne geoprtaal kunt.

[2017-01-04 12:55] gerardnienhuis commented on #323
Ik kon vanuit het provinciehuis niet bij de teller. Ik kan wel altijd vanuit het proviciehuis het interne Geoportaal benaderen.

[2017-01-05 12:56] gerardnienhuis opened #391 "Email adres default invullen als eenmaal is ingevuld"
Als je inlogt bij het beheerdeel van het Geoportaal, dan moet je steeds opnieuw je emailadres opgeven. Dat is vreemd en onhandig, want als je één keer je email adres hebt opgegeven, dan is de kans zeer groot dat, binnen eenzelfde sessie, dezelfde gebruiker iets wil.

Zo moet je bij voorbeeld bij een vergeten wachtwoord eerst je emailadres opgeven om het wachtwoord te herstellen. Maar in het vervol

[2017-01-06 12:09] gerardnienhuis commented on #373
Ik heb de eerste voorbeelden gezien vandaag en heb nu 2 vragen:

1) wat stellen de excelfiles voor? Ik heb 2 voorbeelden van excelfiles gezien, met schijnbaar wisselende inhoud, maar kan niet goed beoordelen wat nu waarin staat.

2) kan de formatering (veldscheiding) van de excel iets makkelijker worden gemaakt voor gebruikers?
De csv files die output zijn van het onderdeel Rapportage, die zijn er

[2017-01-06 13:39] copierrj commented on #287
@gerardnienhuis: is voor 1.1.4 enkel deze 3 wensen in scope?

[2017-01-06 13:43] gerardnienhuis commented on #287
Nee
We overwegen ook alle issues met lage impact van 1.2 mee te vragen maar er zijn nog enkele issues van 1.2 die geen inschatting van impact hebben

Verstuurd vanaf mijn iPhone

Op 6 jan. 2017 om 14:39 heeft Reijer Copier <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@gerardnienhuis<https://github.com/gerardnienhuis>: is voor 1.1.4 enkel deze 3 wensen in sc

[2017-01-06 13:45] copierrj commented on #287
Ik bedoelde: zijn de andere wensen zoals beschreven in eerder commentaar in dit issue (bijv. gebreken in metadata) buiten scope voor 1.1.4?

[2017-01-06 14:05] copierrj commented on #287
Zoals telefonisch besproken heeft dit issue betrekking op het realiseren van de volgende nieuwe notificaties in de publicatieomvinging:

- nieuw brondataset
- brondataset niet langer aanwezig
- brondataset niet langer beschikbaar (= VECTOR/RASTER -> UNAVAILABLE)

[2017-01-06 18:30] gerardnienhuis commented on #371
er ontbreekt, in ieder geval bij het externe geoportaal 1 woord: van

er staat:
Welkom bij het Geoportaal Overijssel

er moet staan:
Welkom bij het Geoportaal van Overijssel

[2017-01-06 18:35] gerardnienhuis commented on #93
Zou voor alle geodata waarbij een wms is gemaakt, moeten werken.
Als een download link aanwezig is, dan is er een wms en wfs, dus moet altijd link naar viewer er zijn.
Is niet altijd het geval. Hieronder 2 voorbeelden waar het wel goed werkt en 8 voorbeelden waar nog aandacht nodig is.

**voorbeeld 1:**
Bestandsnaam: Kansrijk zoekgebied voor windenergie
http://acc-services.geodataoverijssel.nl/vie

[2017-01-06 19:46] gerardnienhuis commented on #334
Het opnemen van de link naar de viewer is wel gerealiseerd (conform #93) maar in de zoekresultaten is dit niet opgenomen. De link naar de viewer moet ook zichtbaar zijn in de zoekresultaten.

Er staat nu: Meer informatie Download

Er moet komen te staan: Meer informatie Bekijk in viewer Download

[2017-01-06 19:49] gerardnienhuis commented on #93
Merk op: de link had ook in de lijst van zoekresultaten moet staan, daar ontbreekt dit ook nog.
zie ook opmerking van @robstek van 16 december 2016.

[2017-01-06 19:50] gerardnienhuis commented on #334
kan hier gesloten worden, blijkt exact hetzelfde als #93

[2017-01-06 19:51] gerardnienhuis commented on #93
Merk op: de link had ook in de lijst van zoekresultaten moet staan, daar ontbreekt dit ook nog.
zie ook opmerking van mij van 8 december en van @robstek  van 16 december 2016.

Bij zoekresultaten ontbreekt de link nog. Er staat nu:

Meer informatie Download

Dat wordt dan:

Meer informatie Bekijk kaart Download

Omdat de lagen van de services ook bekeken kunnen worden, is het logisch als ook bij d

[2017-01-06 19:54] gerardnienhuis commented on #93
Ook opvallend en nog niet goed:

Bestandsnaam: Actueel Hoogtebestand Nederland2, grid 5x5meter
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/62dfd05f-d53d-4f29-8154-f63eadad9301
hier staat wel link naar viewer
http://acc-services.geodataoverijssel.nl/viewer/layer/Raster/B0_Actueel_Hoogtebestand_Nederland_AHN5

De viewer opent ook, je ziet achtergrondkaart maar er komt geen kaartbeeld va

[2017-01-06 20:19] gerardnienhuis commented on #340
werkt goed,
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/62dfd05f-d53d-4f29-8154-f63eadad9301 getest met IE, FF, Opera en Chrome.

Tevens veel andere kaarten getest met Chrome

Kaarten worden goed op scherm zichtbaar,
 issue kan gesloten worden

[2017-01-06 20:19] #340 closed, assigned to SandroNeumann

[2017-01-06 20:25] gerardnienhuis opened #392 "Verwijzing naar XML in details bij de overige urls"
Nu staat de verwijzing naar de xml onderaan bij de details, terwijl veel andere urls bij elkaar staan, bovenin de pagina met details.

zie #340

Wens is om de url met xml op een andere plaats zichtbaar te maken bij de details: onder de reeds aanwezige urls. Voorstel:
1) Link download, gescheiden door witregel
2) link naar website en xml, daarna weer witregel
3) link naar wms en wfs, daarna weer wi

[2017-01-06 20:29] gerardnienhuis commented on #293
werkt goed, getest met meerdere statische kaarten, zoals
https://acc-www.geoportaaloverijssel.nl/metadata/dc/BA7A7D80-2C5D-4C35-B927-769782B29D75
pdf naam staat nu veel beter in de stylesheet, meer overzichtelijk en pdf-naam nu goed te onderscheiden.

issue kan gesloten.

[2017-01-06 20:29] #293 closed, assigned to SandroNeumann

[2017-01-06 20:39] gerardnienhuis commented on #390
logo ziet er goed uit, issue kan gesloten

[2017-01-06 20:39] #390 closed, assigned to SandroNeumann

[2017-01-06 20:49] gerardnienhuis commented on #367
getest, blijkt goed te werken, link kan nu direct vanuit email geopend worden
download wordt correct gestart
issue kan gesloten

[2017-01-06 20:49] #367 closed, assigned to robstek

[2017-01-06 21:09] gerardnienhuis commented on #349
Naam van de service: Adressen
https://acc-www.geoportaaloverijssel.nl/metadata/service/2f1dddea-bd73-4177-bd32-153fdaeb6eed

Bij WAT staat in de metainformatie, dus geen lagen aanwezig?
volgens rapportage over services zijn er wel 2 lagen aanwezig.

Wat klopt er niet? Stylesheet of rapport services

Samenvatting: De service bevat informatie over adressen. Dit betreft zowel de locaties van de adres

[2017-01-06 21:15] gerardnienhuis commented on #271
2 van de 3 wensen werken nu goed:

goed werkt:

1.uitgebreid zoeken en bladeren: default resultaten uitklappen
2.ondersteepte bestandsnaam in zoekresultaten niet meer onderstreept maken

niet goed werkt:
3.thumbnail aanklikken zorgt voor tonen van voorbeeldplaatje in apart scherm

aanklikken van thumbnail geeft geen effect, muispointer verandert wel, als je op thumbnail gaat staan, maar klikken to

[2017-01-09 08:36] gerardnienhuis opened #393 "Samenvatting van laag in service makkelijker overnemen vanuit geoportaal"
Nu worden samenvattingen van lagen van services "met de hand" overgenomen uit de metadata van de betreffende lagen die in een service zitten. Wens is om dat meer te automatiseren, bijvoorbeeld door notificatie (of rapportage) zodat je kan zien wat er is veranderd aan de samenvattingen, met als optie bijvoorbeeld in de publicatieomgeving om de nieuwe samenvatting over te nemen en eventueel daarna n

[2017-01-09 08:38] gerardnienhuis opened #394 "Naam bestand en services in viewer"
Als je nu de viewer voor bestanden en services opent, dan zie je nergens in het nieuwe scherm, om welk bestand of welke service het gaat. Voorstel: bovenin naam van bestand of service opnemen.

[2017-01-09 08:40] gerardnienhuis opened #395 "Viewer services tree met lagen openklappen bij openen"
Nu zie je, als je de viewer met een bepaalde service opent, niets. Je moet als gebruiker eerst de tree openklappen, voordat je verder kan. Logischer is het als je meteen als ziet, welke lagen er is (tree default bij opstarten van viewer opengeklapt bij een service).

[2017-01-09 08:42] gerardnienhuis opened #396 "Link naar metadata van lagen en services vanuit viewer"
Als je de viewer opstart, dan kan je nergens zien, wat de metadata is van een betreffend bestand. Dat is onhandig, zeker als je de service met meerdere lagen bekijkt in de viewer. Zou het mogelijk zijn om met een (i) ook direct een link te krijgen naar de metadata van een laag of de service zelf?

[2017-01-09 08:54] HermanAssink commented on #388
@gerardnienhuis Bij sommige viewers, zoals Flamingo, kun je geen FeatureInfo doen als er geen WFS bij de WMS beschikbaar is. Is dit geen bezwaar?

[2017-01-09 09:21] gerardnienhuis commented on #388
Nee
Wij koppelen dan direct met onze interne database

[2017-01-09 09:39] robstek commented on #370
Getest met "Aanwijzing foerageergebieden voor ganzen en smienten"

extern:
https://acc-download.geoportaaloverijssel.nl/download/cc887358-bd56-4f5d-a39c-b5c4bf28ab6a

Intern:
https://acc-intern-download.geoportaaloverijssel.nl/download/cc887358-bd56-4f5d-a39c-b5c4bf28ab6a

Bevindingen:

Zowel leesmij.xml extern als intern bevat de tekst :
[code]
intern leesmij.xml bevat niet de string 'intern'.

V

[2017-01-09 11:29] gerardnienhuis opened #397 "http://geoportaaloverijssel.nl komt uit op site IDGis"
als ik http://geoportaaloverijssel.nl opstart
dan wil ik uitkomen op: https://www.geoportaaloverijssel.nl

als ik op dit moment http://geoportaaloverijssel.nl opstart
dan kom ik uit op: http://geoportaaloverijssel.nl/nl/

[2017-01-09 11:36] gerardnienhuis commented on #373
merk op: de daadwerkelijke aanvulling met attribuutinformatie dat moet voor iedere nieuw aangeboden set metadata voor een geodataset worden uitgevoerd. Het is dus geen eenmalige actie. De eenmalige actie betreft het voorbereiden voor voor de beheerders van Overijssel voor  het gebruik van de folder met andere type xml's.

Merk op: In de geoweb folder staan de xml's met attribuutinformatie, in de g

[2017-01-09 14:37] HermanAssink opened #398 "Metadata terug te vinden in GeoSticker mbv UUID?"
Zoals besproken gaat de UUID in het metadatabestand gebruikt worden om de metadata te identificeren. Kunnen we er vanuit gaan dat beheerders betreffende metadata in GeoSticker terug kunnen  vinden met betreffende UUID uit een rapportage?

[2017-01-09 16:59] SandroNeumann commented on #371
Het woordje "van" staat er nu tussen.

[2017-01-09 17:03] SandroNeumann commented on #93
De error meldingen kwamen allemaal door een bug, die is nu opgelost. Verder wordt de pagina van één service nu standaard uitgeklapt weergegeven en staat op de pagina van de laag de service en laagnaam vermeld.

De link in het geoportaal (a la Meer informatie en Download) per record moet nog gedaan worden.

[2017-01-10 08:07] gerardnienhuis commented on #93
Wens is om naast bovenstaande 3 situaties ook de veranderingen als notificatie weer te geven van onderstaande 2 statussen:

- downloadable data
- alleen WMS beschikbaar

[2017-01-10 08:09] gerardnienhuis commented on #93
Bovenstaande melding hoort bij 114 wordt straks verplaatst

[2017-01-10 09:02] SandroNeumann commented on #391
Dit is iets wat je in de browser zelf moet doen, door het als cookie op te slaan. Kun je doen wanneer je inlogt en dan rechtsoven op opslaan te klikken.

[2017-01-10 09:18] SandroNeumann commented on #243
Zelfde als #349

[2017-01-10 09:23] copierrj opened #399 "Originele metadata bestandsnaam in bewaren"
Bewaar de originele metadata bestandsnaam zodat deze opgenomen kan worden in rapportage en uiteindelijke metadata.

[2017-01-10 10:11] gerardnienhuis commented on #93
geweldig, naam en uitklappen zijn beslist van grote toegevoegde waarde. eerste testen zijn succesvol afgerond inmiddels

[2017-01-10 10:11] gerardnienhuis commented on #287
Wens is om naast bovenstaande 3 situaties ook de veranderingen als notificatie weer te geven van onderstaande 2 statussen:

•downloadable data
•alleen WMS beschikbaar

[2017-01-10 10:14] gerardnienhuis commented on #399
Dit kan op termijn zinvol zijn, bijvoorbeeld als je een rapportage hebt, en je vergelijkt de naam van het metadatabestand met de alternatieve titel: deze moeten vergelijkbaar zijn, maar bij typefouten van beheerders kunnen hier verschillen optreden.

Originele bestandsnaam in metadata opnemen lijkt niet meer zinvol omdat uit de Geoweb folder wordt gelezen.

[2017-01-10 10:18] gerardnienhuis commented on #391
kan dat cookie niet default worden opgeslagen bij 1e keer inloggen?

[2017-01-10 10:47] SandroNeumann commented on #391
Nee, daar is een handeling van de gebruiker voor nodig.

[2017-01-10 11:36] gerardnienhuis commented on #323
issue kan gesloten, blijkt nu wel te werken
https://acc-awstats.geoportaaloverijssel.nl/cgi-bin/awstats.pl
 levert zinvol beeld op

[2017-01-10 11:36] #323 closed, assigned to SandroNeumann

[2017-01-10 12:41] SandroNeumann commented on #349
Komt omdat de twee lagen in die service beide vertrouwelijk zijn. Intern zijn ze wel aanwezig:
https://acc-intern.geoportaaloverijssel.nl/metadata/service/2f1dddea-bd73-4177-bd32-153fdaeb6eed

[2017-01-11 07:10] HermanAssink commented on #349
Deze service met vertrouwelijke lagen blijkt in de publieke omgeving gepubliceerd te zijn, waarschijnlijk nog een overblijfsel van de wijziging van het criterium voor vertrouwelijke data. Het is oplosbaar door de service in de publicatieomgeving te verwijderen en vervolgens opnieuw aan te maken en te publiceren in de beveiligde omgeving.

[2017-01-11 07:13] HermanAssink opened #400 "Plaatjes in AWStats pagina's ontbreken"
Waarschijnlijk is de webserver alias voor de plaatjes verkeerd geconfigureerd.

[2017-01-11 08:13] gerardnienhuis commented on #373
De csv's blijken nu goed bruikbaar. De veldscheidingstekens tussen de kolommen zorgen ervoor dat in excel e.e.a. makkelijker te open is. Op de productieomgeving wordt nu gewerkt aan verbetering van de fouten zichtbaar worden bij gebruik van de scripts. Omdat e.e.a. goed werkt kan dit issue gesloten worden.

[2017-01-11 08:13] #373 closed, assigned to copierrj

[2017-01-11 08:59] gerardnienhuis commented on #232
Bestandsnaam: Gemeentegrenzen Overijssel (lijnen)
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/0918da6c-ffeb-4cec-8668-8b857b5f1cf8

xml getoest met validator van geonovum:
http://www.geonovum.nl/validator-nederlands-metadataprofiel-op-iso-19115

levert foutmelding op omdat "anders" zou ontbreken bij juridische
beperkingen.

Bij details in stylesheet staat wel "Anders".

Wat is hier aa

[2017-01-11 10:46] gerardnienhuis opened #401 "Monitoring services overzichten"
Naast rapportages over geodata en services, zoals die er nu zijn, wil ik ook overzichten kunnen maken over bezoek, stabiliteit en gebruik van de services.

Denk aan:

Wie gebruiken de services, wanneer, welke lagen uit welke services worden het meest gebruikt, welke worden niet gebruikt. Ook wil ik weten hoe stabiel de services zijn, en als er problemen zijn met stabiliteit, wat deze dan zijn.

To

[2017-01-11 10:51] gerardnienhuis commented on #350
Dit onderdeel blijkt niet meer nodig, omdat de xml wordt gebruikt die in de geoweb map aanwezig is. Hierdoor is de noodzaak er niet meer om de naam van de originele xml te weten. Enige nadeel is dat voor beheer de map van "gewone" iso19115 xmls die wel die uuid hebben, het beheer lastig blijft. Je moet die als beheerder dus (eventueel) verwijderen... procesmatig oplossen t.z.t. Moeten xmls wel ver

[2017-01-11 10:51] #350 closed, assigned to SandroNeumann

[2017-01-11 10:57] gerardnienhuis commented on #369
Test bezig: boomkikkers en gemeentegrenzen lijnen download vanaf extern, daarna vergelijken met download actie vanaf intern.

[2017-01-11 11:03] gerardnienhuis commented on #353
Werkt voor een deel goed: WFS en downloadlink is inderdaad niet zichtbaar bij de details van een laag in een bepaalde service, als het om rasters gaat. Maar de WMS url had wel zichtbaar mogen zijn. Die staat nu ook niet in de metadata bij DETAILS. Wel kan je de WMS zien bij de services zelf, en het bekijken via de viewer kan ook. Merk op: ook de url naar de viewer ontbreekt bij DETAILS) bij raster

[2017-01-11 11:13] gerardnienhuis opened #402 "Melding kaart wordt geladen"
In de viewer die nu wordt gebruikt om WMS services te bekijken worden soms vrij grote (omvangrijke) datasets ingeladen.

voorbeeld:
http://acc-services.geodataoverijssel.nl/viewer/layer/Raster/Hottinger_kaart_1787

Met als gevolg dat het, zelfs extern, vrij lang duurt voordat de kaart op het scherm komt. 25 seconden is lang, als gebruiker kan je dan denken dat e.e.a. niet werkt. Is het mogelijk om

[2017-01-11 11:17] SandroNeumann commented on #232
Het probleem zit 'm in de verkeerde herhaling van de resourceConstraints groep.

Nu (fout):

[code]
Moet worden:
[code]

[2017-01-11 11:23] SandroNeumann commented on #353
Dat is een overblijfsel van de eerdere oplossing. Dit zou in de stylesheet opgelost moeten worden. In de XML is de WMS en de link naar de viewer wel beschikbaar.

[2017-01-11 11:57] gerardnienhuis commented on #353
OK, helder. Ik wacht dan de nieuwe versie van de stylesheet af, om dit daarna nog verder te testen.

[2017-01-11 12:16] HermanAssink commented on #401
Voor rapportage van het gebruik is het mogelijk om de output van AWStats te configureren conform wensen van Overijssel. Voor monitoring van de beschikbaarheid van services hebben we Nagios ingericht. Aanvullend kunnen we Munin inrichten om het gebruik van systeem resources te monitoren. We kunnen Overijssel toegang geven tot deze monitoring rapportage zodat jullie e.e.a. kunnen volgen.

[2017-01-11 12:25] gerardnienhuis commented on #266
Blijkt goed te werken, alleen ontbreekt de tekst bij de tooltips nog, zie onderstaand plaatje. De tekst moet worden:

Bij de eerste i:

Datum waarop het bestand is gemaakt. Kies hier de begindatum.
Vul je niets in, dan wordt alles gekozen als je gaat zoeken.

Bij de tweede i:

Datum waarop het bestand is gemaakt. Kies hier de einddatum.
Vul je niets in, dan wordt alles gekozen als je gaat zoeken.

[2017-01-11 13:07] gerardnienhuis commented on #311
Het ziet er goed uit, zowel email als download tekst.
Werkt ook goed: issue kan gesloten

[2017-01-11 13:07] #311 closed, assigned to robstek

[2017-01-11 13:12] gerardnienhuis commented on #271
Merk op: probleem met "niet openklikken" als je op thumbnail klikt, dat speelt alleen op de homepagina.

Bij  "uitgebreid zoeken' en "bladeren" werkt het wel naar tevredenheid.

[2017-01-11 13:19] gerardnienhuis commented on #93
8 van de 10 situaties die hiervoor zijn geschetst, die werken nu. Was eerst: 2 van de 10. Nog 2 openstaande vragen:

**voorbeeld 8:**

Bestandsnaam: Begrenzing EHS en Zone Ondernemen met Natuur en Water
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/8dd25b28-366d-4ffe-9dfc-dba650ad4a0d
link naar bekijk in viewer ontbreekt, waarom?
downloadlink is wel aanwezig.

**voorbeeld 10:**

Bestand

[2017-01-11 13:26] SandroNeumann commented on #93
De eerste komt omdat de laag in een beveiligde service zit. Equivalent van Herman's opmerking in #349

De tweede komt door het missen van een font:
`Rendering process failed The specified mark ttf://Wingdings#171 was not found!`

[2017-01-11 13:55] HermanAssink commented on #402
Bij mij stond de kaart onmiddellijk op het scherm. Kan het komen doordat jij een lagere internetsnelheid hebt? Los daarvan kunnen we natuurlijk een zandloper o.i.d. inbouwen.

[2017-01-11 14:14] gerardnienhuis commented on #402
Heb zojuist zelfde service weer getest (eerst cache etc geleegd met CCleaner)

opera: 3 seconden
ff: 3 seconden
chrome: 4 seconden
ie: 5 seconden

Blijkbaar is snelheid van tonen niet altijd zelfde, ook niet voor 1 zelfde laag in een service. Als dit veel vaker opvalt dan lijkt het logisch om verder te testen. Of het aan snelheid van verbinding naar mijn (externe) PC ligt, of aan snelheid waarop s

[2017-01-11 14:31] gerardnienhuis commented on #206
in het rapport staan 3 kolommen die met elkaar te maken lijken te hebben:

http_errors_urls
http_errors_codes
invalide_urls

wat is de logische relatie tussen
deze kolommen?

[2017-01-11 15:36] gerardnienhuis commented on #402
Nog een trage gevonden:
Bestandsnaam: Overzicht van statistische gegevens op regionaal niveau van buurten
http://acc-services.geodataoverijssel.nl/viewer/layer/B82_volkshuisvesting/B8_Buurtindeling
meer dan 3 minuten wit scherm, maar dan uiteindelijk wel kaart op scherm zichtbaar

[2017-01-11 15:37] SandroNeumann commented on #402
Komt bij mij binnen 3 seconden op het scherm.

[2017-01-11 15:44] gerardnienhuis commented on #402
Kan het zijn dat die laag in de service eerst even wakker moet worden gemaakt, de eerste keer. En dat het dan de volgende keren sneller gaat? Is nu bij mij ook in 3 seconden op scherm, zowel IE, Chrome, FF en Opera.

[2017-01-11 16:26] SandroNeumann commented on #206
De eerste twee waren eerst één kolom, maar die wilde je splitsen. Zie #345 De eerste is de url die het niet deed, de tweede is de http response code.

Invalide urls zijn urls die ingevoerd zijn die niet met http:// of https:// beginnen.

[2017-01-12 08:46] gerardnienhuis commented on #398
We hebben de rapportage van geodatasets gecontroleerd: blijkt dat de uuid goed terug te vinden is. Kolom heet: md_identifier Verdere acties zijn wat dit betreft niet nodig, issue kan gesloten

[2017-01-12 08:46] #398 closed, assigned to gerardnienhuis

[2017-01-12 09:03] gerardnienhuis commented on #285
bronmetadata aanwezig kolom is aanwezig en blijkt goed te werken: gekeken wordt naar de geoweb xml map, is ook correct. issue kan gesloten

[2017-01-12 09:03] #285 closed, assigned to SandroNeumann

[2017-01-12 09:23] gerardnienhuis commented on #36
zojuist weer getest in bestuurgedeelte (is openbare gedeelte) van prov. huis. werkt nog niet goed

[2017-01-12 09:24] gerardnienhuis commented on #4
dit blijkt goed te werken, issue kan gesloten (geweldig mooie toevoeging)

[2017-01-12 09:24] #4 closed, assigned to copierrj

[2017-01-12 09:43] SandroNeumann commented on #36
Probeer het nu nog eens.

[2017-01-12 14:23] gerardnienhuis commented on #36
probleem is nu opgelost: ik krijg nu in het openbare deel van het provinciehuis, op het openbare netwerk de melding:
Forbidden
You don't have permission to access / on this server.
Apache/2.4.18 (Ubuntu) Server at intern.geoportaaloverijssel.nl Port 443

Dat werkt dus zoals zou moeten, issue kan gesloten

[2017-01-12 14:23] #36 closed, assigned to copierrj, SandroNeumann

[2017-01-12 14:48] gerardnienhuis commented on #232
omdat xml niet valide is, lopen we kans dat harvesters niet goed meer werken. Te overwegen: wel valide maken door correcte volgorde van items van te maken

[2017-01-12 15:08] HermanAssink commented on #232
Het lijkt een bug in de validator vn Geonovum te zijn. De xml is valide volgens het schema (xsd) en voldoet ook aan de specificatie van de standaard (pdf) zoals opgesteld door Geonovum.
@gerardnienhuis Wil je de xml testen door deze handmatig te uploaden in de testomgeving van PGR en zo mogelijk NGR?

[2017-01-12 16:09] HermanAssink commented on #232
Het blijkt nu dat het probleem, namelijk de meldingen door de Geonovum validator, zich ook voordoen met de metadata uit de productieomgeving, terwijl deze metadata wel is geharvest door PGR en NGR. Kunnen we dus de foutmeldingen van de Geonovum validator negeren?

[2017-01-12 16:21] gerardnienhuis commented on #232
Nee want PGR geeft nog wel foutmelding
Ik stel impactanalyse voor zodat al onze xmls wel valide kunnen worden

Dat is de meest zekere route denk ik Veel xmls van ons zijn nu ook al geweigerd door PGR en zou mooi zijn als dat er minder worden

Echte valide xmls vergroot de kans daarop

[2017-01-13 19:56] gerardnienhuis commented on #359
metadata_publiek is aanwezig. werkt goed, issue kan gesloten

[2017-01-13 19:56] #359 closed, assigned to SandroNeumann

[2017-01-13 20:05] gerardnienhuis commented on #203
aantal lagen staat in het rapport, issue kan gesloten

[2017-01-13 20:05] #203 closed, assigned to SandroNeumann

[2017-01-13 20:06] gerardnienhuis commented on #349
Bijna alle kolommen zijn aanwezig, alleen kolom "datum laatste wijziging" blijkt afwezig.

[2017-01-13 20:10] gerardnienhuis commented on #345
code en fouten nu in 2 kolommen: werkt correct, issue kan gesloten

[2017-01-13 20:10] #345 closed, assigned to SandroNeumann

[2017-01-13 20:16] gerardnienhuis commented on #296
werkt goed, alle urls zijn aanklikbaar en gaan naar juiste website, issue kan gesloten

[2017-01-13 20:16] #296 closed, assigned to SandroNeumann

[2017-01-13 20:25] gerardnienhuis opened #403 "Locatie in stylesheet bij onderdeel WAT en aanklikbaar"
Locatie staat nu in de stylesheet van statische kaarten bij het onderdeel DETAILS.

Wens is om "Locatie" zichtbaar te laten zijn bij het onderdeel WAT. Datgene wat er in is gevuld, dat moet aanklikbaar zijn, als het een url begint (vergeijkbaar met #296).

Dit is nodig omdat soms locatie een externe url is, die je wel wilt kunnen ontsluiten op deze manier.

zie plaatje hieronder:

![locatie_bij_wa

[2017-01-13 20:33] gerardnienhuis opened #404 "Acceptatieversie meer zichtbaar in beeld"
Bij het testen van het Geoportaal kom je soms in de war tussen huidige versie en acceptatieversie. Wens is om op alle schermen duidelijke de tekst "acceptatieversie" in beeld te laten komen. Bij alle schermen die een gebruiker ziet, dus niet alleen bij de homepagina, maar ook bij alle andere pagina's, zoals download, helptekst enz. Voorbeeld van homepagine, zie onderstaand plaatje

![acceptatiever

[2017-01-13 20:49] gerardnienhuis commented on #278
cc mark en zero nu apart in rapportage. Downloadable is niet apart aangegeven maar dat blijkt geen probleem in het gebruik. rapport is nu beter bruikbaar geworden, issue kan gesloten worden.

[2017-01-13 20:49] #278 closed, assigned to SandroNeumann

[2017-01-13 20:57] gerardnienhuis commented on #206
Antwoord hierboven is helder.

Weer getest. Bij de invalide urls staan veel voorbeelden die inderdaad niet beginnen met http:// maar er staan er ook een paar die daarmee wel beginnen. bijvoorbeeld:

http://gisopenbaar.overijssel.nl/GeoPortal/MIS4GIS/preview/zoutwin.jpg
http://gisopenbaar.overijssel.nl/GeoPortal/MIS4GIS/preview/uiterw_polygon.jpg

deze urls blijken ook goed te openen te zijn.

wat

[2017-01-13 21:05] gerardnienhuis commented on #204
Dit werkt goed, als url fout is (zie rapport geodata, http error code aanwezig) dan blijkt link naar die url van de bijlage niet in de metadata bij het onderdeel WAT te staan (steeksproefsgewijs getest).

Dit issue kan gesloten.

[2017-01-13 21:05] #204 closed, assigned to SandroNeumann

[2017-01-13 21:08] gerardnienhuis commented on #155
Dit blijkt goed te werken: issue kan gesloten

[2017-01-13 21:08] #155 closed, assigned to SandroNeumann

[2017-01-13 21:16] gerardnienhuis commented on #110
Rapportage blijkt alle bovenstaande wensen weer te geven. Issue kan gesloten.

[2017-01-13 21:16] #110 closed, assigned to SandroNeumann

[2017-01-13 21:19] gerardnienhuis commented on #307
Geodata sets komen correct in portaal terecht. Daadwerkelijke snelheid (verschil aanbieden en zichtbaar in portaal) moet nog beter getest worden.

[2017-01-14 07:27] gerardnienhuis opened #405 "Werkelijke aantal records laten zien bij beheer statische kaarten"
Nu wordt maximaal 200 records getoond op het scherm, terwijl er (als je alles selecteerd) er veel meer zijn.
De lijst van 200 lijkt te werken. Wil je als beheerder er andere records, dan verfijn je je zoekcriteria. Maar het totale aantal records klopt niet. Dat blijft altijd op 200 staan (zie figuur). Wens is om op die plaats altijd werkelijke aantal records te laten zien.

Er staat nu:
Aantal rec

[2017-01-14 07:31] gerardnienhuis opened #406 "Uitproberen om totale aantal beschikbare records beheer statische kaarten te vergroten"
Uitproberen of de snelheid van verwerking het toestaat of 500 of 1000 records in 1 keer op te halen zijn. En beschikbaar te stellen aan beheerders. Nu is de grens op 200 gezet, zie figuur. Wens is om uit te proberen of de snelheid werkelijk een beperking is, als er 500, 1000 of zelfs nog meer een nog acceptabele grens is. Probleem is dat men mogelijk grote aantallen records wil kunnen archiveren,

[2017-01-14 07:40] gerardnienhuis opened #407 "Nummer vermelden en tekst aanpassen bij vreemd nummer bij beheer statische kaarten"
Nu krijg je een melding als je een vreemd nummer hebt ingevoerd, bij het toevoegen van een statische kaart bij het onderdeel beheer statische kaarten. Maar in dat scherm wordt niet verteld, welk nummer je nu echt hebt ingevoerd. Je kan dat vaak ook niet direct zien, omdat dat scherm er voor komt te staan op het scherm (zie bijgevoegde afbeelding). Wens is om 3 regels toe te voegen aan dat scherm m

[2017-01-14 08:00] gerardnienhuis opened #408 "Response code ontbreekt in rapport download"
Als een download goed gegaan is, dan komt er OK in het rapport van downloads te staan. Gaat het fout, dan staat de foutmelding daar. Maar hoe kan het dat er 1 download is, waar geen foutmelding is gekomen, maar ook geen OK?

Betreffende download is:

be810459-ff4a-4496-b2dc-5206a5d44e42	2016-10-03 14:15:24.859212	urn:x-ogc:def:crs:EPSG:28992	B2_Bushaltes	http://acc-services.geodataoverijssel.nl:80

[2017-01-16 10:44] SandroNeumann commented on #206
Deze url's beginnen met een spatie.

[2017-01-16 10:53] SandroNeumann commented on #349
Welke acties van André moeten leiden tot het nieuw invullen van de datum?

[2017-01-16 10:57] gerardnienhuis commented on #206
prima, is nu duidelijk. Werkt dus goed. issue kan gesloten

[2017-01-16 10:57] #206 closed, assigned to SandroNeumann

[2017-01-16 11:06] gerardnienhuis commented on #349
De veranderingen van metadata, de service (opnieuw uploaden) en laatste wijziging van 1 of meerdere lagen in de service.

[2017-01-16 11:29] copierrj commented on #349
Veranderingen in de metadata worden op dit moment nog niet bijgehouden (heeft relatie met #288). We kennen nu enkel de huidige toestand. We weten niet wanneer deze toestand ontstaan is.

Van services weten we wanneer deze is gepubliceerd (= wanneer er een diepe kopie van de service is gemaakt vanuit de staging omgeving) en wanneer de datasets waarop de lagen gebaseerd zijn voor het laatst zijn geï

[2017-01-16 11:39] SandroNeumann commented on #93
@gerardnienhuis Begrijp ik het goed dat de link naar de WMS op het niveau van 'Meer informatie' en 'Download' bij zoekresultaten pas in versie 1.2 moet gebeuren? Gezien dat in issue #334 staat en die onder milestone 1.2 staat.

[2017-01-16 12:42] gerardnienhuis commented on #349
In de metadata van de services staan nu 2 datumvermeldingen, bij het onderdeel WANNEER.

voorbeeld: Adressen
https://acc-intern.geoportaaloverijssel.nl/metadata/service/2f1dddea-bd73-4177-bd32-153fdaeb6eed
Voltooiing service: 20-04-2011
Laatste wijziging servicebeschrijving: 03-12-2013

De voltooiing service lijkt me het tijdstip van publicatie, de laatste wijziging van beschrijving de aanpassing

[2017-01-16 12:46] gerardnienhuis commented on #93
Nee, wens is dat in de huidige versie op te nemen, zoals beschreven op 16 december door @robstek

[2017-01-17 08:28] gerardnienhuis opened #409 "Extra witregels bij DETAILS geodata"
Wens is om tussen "algemene beschrijving herkomst" en "volledigheid" en ook tussen "volledigheid" en "geometrische nauwkeurigheid" 1 extra witregel op te nemen. Zie plaatje ter toelichting:

![witregel_algemene_beschrijving](https://cloud.githubusercontent.com/assets/9005444/22013031/3ef6148c-dc97-11e6-8a43-8f1479756fb4.jpg)

[2017-01-17 10:47] gerardnienhuis opened #410 "Doorklikken vanaf externe service levert interne kleuren metainfo van laag"
De externe versie van het Geoportaal levert bij doorklikken vanaf service de interne stylesheet (wat kleuren betreft) van de betreffende laag. Dit had de externe stylesheet van de betreffende laag moeten zijn.

Verwisseling van kleuren is eerder voorgekomen en toen opgelost, zie #5

Gevonden door alle services te selecteren (uitgebreid zoeken) en dan bij een willekeurig service de metainfo van de

[2017-01-17 10:53] gerardnienhuis commented on #271
werkt nu goed, issue kan gesloten

[2017-01-17 10:53] #271 closed, assigned to SandroNeumann

[2017-01-17 10:54] SandroNeumann commented on #410
Zelfde als #300 welke onder 1.1.4 staat.

[2017-01-17 10:54] gerardnienhuis commented on #266
Werkt nu goed, issue kan gesloten

[2017-01-17 10:54] #266 closed, assigned to SandroNeumann

[2017-01-17 11:05] gerardnienhuis commented on #93
werkt goed, zowel intern als extern geoportaal getest, issue kan gesloten

[2017-01-17 11:11] gerardnienhuis commented on #410
staat er nu dubbel in , dit issue kan nu gesloten, #300 blijft openstaan voor versie 114

[2017-01-17 11:11] #410 closed, assigned to nobody

[2017-01-17 11:19] gerardnienhuis commented on #353
Wat nog niet werkt is weergave van de url naar de viewer en de wms zelf bij DETAILS in de stylesheet van een laag, getest bij service "raster"

voorbeeld:

Bestandsnaam: Bathymetrische kaart IJsseldelta
https://acc-metadata.geodataoverijssel.nl/metadata/dataset/6460f2f8-103e-4bca-aee6-c272ad866ab0.xml

nb: viewer werkt correct, als je bijvoorbeeld link gebruikt bij het onderdeel WAT van deze kaart

[2017-01-17 11:27] gerardnienhuis commented on #371
is opgelost, issue kan gesloten

[2017-01-17 11:27] #371 closed, assigned to SandroNeumann

[2017-01-17 11:29] gerardnienhuis commented on #307
werkt goed, nu blijkt dat info na ongeveer uur (mogelijk nog sneller) beschikbaar komt ni het Geoportaal. Was eerst 1.5 uur of langer. Issue kan gesloten.

[2017-01-17 11:29] #307 closed, assigned to copierrj

[2017-01-17 11:44] gerardnienhuis commented on #370
Metadata is nu correct vormgegeven: kleuren van leesmij.xml is inderdaad bij interne download zelfde als interne stylesheet. Alleen lijkt interne contactpersoon verdwenen in de xml

Heb getest met
Afzetmogelijkheden warmte in stads- en blokverwarming (08-01-2015, Provincie Overijssel)
https://acc-intern.geoportaaloverijssel.nl/metadata/dataset/b2c5f593-de4c-4f7c-9b72-4c0909731a50
intern contactper

[2017-01-17 11:46] gerardnienhuis commented on #369
is dit niet zelfde issue als #370 ?

[2017-01-17 11:58] gerardnienhuis opened #411 "Wachtwoord vergeten geoportaal beheer tekst aanpassing"
Als je het wachtwoord bent vergeten van het beheeronderdeel van het geoportaal, dan kan je met "wachtwoord vergeten" een nieuw wachtwoord opvragen. Dat werkt prima. Wens is om de punt weg te laten achter dat nieuwe wachtwoord. Dat selecteert een stuk makkelijker. Bovendien graag 4 regels van maken dus ook witregel toevoegen, nu staat alles achter elkaar.

Voorbeeld:

Er staat nu

Uw wachtwoord is

[2017-01-17 12:13] SandroNeumann commented on #353
De links worden alleen getoond als er downloadable data in de xml staat. Die conditie kan nu weggehaald worden?

[2017-01-17 12:28] gerardnienhuis opened #412 "Demo github, wordt zo direct weer gesloten, geen verdere acties nodig"
Reclame voor toepassing van github in time box productontwikkeling. Geen verdere acties nodig, issue zal na half uur gesloten worden.

[2017-01-17 12:30] #412 closed, assigned to nobody

[2017-01-17 12:37] gerardnienhuis commented on #353
ja, de wms moet getoond worden als die er is. Dus als de viewer werkt, dan moet je ook link naar wms hebben. Merk op: de url van de  wfs moet alleen getoond worden als deze downloadbaar is.

[2017-01-17 13:19] SandroNeumann commented on #353
De download link moet neem ik aan ook alleen getoond worden als de data downloadbaar is.

[2017-01-17 14:53] gerardnienhuis commented on #353
klopt helemaal: download link zonder dat er iets te downloaden is, is voor gebruikers erg verwarrend. Dus downloadlink is alleen aanwezig als de WFS er is.
Vergelijkbaar met de viewer: de link naar de viewer wordt alleen getoond als de WMS er is.

[2017-01-17 15:06] gerardnienhuis commented on #369
Lijkt nog niet goed te werken: download uitgevoerd van bestand zowel intern als extern geoportaal

Bestandsnaam: Afzetmogelijkheden warmte in stads- en blokverwarming
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/b2c5f593-de4c-4f7c-9b72-4c0909731a50

In de metainfo staat (intern) als contactpersoon:
Eigenaar van het bestand
Naam: Provincie Overijssel: eenheid Publieke Dienstverlening
We

[2017-01-17 16:10] SandroNeumann commented on #353
De stylesheet is aangepast.

[2017-01-17 16:27] SandroNeumann commented on #370
De download link in de metadata linkt door naar de externe download. Als je vanaf hier downloadt krijg je de correcte XML:
https://acc-intern-download.geoportaaloverijssel.nl/download/b2c5f593-de4c-4f7c-9b72-4c0909731a50

[2017-01-18 08:54] gerardnienhuis commented on #370
OK, dat is dan nu even niet anders, denk ik. Er is dus ruimte voor verbetering maar het verstoort de werking van het portaal niet. Voor  de werking van het portaal is het belangrijkste, dat de interne contactpersonen niet extern vindbaar zijn. Dat is nu niet het geval en daarom kan dit issue worden gesloten.

[2017-01-18 08:54] #370 closed, assigned to robstek

[2017-01-18 08:57] gerardnienhuis commented on #369
Zie ook #307

Op termijn onderzoeken of bij download vanaf intern ook interne contactpersoon moet worden meegeleverd. Nadeel is, dat zo'n bestand "kan gaan zwerven" en dus extern beschikbaar kan komen. Als je intern Overijssel werkt dan heb je ook beschikking over interne portaal. Geen blokkerend probleem meer.

Issue kan gesloten worden.

[2017-01-18 08:57] #369 closed, assigned to SandroNeumann

[2017-01-18 14:15] HermanAssink commented on #388
Met @andreweijmer en @gerardnienhuis is deze oplossing besproken: Naast de publieke (=externe) en beveiligde (=interne) publicatieomgeving wordt er een derde omgeving "Alleen WMS extern" toegevoegd. In deze omgeving, die publiek/extern toegankelijk is, worden services gepubliceerd met datasets die wel via WMS, maar niet via WFS extern gepubliceerd mogen worden. Deze datasets worden door de beheerd

[2017-01-18 14:23] HermanAssink opened #413 "url's in GeoServer capabilities omzetten van http naar https bij beveiligde omgeving"
@andreweijmer : André, Zullen we een schatting van de impact maken van "url's in GeoServer capabilities omzetten van http naar https bij beveiligde omgeving" om het redirect probleem met Flamingo op te lossen?

[2017-01-18 14:41] gerardnienhuis commented on #388
Bedoeling is dat beheerders dus aangeven of een WMS wel of niet beschikbaar mag zijn. Maar omdat je als beheerder in Geosticker zowel Alleen WMS beschikbaar en Downloadable data kan aangeven bij 1 geodataset, is ervoor gekozen om in dat geval bij extern Geoportaal "Alleen WMS beschikbaar" te laten gelden. In de rapportage moet dan te vinden zijn, welke combinaties voorkomen zodat de fouten vindbaa

[2017-01-18 15:00] gerardnienhuis commented on #349
nee, geen van beide tijdstippen zijn nu op te nemen. De stylesheet moet eerst aangepast worden. Blijkbaar zijn de huidige tijdstippen steeds hetzelfde en niet zinvol. Dit issue kan dus gesloten worden, omdat de overige wensen wel verwerkt al zijn

[2017-01-18 15:00] #349 closed, assigned to SandroNeumann

[2017-01-18 15:02] gerardnienhuis commented on #353
Het werkt nu goed. Dit is gecontroleerd bij meerdere lagen die in de service "raster" zijn opgenomen.
Link naar wms en viewer bestaan wel, link naar download of wfs staat er niet in.
Issue kan gesloten

[2017-01-18 15:02] #353 closed, assigned to SandroNeumann

[2017-01-18 15:09] gerardnienhuis opened #414 "Juiste publicatiedatum bij stylesheet van services"
Nu staan er 2 vermeldingen van tijdstippen bij de WANNEER bij services, die geen van beide zinvol zijn. Ze moeten vervangen worden door de Datum laatste wijziging (is publicatiedatum) van de service. De bedoeling is dat het zoveel mogelijk vergelijkbaar wordt, met datumvermeldingen van statische kaarten en geodatasets.

Tekst wordt: Datum publicatie service met daarachter datum, bijvoorbeeld

Datu

[2017-01-18 15:11] gerardnienhuis opened #415 "Datum creatie service opnemen in stylesheet"
De datum dat een service voor het eerst is opgenomen dat wordt nu niet opgeslagen.
Wens is om die datum wel te gaan opslaan en zichtbaar te maken bij het onderdeel "WANNEER" bij de metadata van services.

Vermelding in stylesheet wordt: Datum creatie service: met daarachter een datum

Bijvoorbeeld:

Datum creatie service: 09-04-2015

zie ook issue #414

[2017-01-19 09:06] SandroNeumann commented on #405
Het aantal records heeft betrekking op de records die je op dat moment kunt zien. Dat is maximaal 200. Er zou nog wel een extra label kunnen komen met het aantal records in de database.

[2017-01-19 09:13] SandroNeumann commented on #404
Alle schermen? Dus ook de metadata pagina's, geoportaal-beheer en de publisher?

[2017-01-19 09:37] gerardnienhuis commented on #404
Publisher moet @andreweijmer  beantwoorden. Alle schermen die je als tester ziet, wil ik graag van herkenbare info voorzien conform voorbeeld.

[2017-01-19 10:12] gerardnienhuis commented on #404
Net afgestemd met @andreweijmer : voor publicatieomgeving heeft dit voorstel geen prioriteit. Dat wil dus zeggen dat het voor de publicatieomgeving dit voorstel niet hoeft te worden meegenomen. Voor alle andere schermen van het Geoportaal dus wel.

[2017-01-19 10:24] gerardnienhuis opened #416 "Andere ondergrond dan PDOK wms in viewer"
In verband met onbekende stabiliteit van PDOK services is het te overwegen om een andere ondergrond te gaan gebruiken. Bijvoorbeeld een ondergrond gebaseerd op onze eigen services, of open streetmap of nog anders. Bedoeling is dat alle viewers die nu in het Geoportaal zitten dan niet meer van de PDOK WMS afhankelijk zijn, maar gebruik maken van deze alternatieve WMS. Als wij zelf geen eigen onderg

[2017-01-19 10:29] gerardnienhuis opened #417 "Monitoring tools voor Geoportaal"
Naast beschikbaarheid en gebruik van services wil ik ook monitoring van gebruik van het Geoportaal zelf. Mogelijk is hier Nagios of AWstats voor in te zetten. Idee is om een wekelijks overzicht te ontvangen via email, waarin voor een beheerder begrijpelijke informatie staat mbt uptime, downtime, gebruik van onderdelen en statistieken mbt bezoekers (wanneer, via welk ip adres, welke organisatie). O

[2017-01-19 10:41] gerardnienhuis commented on #416
nav email van Herman impact laag toegekend en verplaatst naar versie 1.1.3.
Voorstel is om de OSM ondergrond te gebruiken:
http://www.openbasiskaart.nl/mapcache/tms/1.0.0/osm@rd

[2017-01-19 10:59] gerardnienhuis opened #418 "Rapport geodata uitbreiden met kolommen extern, alleen wms en downloadable"
In het rapport voor Geodata staat nu bij use_limitation alles wat over beperkingen gaat. Maar omdat daar van alles onder kan vallen, is het selecteren heel lastig. Wens is om het rapport met 3 kolommen uit te breiden, in de CSV direct na de kolom use_limitation.

Extra kolommen zijn:
Downloadable  (afhankelijk of downloadable data staat in use_limitation, waarde is ja of nee)
Alleen WMS ((afhankel

[2017-01-19 11:13] gerardnienhuis opened #419 "Extra gebruiksrestricties statische kaarten"
De wens is om, op termijn, 1 of 2 extra gebruiksrestricties op te kunnen nemen bij het invoerscherm van statische kaarten. Je kan nu kiezen uit 2 mogelijkheden (intern of extern) maar de wens is om hier een aantal extra keuzemogelijkheden toe te voegen. Deze mogelijkheden moeten dan ook vindbaar zijn in het beheerscherm voor statische kaarten (dmv zoeken op tekst) en ook in de rapportage van stati

[2017-01-19 11:32] SandroNeumann commented on #418
Downloadable en Geoportaal extern staan er al onder een andere naam in. Die zijn data publiek en metadata publiek genoemd, zodat dat voor andere klanten ook herkenbaar is.

[2017-01-19 11:41] gerardnienhuis commented on #418
OK, duidelijk.

Mijn voorstel zou dan zijn om die 2 kolommen ook echt naast elkaar in de WMS te zetten, er staan nu 2 kolommen tussen die daar niks mee te maken hebben (cc mark en zero).

Ik wil dus graag ook 1 kolom erbij, met de naam WMS publiek, zodat ik weet dat  Alleen WMS in de metadata is aangegeven. En die kolom zou dan in de CSV ook aanwezig kunnen zijn, gelijk naast data_publiek of metad

[2017-01-19 11:46] gerardnienhuis commented on #404
Te overwegen valt om niet de tekst ACCEPTATIE OMGEVING neer te zetten, maar alleen een afwijkende achtergrondkleur te gebruiken. Lichtgeel bijvoorbeeld. Dan zie je bijna altijd direct in welke omgeving je zit. Twee voorbeelden hoe dat er dan uitziet, hieronder

![acceptatieomgeving_home](https://cloud.githubusercontent.com/assets/9005444/22105778/eee2b364-de45-11e6-9204-edce2d578136.jpg)

![accept

[2017-01-19 16:01] gerardnienhuis commented on #405
Kan je bij een selectie van een bepaalde term (b.v. bos of natuur) dan niet laten zien, hoeveel records dat betreft, als het getal groter is dan 200? Ik zou graag ten alle tijde het werkelijk aantal geselecteerde records willen zien, en als je niks selecteert, dan dus het maximaal aantal beschikbare records (muv de prullenbak)

[2017-01-19 16:04] SandroNeumann commented on #405
Dat kan wel, maar je hebt wel altijd maximaal 200 records tot je beschikking. Om verwarring te voorkomen zou ik het label van maximaal 200 behouden en het totale aantaal ernaast zetten.

[2017-01-19 16:37] HermanAssink commented on #417
Gerard, Ik stel voor om als we een keer bij elkaar zijn, met de huidige functionaliteit als voorbeeld. de wensen concreter te maken.

[2017-01-19 17:24] gerardnienhuis commented on #417
Goed idee Na oplevering 113 lijkt een goed moment

[2017-01-19 17:26] gerardnienhuis commented on #405
Lijkt een goede oplossing
Hoe ziet dat er dan in praktijk uit bij bv selectie van 3000 ? En hoe bij selectie van 30?

[2017-01-20 08:12] SandroNeumann commented on #405
Ik zou dit voorstellen:

Aantal records: .. | Aantal weergegeven records .. | Aantal geselecteerde records ..

Waar de tweede en derde zijn zoals het nu ook is en de eerste het totaal in de database toont.

[2017-01-20 10:53] copierrj commented on #388
Deze wijziging raakt de volgende onderdelen:

- database: attribuut 'downloadable' toevoegen aan omgeving en brondataset.
- provider: afleiden van 'downloadable' attribuut brondataset uit metadata.
- domain: toevoegen (= afgeleid van brondataset) 'downloadable' attribuut aan service en laag.
- admin: lagen en services zonder het 'downloadable' attribuut van een label voorzien.
- service:
  - harve

[2017-01-20 11:14] copierrj commented on #287
In de publicatieomgeving doen we niets met 'downloadable data' en is daarom geen eigenschap van brondataset. We hebben wel beschikking over de metadata, maar zonder #288 hebben we geen zicht op wijzigingen hierin.

[2017-01-20 13:41] copierrj commented on #287
Oplossingsrichting:

Als er iets wijzigt aan een brondataset (= een van de boven beschreven zaken) wordt dit in de admin van de publicatieomgeving getoond als notificatie.

De gebruiker kan aangeven dat de notificatie gezien is. Het systeem slaat dan op voor welke brondataset versie de gebruiker de notificatie heeft weggeklikt. Deze versie gaat vanaf dan gelden als de uitgangspositie voor latere n

[2017-01-20 20:24] gerardnienhuis opened #420 "Fout weergave stylesheets bij "meer informatie" geodata en services"
Er is iet fout met de weergave van de metainformatie in de stylesheets.
Dit probleem is ontstaan toen de versie 1.1.2 is teruggezet omdat versie 1.1.3. probleem bij productiegang bleek te hebben. Dit probleem is niet eerder bij de productieversie van 1.1.2. opgetreden

Als ik op "meer informatie" klik bij geodatasets en bij services, (zie afbeelding) dan krijg ik bij veel browsers fouten:

- Firef

[2017-01-23 11:44] gerardnienhuis commented on #420
stylesheet out of sinq, omdat nieuwe versie van stylesheet aanwezig was, en oude versie publicatieomgeving. Oplossing, na overleg met @SandroNeumann is: ook oude versie geoportaal terugzetten.

[2017-01-23 12:22] gerardnienhuis commented on #420
probleem is opgelost, stylesheet geodata, services en statische kaarten werken weer normaal, conform versie 112. issue kan gesloten

[2017-01-23 12:22] #420 closed, assigned to nobody

[2017-01-24 07:39] gerardnienhuis commented on #416
nieuw voorstel: eerst half jaar ervaring opdoen, dan eventueel naar andere ondergrond op zoek. Welke ondergrond gebruikt de risicokaart trouwens? is die mogelijk nog stabieler dan pdok?

[2017-01-24 08:05] HermanAssink commented on #416
De Risicokaart gebruikt een ondergrond die tot voor enkele weken door IDgis werd gehost en nu door Atos. Bij mijn weten is deze ondergrond de laatste jaren niet geactualiseerd.

[2017-01-24 08:11] gerardnienhuis commented on #416
Dan heb je 2 redenen om vooralsnog niet die ondergrond te gebruiken. We zoeken tzt een alternatief voor PDOK, als het echt nodig blijkt. Issue is nu naar 1.2 verplaatst

[2017-01-24 09:47] gerardnienhuis commented on #375
De viewer als link naar WMS werkt nu goed in versie 1.1.3 (getest op acceptatie). Wens is nu om een url op te laten nemen, als alternatief voor de oplossing van 1.1.3. Werking blijft hetzelfde, alleen bij die kaartlagen waarbij de url van de Atlas is opgenomen, daar wordt de url van de Atlas gebruikt. Vraag is waar die url dan moet worden vermeld. Ergens in de metainformatie bij de geodata lijkt d

[2017-01-26 14:44] gerardnienhuis opened #421 "Wachtwoord vergeten melding verkeerd emailadres"
Je kan bij het beheer van de statische kaarten je wachtwoord opnieuw laten resetten: wachtwoord vergeten. Maar als je een fout (niet bestaand) mail adres intypt, dan krijg je ook de melding dat een mail naar jou is gestuurd.

Wens is te controleren of het betreffende emailadres in de lijst van bekende emailadressen staat (hoofdletters en kleine letters invoer beide mogelijk): staat emailadres er n

[2017-01-26 15:08] SandroNeumann commented on #421
Dit zou ik afraden. Want op deze manier kan een indringer achterhalen welke emailadressen geregistreerd staan.

[2017-01-26 15:30] gerardnienhuis commented on #421
Goed punt

Er staan er nu al een paar openbaar op github
Die zal ik dus ook verwijderen

Mail mij aub een lijst met namen en mailadressen dan doen we dat beheer wel op die manier

Verstuurd vanaf mijn iPhone

Op 26 jan. 2017 om 16:08 heeft SandroNeumann <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Dit zou ik afraden. Want op deze manier kan een indringer ac

[2017-01-30 09:39] gerardnienhuis opened #422 "Zoeken in Geoportaal meer vergeljikbaar met marktplaats en bol.com"
Wens om zoeken in Geoportaal nog makkelijker te maken: zoals bol.com: gebruikers die dit bestand bekeken die bekeken ook, zowel bij zoekresultaten als download. Makkelijker maken, en sneller toegankelijk, vergelijkbaar met opzet marktplaats. Misschien ook vormgeving verder aanpassen hierop. meest gebruikte bestanden ook meenemen.

[2017-01-30 10:04] gerardnienhuis opened #423 "In rapportage Geodata coordinaten en referentiesysteem opnemen"
Nu wordt in het Geoportaal zowel coördinaten als referentie systeem opgenomen. Graag ook in rapportage van Geodatasets deze opnemen. Handig voor controle op verkeerde invoer van coördinaten: soms lijken coördinaten in RD opgegeven, maar is project WGS of andersom.

Voorbeeld wat nu in geoportaal staat, wij onderdeel WAAR:
Omgrenzende rechthoek in decimale graden
Minimum x-coördinaat: 5.774
Maximum

[2017-01-30 10:51] gerardnienhuis opened #424 "Temporele dekking niet van toepassing als tijden zelfde zijn"
Het is voor een gebruiker erg verwarrend als je bij WANNEER in de stylesheet van geodatasets leest, dat bij temporele dekking een "van datum" en een "tot datum" hetzelfde is.

Dit wordt veroorzaakt omdat deze datums nu worden gebruikt om aan te geven dat de temporele dekking "niet in te vullen" of "niet relevant" is..

Maar het zou beter zijn, om in die situatie in de stylesheet aan te geven, dat

[2017-01-31 11:31] HermanAssink opened #425 "Melding naar beheer en/of ontwikkelaar als harvest actie mislukt"
Nu is het zo dat als een harvest actie mislukt dit alleen zichtbaar is de beheermodule v.d. Publicatieomgeving. Wens is dat het systeem actief een bericht stuurt naar een beheerder/ontwikkelaar, bijv. mbv monitoring.

[2017-01-31 18:51] gerardnienhuis commented on #425
Variant met mogelijk minder impact is een logging die goed leesbaar is voor beheerders van het geoportaal. Te denken valt aan rapportage, vergelijkbaar met huidige rapportages in beheeronderdeel van het Geoportaal (export naar csv).

Nog andere variant is een leesbare logfile, waarin terug te vinden is wat de status van de provider is.

[2017-02-02 11:19] gerardnienhuis commented on #388
let op: als WFS beschikbaar mag zijn, dan kan je ook downloaden

[2017-02-02 11:33] gerardnienhuis commented on #388
voorbeeld:
Nu bestaat in het interne Geoportaal:

 Waterprojecten (beveiligd) (03-12-2013, Provincie Overijssel) - WMS
 Waterprojecten (beveiligd) (03-12-2013, Provincie Overijssel) - WFS

En extern zie je niets, is tenslotte beveiligd.

en straks komt er een "alleen WMS variant" bij, en dan zie je intern:

Waterprojecten (alleen WMS) (03-12-2013, Provincie Overijssel) - WMS

en dat zie je ook in

[2017-02-02 11:37] gerardnienhuis commented on #388
let op:

Er staat nu bij de DETAILS:

Download: https://download.geoportaaloverijssel.nl:443/download/5196ac30-7768-46f2-9e5d-1ffe223f3151
OGC:WFS: http://services.geodataoverijssel.nl:80/geoserver/B41_bodem/wfs
OGC:WMS: http://services.geodataoverijssel.nl:80/geoserver/B41_bodem/wms

en als dit bestand "alleen WMS" is, dan moet hier komen te staan:
OGC:WMS: http://services.geodataoverijssel.nl:80

[2017-02-02 11:38] HermanAssink opened #426 "Link naar wmts/tms toevoegen aan metadata als er tiling is aangevinkt bij de service in de publicatieomgeving"

[2017-02-02 11:40] gerardnienhuis commented on #426
wens is als er WMTS of TMS is, dan ook in metadata van geodatasets opnemen, voorbeeld:

Bij DETAILS staat nu:

Download: https://download.geoportaaloverijssel.nl:443/download/5196ac30-7768-46f2-9e5d-1ffe223f3151
OGC:WFS: http://services.geodataoverijssel.nl:80/geoserver/B41_bodem/wfs
OGC:WMS: http://services.geodataoverijssel.nl:80/geoserver/B41_bodem/wms

dat wordt bijvoorbeeld:

Download: https:

[2017-02-02 11:42] gerardnienhuis commented on #287
dus notificaties komen voor deze situaties (lijst structuurwijzigingen) en blijft ook in lijst staan

•nieuw brondataset
•brondataset niet langer aanwezig
•brondataset niet langer beschikbaar (= VECTOR/RASTER -> UNAVAILABLE)
- downloadable data
•alleen WMS beschikbaar

[2017-02-02 12:11] gerardnienhuis opened #427 "Onderscheid in zoekresultaten WMS en WFS verwijderen"
Nu staan er 2 bijna dezelfde dingen bij zoekresultaten van services, zowel WFS als WMS variant.
Overwegen er 1 versie van te maken.

[2017-02-02 12:17] gerardnienhuis commented on #264
Gaat dus net zo werken als bij de prullenbak. In gewone overzicht zie je alles wat in prullenbak zit niet. Dat moet ook zo werken voor iets wat in archief zit. Gewone leveranciers zien niet meer wat in het archief zit, ook niet in beheeromgeving geoportaal.

[2017-02-02 13:08] HermanAssink opened #428 "Geen ruis meer in de log van de provider"
De huidige log bevat (fout)meldingen die genegeerd kunnen worden. Mogelijke oplossing: status wijzigen in DEBUG.

[2017-02-02 13:13] HermanAssink commented on #425
Oplossing: Monitoring (mbv Nagios) van status van gegevensbronnen en resultaat (OK / Fout) van harvest- en importacties.

[2017-02-02 13:36] HermanAssink opened #429 "Nagaan of er een alternatief voor AWStats is dat overzichtelijke rapportages biedt zoals Nedstat"

[2017-02-03 08:31] gerardnienhuis opened #430 "Kaartviewer met opmaak Overijssel"
Nu is de viewer van WMS-sen in het Geoportaal nog zonder al te veel opmaak. Voorgesteld wordt om hier t.z.t. de standaard opmaak van de provincie Overijssel voor te gebruiken. Kleuren, lettertype en logo afgestemd op de huisstijl voor een externe (en ook interne) website van Overijssel. Dat zijn dus 2 versies: 1 voor extern, 1 voor intern.

Bij de verwijzing in de zoekresultaten en bij de metainfo

[2017-02-03 08:42] gerardnienhuis opened #431 "Legenda in viewer weergeven"
Nu is een WMS wel zichtbaar in de viewer in het Geoportaal, maar de legenda ontbreekt. Kan er, als een kaart zichtbaar is op het scherm, ook een knopje of doorlink naar legenda bij komen? Zodat ook legenda in kaart zichtbaar is.

Bij services alleen legenda tonen van de laag of lagen die geopend zijn, onder elkaar. Van de bovenste laag op de kaart daarvan dan de legenda bovenaan.

[2017-02-03 08:45] gerardnienhuis opened #432 "Viewer doorlink naar Atlassen van Overijssel"
Het idee is om de link, zoals die nu werkt in het Geoportaal, te laten doorverwijzen naar de nieuwe Atlassen van Overijssel, waarin alleen die ene betreffende laag zichtbaar is. Een lijst van urls met namen van lagen in het Geoportaal zou geleverd kunnen worden, zodat duidelijk is voor iedere laag, waarheen verwezen moet worden. Default is de WMS viewer, zoals die nu werkt. Dus als een laag, waarv

[2017-02-03 08:47] gerardnienhuis opened #433 "Viewer met i-knop voor doorlink naar metainformatie"
Van alle lagen die getoond worden in de viewer is metainformatie beschikbaar. Wens is om daarvan dan ook de metainformatie te ontsluiten via de viewer. Vooral handig bij viewer met services, waarin veel lagen aanwezig zijn. Idee is om een (i) te tonen, achter de laagnaam, waarbij dan op het klikken van (i) de metadata van de betreffende laag getoond wordt.

Merk op: 2 versies, intern naar interne

[2017-02-03 20:56] gerardnienhuis opened #434 "Viewer attributen en pointer blijft staan maar is niet geselecteerd"
Als je een laag kiest in de viewer, en daarna er op klikt, dan krijg je informatie over het betreffende object. Maar als je daarna de kaart beeldvullend maakt, en die laag uitzet, dan verdwijnt die laag niet altijd uit het kaartbeeld.

Komt bijna niet voor, dus vooralsnog niet als urgent ervaren. Maar het klopt niet, formeel.

bijvoorbeeld:

Naam van de service: Bodem
http://services.geodataoverij

[2017-02-03 21:00] gerardnienhuis opened #435 "Rapport download request time in 3 kolommen ipv 1 kolom"
De tijd waarop de download is aangevraagd, die staat uiterst nauwkeurig in 1 kolom.
Bij analyse van deze data is dat lastig.

Voorstel: request time in 2 delen splitsen en datumnotatie aanpassen

nu staat er:

2016-08-25 14:00:01.207993

Dat worden 3 kolommen:

2016-08-25 14:00:01.207993 (kolom blijft heten: request time)
25-08-16 (kolom heet datum)
14:00	(kolom heet tijdstip)

Dat kan in excel oo

[2017-02-03 21:09] gerardnienhuis commented on #434
Een vergelijkbaar verschijnsel komt voor, als je de informatie van een object opvraagt en dan de hele betreffende laag uitzet: die informatie komt op scherm maar blijft staan, ook als de laag niet meer geselecteerd is.

voorbeeld in schermafdruk van service Nutsvoorzienngen
http://services.geodataoverijssel.nl/viewer?service=B64_nutsvoorzieningen

Merk op: hier zie je element van laag Straalpaden,

[2017-02-06 08:58] gerardnienhuis commented on #264
Let op: in de prullenbak kan je ook dingen verwijderen. Dat is natuurlijk niet de bedoeling bij het archief.

Bij verwijderen naar prullenbak komt de mogelijkheid om iets definitief te verwijderen. Die keuzemogelijkheid moet niet worden geboden bij het verplaatsen naar het archief.

[2017-02-06 09:05] gerardnienhuis commented on #419
Extra keuzemogelijkheid moet worden:

Alleen voor intern gebruik. Niet uitleveren zonder verklaring. Bevat privacy-gevoelige informatie.

[2017-02-06 11:05] gerardnienhuis opened #436 "Bekijk in viewer onterecht aanwezig bij zoekresultaten"
Er zijn een aantal kaarten waarbij bij de zoekresultaten staat dat je het kan bekijken in een viewer. Er staat dan "Meer informatie" en "Bekijk in viewer". Maar als je klikt op "Bekijk in viewer" dan verschijnt een foutmelding.

Opvallend is ook, dat bij de metainformatie niet staat dat het om downloadable data gaat. Wel staat er bijvoorbeeld: Data mag alleen met verklaring uitgeleverd worden.

In

[2017-02-08 07:10] #334 closed, assigned to nobody

[2017-02-08 07:16] gerardnienhuis commented on #93
Dit blijkt na uitrol op productie in versie 113  toch niet volledig goed te werken. Zie #436 . Dit issue kan gesloten worden, omdat #436 hier verder op ingaat.

[2017-02-08 07:16] #93 closed, assigned to SandroNeumann

[2017-02-08 07:19] gerardnienhuis commented on #436
Oorspronkelijke wens is beschreven bij issue #93 . Ook daar bleken bij de acceptatieomgeving vergelijkbare problemen op te treden. Deze zijn toen opgelost. Maar na de productie-gang van versie 1.1.3. bleken dergelijke problemen nog steeds voor te komen. Testen bleek niet volledig goed te zijn gegaan. Zeer waarschijnlijk doordat acceptatieomgeving niet goed genoeg "productie-like" was.

[2017-02-15 15:21] gerardnienhuis commented on #436
Het lijkt er op dat dit lagen zijn uit beveiligde services. Dan moet je natuurlijk niet in het externe  geoportaal een knop krijgen om de kaart in een viewer te bekijken.

Ontdekt dat de url wijst naar een beveiligde services, bijvoorbeeld:

http://services.geodataoverijssel.nl/viewer/layer/B42_energie_beveiligd/B4_Ondernemingen_meerjarenafspraak_Overijssel

[2017-02-15 15:31] gerardnienhuis opened #437 "Inhoud kolom service_publiek vervangen door Type beveiliging"
De kolom service_publiek geeft nu aan of een service wel of niet als een beveiligde service wordt aangeboden. Wens is om dit te vervangen door het type beveiliging.

Er zijn 3 smaken:

1) Beveiligd.

In deze situatie zijn de WMS en WFS services niet openbaar. Ze zijn beschikbaar in volledig beveiligde omgeving: alleen voor intern gebruik of achter wachtwoord.

2) Alleen WMS: hiervan is alleen de W

[2017-02-22 12:10] HermanAssink commented on #404
Mogelijke andere oplossing: Een balk onder- of bovenaan die altijd in beeld blijft

[2017-02-22 12:13] HermanAssink commented on #397
http://geoportaaloverijssel.nl  komt uit op de site van IDgis

[2017-02-23 08:05] HermanAssink opened #438 "GeoJSON toevoegen als downloadformaat"

[2017-02-23 08:50] gerardnienhuis commented on #438
niet vergeten: ook dit formaat bij helpteksten opnemen

[2017-02-23 08:58] gerardnienhuis opened #439 "Help naar juiste onderdeel van helppagina"
Bedoeling is dat de knop help bij HOME, UITGEBREID ZOEKEN en BLADEREN alle 3 meteen op de tekst uitkomen in de helppagina die daar over gaat.

Dus klik op help bij het onderdeel HOME komt uit bij het begin van de helppagina: Handleiding voor het gebruik van het Geoportaal.

Uitgebreid zoeken komt uit bij het onderdeel over uitgebreid zoeken.
Bladeren komt uit bij het onderdeel over bladeren.

nb:

[2017-02-23 09:04] gerardnienhuis opened #440 "Helppagina op aparte pagina"
Nu is het zo, dat de helptekst ook de volledige knoppenbalk laat zien. Wens is de helptekst op aparte pagina's weer te geven. Dat wil dus zeggen de help tekst die je krijgt als op de knop help klikt bij het onderdeel HOME, UITGEBREID ZOEKEN en BLADEREN.

Voorbeeld van een aparte pagina is de download pagina:
https://download.geoportaaloverijssel.nl/help

Wens is wel om bij de helpteksten ook een t

[2017-03-07 13:51] SandroNeumann commented on #414
De datum laatste wijziging service beschrijving is verplicht. Gelijk maken aan de datum publicatie service?

[2017-03-08 08:04] gerardnienhuis opened #441 "Zoeken geoportaal niet altijd zelfde resultaat"
Vanaf afgelopen maandag viel me op dat het zoeken in het Geoportaal niet altijd dezelfde resultaten lijkt op te leveren. De zelfde zoekopdrachten leveren op verschillende momenten andere resultaten. Je zou bij dezelfde opdrachten altijd dezefde resultaten moeten hebben. Getest met intern en extern Geoportaal.

Hieronder enkele testresultaten van zoeken in extern Geoportaal:

======================

[2017-03-08 09:03] SandroNeumann commented on #414
@gerardnienhuis: Kun je nog op bovenstaande vraag reageren?

[2017-03-08 09:37] gerardnienhuis commented on #414
zojuist telefonisch afgestemd: datum publicatie en beschrijving gelijk maken. Wordt beide datum van beschrijving. Voorbeeld hieronder:

Er staat nu:

Naam van de service: B42_energie
Voltooiing service: 20-04-2011
Laatste wijziging servicebeschrijving: 03-12-2013

Er komt te staan:

Naam van de service: B42_energie
Publicatie service: 03-12-2013
Laatste wijziging servicebeschrijving: 03-12-2013

M

[2017-03-08 14:58] SandroNeumann commented on #441
Ik heb hier geen verklaring nog voor gevonden. Hij harvest goed. Alles staat in de database. Alleen de tabel die gegenereerd wordt voor het zoeken heeft de ene keer wel en de andere keer niet die records van de BGT die je verwacht. Ik heb daar geen verklaring voor.

Ik heb de harvester wel herstart en sindsdien gaat het vooralsnog goed. Dus zou voorstellen om dit in de gaten te houden en wanneer h

[2017-03-08 15:44] SandroNeumann commented on #419
@gerardnienhuis:
Welke opties vallen onder intern en extern, voor de voorkant van het geoportaal?

[2017-03-10 09:53] gerardnienhuis commented on #441
Ik heb afgelopen dagen regelmatig getest: zoeken met BGT of topografie.
Levert normale aantal bestanden op (extern totaal BGT:  19, waarvan 4 statische kaarten)
Probleem is niet teruggekomen tot nu toe.

[2017-03-10 09:56] gerardnienhuis opened #442 "Inloggen Kets lukt niet"
Inloggen in beheermodule voor het aanbieden van statische kaarten is niet gelukt voor gebruiker

kets-bolkestein

email wat hier bij hoort is: j.kets-bolkestein@overijssel.nl

Als zij "wachtwoord vergeten" gebruikt dan volgt geen mail in mailbox van j.kets-bolkestein@overijssel.nl

Kan het zijn dat het emailadres van deze gebruiker niet juist is?

[2017-03-10 10:00] gerardnienhuis opened #443 "Beheermodule nieuwe statische kaart 2017 ipv 2016"
Graag default 2017 neerzetten bij de locatie voor de statische kaart.
Daar staat nu nog 2016, maar de meeste kaarten zijn nu nieuw en dus van 2017.

De volledige default waarde wordt dan:

K:\bab\geo-informatie\2017\

zie figuur:

![2017](https://cloud.githubusercontent.com/assets/9005444/23790768/cab56326-0580-11e7-8602-9f345a71084d.jpg)

[2017-03-10 14:26] SandroNeumann commented on #442
E-mailadres was fout. Nu zou het moeten kloppen.

[2017-03-14 12:06] gerardnienhuis commented on #419
De tekst moet worden:

Alleen voor intern gebruik. Niet uitleveren zonder bewerkingsovereenkomst. Bevat privacy-gevoelige informatie.

Deze tekst moet je kunnen kiezen als je een statische kaart bewerkt of toevoegt.

Er zijn dus dan 3 mogelijkheden:

1) Alleen voor intern gebruik. (die is er al)
2) Alleen voor intern gebruik. Niet uitleveren zonder bewerkingsovereenkomst. Bevat privacy-gevoelige i

[2017-03-17 10:50] SandroNeumann commented on #419
@gerardnienhuis: De nieuwe optie is qua tekst erg lang voor een selectie menu. Die kunnen namelijk niet meerdere regels hebben. Kun je de tekst inkorten?

[2017-03-17 11:04] gerardnienhuis commented on #419
Alleen voor intern gebruik. Extern leveren met bewerkingsovereenkomst (privacy-gevoelige informatie).

[2017-03-17 11:55] HermanAssink opened #444 "1.2 is 1.3 en 1.3 is 1.4 geworden, nieuwe 1.2 aangemaakt"
@gerardnienhuis Omdat het derde cijfer van het versienummer bedoeld is voor bug-releases heb ik milestone 1.3 hernoemd naar 1.4 en 1.2 naar 1.3. En er is een nieuwe milestone 1.2 aangemaakt die gebruikt kan worden voor de issues die anders onder 1.1.5 zouden gaan vallen.

[2017-03-17 12:16] gerardnienhuis commented on #419
Alleen voor intern gebruik. Extern leveren met bewerkingsovereenkomst (privacy-gevoelige informatie).

dit met het worden: andere versies kunnen genegeerd worden.

[2017-03-17 12:28] gerardnienhuis opened #445 "Rapportage vreemde tekens voorkomen"
In de rapportages van kunnen vreemde tekens voorkomen. De letters met trema's, accenten en dergelijke, die worden in de csv niet goed weergegeven. Maar alle tekens van de metadata zijn wel utf-8. Wens is dat alle tekens die in de oorspronkelijke metadata staan, ook op dezelfde manier in de csv's van de rapportages terugkomen.

[2017-03-17 15:29] SandroNeumann commented on #377
@gerardnienhuis:
Kun je specificeren welke tekst weg mag en waar dus een verwijzing voor in de plaats komt?

[2017-03-17 16:12] SandroNeumann commented on #443
Is aangepast

[2017-03-21 09:30] gerardnienhuis commented on #377
De onderstaande tekst staat nu bij de help bij het zoeken. Maar het is eigenlijk extra informatie, die ook bij "over deze site" kan staan.  Voorstel is om die tekst daarom bij de help van het zoeken weg te halen en op te nemen in het onderdeel "over deze site". In de help kan dan onderaan een link daarheen opgenomen worden.

De tekst is: meer informatie over het Geoportaal, downloaden, bestanden,

[2017-03-21 09:33] gerardnienhuis commented on #377
nb: het stukje tekst "Over services" kan volledig weggelaten worden, dat is volledig dubbel

===

Over services:

In dit Geoportaal worden niet alleen de datasets maar ook de bijbehorende services getoond. Dat zijn links naar websites, die op een moderne manier dit soort kaarten beschikbaar stellen. In het Geoportaal worden de datasets en ook de bijbehorende services ontsloten. Ook voor het gebrui

[2017-03-21 10:25] SandroNeumann commented on #381
De kolom gaat 'vector_geen_geometrie' heten en zal met 'ja' ingevuld worden als het ruimtelijke schema vector is en er geen geometrie kolom is. Wanneer er geen kolom bestaat en er dus nog geen dataset van gemaakt is zal het veld leeg zijn.

[2017-03-21 10:54] SandroNeumann commented on #381
Herstel: wanneer er geen kolom bestaat wordt het veld gevuld met 'niet geimporteerd'

[2017-03-22 10:01] SandroNeumann commented on #264
@gerardnienhuis
Je schrijft dat de knop archiveren net als de knop prullenbak alleen voor beheerders zichtbaar en bruikbaar moet zijn. Maar dat is niet het geval bij de knop prullenbak. Die is voor iedereen te bedienen, maar leveranciers kunnen alleen hun eigen records in de prullenbak plaatsen en ze kunnen de records in de prullenbak vervolgens niet zien. Graag hoor ik of dat ook zo met archivere

[2017-03-22 10:11] gerardnienhuis commented on #264
Dat is goed opgemerkt. De bedoeling is  dat alleen de beheerders kunnen archiveren. Dat is dus anders dan bij de prullenbak, waar iedereen de spullen in kan zetten. Bedoeling is dat de knop archiveren alleen voor beheerders zichtbaar is. Bestanden die gearchiveerd zijn, die moeten ook niet meer zichtbaar zijn in het geoportaal. Merk op: ze zijn dus ook niet meer zichtbaar voor de leveranciers. De

[2017-03-23 08:29] gerardnienhuis opened #446 "Kaart beveiligde service met zoomniveau toont niet in viewer"
Bestandsnaam: Kadastrale percelenkaart (tijdelijk)

Als ik de Kadastrale percelenkaart probeer weer te geven in een viewer, dan krijg ik een foutmelding (details zie hieronder). Deze service (WMS) kan ik echter wel in arcgis openen, zie plaatje. Ook blijkt dat de kaart wel zichtbaar is in de publicatieomgeving, zie plaatje daaronder.

Wat is hier aan de hand? Komt het omdat er een zoomniveau is in

[2017-03-23 08:30] gerardnienhuis opened #447 "Kaart beveiligde service met zoomniveau toont niet in viewer"
Bestandsnaam: Kadastrale percelenkaart (tijdelijk)

Als ik de Kadastrale percelenkaart probeer weer te geven in een viewer, dan krijg ik een foutmelding (details zie hieronder). Deze service (WMS) kan ik echter wel in arcgis openen, zie plaatje. Ook blijkt dat de kaart wel zichtbaar is in de publicatieomgeving, zie plaatje daaronder.

Wat is hier aan de hand? Komt het omdat er een zoomniveau is in

[2017-03-23 08:31] gerardnienhuis opened #448 "Kaart beveiligde service met zoomniveau toont niet in viewer"
Als ik de Kadastrale percelenkaart in het interne Geoportaal probeer weer te geven in een viewer, dan krijg ik een foutmelding (details zie hieronder). Deze service (WMS) kan ik echter wel in arcgis openen, zie plaatje. Ook blijkt dat de kaart wel zichtbaar is in de publicatieomgeving, zie plaatje daaronder.

Wat is hier aan de hand? Komt het omdat er een zoomniveau is ingesteld? Of omdat het een

[2017-03-23 08:35] gerardnienhuis commented on #447
staat er dubbel in, deze is gesloten

[2017-03-23 08:35] #447 closed, assigned to nobody

[2017-03-23 08:36] gerardnienhuis commented on #446
staat er dubbel in, issue is gesloten

[2017-03-23 08:36] #446 closed, assigned to nobody

[2017-03-23 08:54] SandroNeumann commented on #448
Zijn beveiligde services, verwant aan #436 .

Zie: https://secure-services.geodataoverijssel.nl/viewer/layer/B02_topografie_beveiligd/Kadastrale_percelenkaart_belastingplichtige

[2017-03-23 08:59] gerardnienhuis commented on #436
Kan ook zijdelings te maken hebben met

https://github.com/IDgis/geoportaal-test/issues/448

Maar een opmerkelijk verschil hierbij is, dat in dat geval gekeken wordt vanaf intern Overijssel naar een beveiligde service.
Die toont wel (als WMS) in arcgis, maar klik op link naar viewer geeft fout.

[2017-03-30 14:01] gerardnienhuis opened #449 "Tijdelijk extra tekst homepagina geoportaal"
Wens is om, in verband met een enquete, extra tekst op de homepagina van het Geoportaal zichtbaar te hebben. Deze tekst moet dan, na de enquete, weer verwijderd worden.

nb: de tekst wordt 1 regel tekst, inclusief een doorlink naar een externe andere site.

zie plaats van extra tekst bijgevoegd plaatje

![extra_tekst_geoportaal](https://cloud.githubusercontent.com/assets/9005444/24507877/043fa48a-

[2017-03-30 14:13] gerardnienhuis commented on #449
Bedoeling is 1 witregel extra, 1 regel extra tekst en 1 witregel daarna.
Die extra tekst bevat waarschijnlijk meestal ook een doorlink naar een extra pagina (maar hoeft niet altijd).

Wens is om het configurabel te maken: de tekst inclusief doorlink kan ik nu niet geven. Dus standaard is de layout zoals die nu al is. Maar als er wel extra tekst nodig is, dan moet die (inclusief de witregel onder e

[2017-03-31 06:50] gerardnienhuis commented on #29
Ik heb zojuist een bestand van minder dan 150 MB geopend, maar krijg toch foutmelding als ik kaart aan wil bieden. Het lijkt er op alsof het probleem weer is ontstaan. Ik werk nu thuis. Maar dit is ook geconstateerd op het provinciehuis gisteren (zelfde soort bestanden, zelfde foutmeling). Kan er iets aan de instellingen bij IDGis zijn veranderd? Details van test van vandaag:

https://admin.geopor

[2017-03-31 07:04] SandroNeumann commented on #29
Probeer het nu nog eens

[2017-03-31 07:11] HermanAssink commented on #29
Ik krijg nog steeds een java.lang.RuntimeException: java.lang.OutOfMemoryError: Java heap space (in de log v.d. container)

[2017-03-31 07:27] gerardnienhuis commented on #29
opnieuw getest, bestand iets kleiner van 140 MB opnieuw
werkt nog niet goed:

Oops, an error occurred
This exception has been logged with id 73g9najh7.

9.26 uur

________________________________________
Van: SandroNeumann [notifications@github.com]
Verzonden: vrijdag 31 maart 2017 9:04
Aan: IDgis/geoportaal-test
CC: Nienhuis, G (Gerard); State change
Onderwerp: Re: [IDgis/geoportaal-test] Minimaa

[2017-03-31 07:47] SandroNeumann commented on #29
Ik heb de memory omhoog gezet voor de admin en net een bestand van 143MB ge-upload:

https://admin.geoportaaloverijssel.nl/edit/9427f542-2ccb-42a7-a1eb-63d21c7a08c1

[2017-03-31 09:25] gerardnienhuis commented on #29
probleem lijkt weer opgelost: upload van bestand van 196 mb is goed gegaan, zie details.
Issue kan weer gesloten.

Details:
 test 143.05 MB
  test_texel_196mb.zip 191.46 MB
  texel.zip 135.36 MB

[2017-03-31 09:25] #29 closed, assigned to SandroNeumann

[2017-04-04 16:16] gerardnienhuis opened #450 "Namen contactpersonen in rapportage"
Graag alle namen van de contactpersonen ook opnemen in de rapportage bij geodatasets.

[2017-04-05 15:08] SandroNeumann commented on #449
De tekst zelf lever je nog aan?

[2017-04-05 15:13] gerardnienhuis commented on #449
De bedoeling is, dat die tekst eenvoudig in kader van beheer aan te passen is. Als test kan je wat mij betreft zoiets nemen als:

" Dit is een test. Link naar nu.nl (en dan nu.nl als link onderstreept en met doorlink naar nu.nl)"
maar de tekst kan ook langer zijn (max 1 regel), bijvoorbeeld:

"Dit is een test. Hier komen extra teksten over het Geoportaal. Zie website provincie Overijssel (waar dan

[2017-04-05 15:15] SandroNeumann commented on #449
Dat snap ik, maar ik heb voor de eerste keer de tekst nodig zoals die in het begin ingesteld moet gaan worden.

[2017-04-05 15:18] gerardnienhuis commented on #449
Bedoeling is, dat er standaard geen tekst staat. Dus dan is layout precies zelfde zoals nu het geval is. Die extra tekst is alleen optioneel, voor speciale gevallen. Voor het testen vind ik het prima om de onderstaande tekst te testen. Maar we moeten dan bij de acceptatietest ook testen, hoe e.e.a. er uit ziet, zonder die tekst

voorbeeld tekst:

"Dit is een test. Hier komen extra teksten over het

[2017-04-05 15:22] SandroNeumann commented on #449
Maar je wilde dit toch initieel voor een enquete? Die tekst moeten we tzt nog ontvangen dan.

[2017-04-05 16:31] gerardnienhuis commented on #449
Dat is correct. Voor een enquête, maar eventueel ook voor iets anders. Bedoeling is dat het flexibel in te zetten is. Voor een enquête, maar ook voor andere doeleinden. Tekst moet dus vrij op te geven zijn.

[2017-04-10 10:12] SandroNeumann commented on #388
Er worden hierboven meerdere verschillende waardes gegeven om aan te geven dat de data alleen via WMS beschikbaar mag zijn. Ik implementeer nu "Alleen WMS extern".

[2017-04-12 12:00] gerardnienhuis commented on #397
de bedoeling is dat http://geoportaaloverijssel.nl en https://geoportaaloverijssel.nl beiden uitkomen op:
http://www.geoportaaloverijssel.nl

[2017-04-14 12:21] HermanAssink opened #451 "IP-adres van IDgis aanpassen voor test, acc en prod"

[2017-04-14 13:07] HermanAssink opened #452 "Geoportaal: scrollwiel werkt niet in lijst met zoekresultaten"

[2017-04-14 15:14] SandroNeumann opened #453 "Service met wms_only dataset levert altijd alleen maar WMS aan portaal (ook wanneer het in secured-services zit)"

[2017-04-14 15:17] SandroNeumann opened #454 "De viewer url van datasets in wms_only services wordt niet geharvest door geoportaal"

[2017-04-14 19:50] SandroNeumann commented on #454
Ook in de html view viewer-urls die beginnen met "wmsonly-services" toestaan.

[2017-04-17 15:10] HermanAssink commented on #454
Is dit ook de oorzaak voor het ontbreken "Bekijk in viewer" in de lijst met zoekresultaten in het Geoportaal?

[2017-04-17 15:17] HermanAssink opened #455 "Lagen/laag wordt niet getoond/uitgeklapt in viewer (via RDP)"
Bij bekijken in viewer wordt de laag aardgastransportleidingen in service wms-only niet getoond/uitgeklapt via RDP in FF 52.0.2

[2017-04-17 18:40] #452 closed, assigned to nobody

[2017-04-18 06:59] SandroNeumann commented on #454
Ja.

[2017-04-18 07:28] SandroNeumann commented on #455
Ik kan dit niet reproduceren. Heb het in IE, FF en Chrome zowel lokaal als in remote desktop getest. Zelfde versie als hierboven staat in FF.

[2017-04-18 12:40] HermanAssink commented on #455
Niet goed reproduceerbaar, alleen in RDP geconstateerd

[2017-04-18 12:40] #455 closed, assigned to nobody

[2017-04-18 16:10] gerardnienhuis opened #456 "Bekijken lagen in service geeft foutmelding"
Het bekijken van lagen bij onderdeel WAT levert fouten op. Zie bijgevoegde figuur.

Dit lijkt bij alle services en alle lagen op te treden. Opmerkelijk is dat bekijken van lagen in viewer wel goed lijkt te werken. In de productieversie 1.1.3 is dit probleem niet opgevallen.

3 bijvoorbeelden:

https://acc-www.geoportaaloverijssel.nl/metadata/service/d27f077b-d471-4778-8591-820bbbd1b127
Naam van de

[2017-04-18 17:13] gerardnienhuis opened #457 "XML link bij details op verkeerde plaats"
De link naar de xml lijkt op een verkeerder plaats te staan, bij de details van geodatasets.

zie bijvoorbeeld:
Bestandsnaam: Boomregister Overijssel
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/07d7d345-ee2a-9a75-6e6e-68cf867717ad

De link naar xml bij details bijna bovenin: dat is niet de bedoeling en werkt ook niet zo bij 1.1.3..

zie figuur.

zie ook https://github.com/IDgis/geopor

[2017-04-18 17:16] gerardnienhuis commented on #456
Kan het zijn dat inlezen van xmls via provider niet goed is gegaan? Er zijn "maar" 45 geodatasets te vinden (zoek bij uitgebreid zoeken, alleen geodata aangeklikt). Er staan er veel meer bij de services genoemd.

[2017-04-18 17:35] gerardnienhuis opened #458 "Rapportage acceptatieomgeving geeft rapport productieomgeving"
Als je een rapport van geodata maakt als beheerder, dan komen er heel veel geodatasets in het rapport. Veel meer dan op de acceptatieomgeving staan. Het lijkt er op alsof het rapport wordt gegeven van de data in de productieomgeving. Geldt ook voor rapport van services, download en statische kaarten.

Bedoeling is, dat als je acceptatieversie test, je ook rapport van acceptatieomgeving krijgt.

[2017-04-19 06:59] SandroNeumann commented on #457
Dat is veranderd vanwege issue #392

[2017-04-19 07:02] gerardnienhuis commented on #456
wens: als achterliggende metadata afwezig is, dan wel zichtbaar in lijst, zoals nu het geval is. maar niet aanklikbaar maken, zodat foutmelding niet meer komt.

nb: voor 114 blijkt het wel te werken, getest met Begrenzing EHS en Zone Ondernemen met natuur en Water

[2017-04-19 07:04] gerardnienhuis commented on #418
Nu niet te testen op acceptatie, zie #458

[2017-04-19 07:08] gerardnienhuis commented on #457
geen bug, is juist goed, moet nog getest als er services zijn.

[2017-04-19 07:34] SandroNeumann commented on #458
Het aantal datasets in het rapport is correct. Wat niet correct is zijn het aantal datasets in het geoportaal. Dit komt vanwege hetzelfde probleem als #456.

[2017-04-19 08:38] gerardnienhuis commented on #458
Het is dus geen bug. Dit is weer het probleem dat acceptatieomgeving verouderde en foute bestanden bevat. Wens is om t.z.t. de productieomgeving over te kopiëren naar de acceptatieomgeving, zodat die fouten meteen in één keer op te lossen zijn. Op dit moment kan dat aan kant van Overijssel nog niet en daardoor komt soms deze verwarring weer boven. Rapporten zijn dus wat lastiger leesbaar maar wel

[2017-04-19 10:01] gerardnienhuis opened #459 "Link naar service en capabilities bij details geodataset"
Nu staat er bij de details van een geodataset wel veel, wat verwijst naar zaken waar het mee te maken heeft. Viewer en download zijn direct aan te klikken en levert dan ook resp. kaartje of downloadscherm.
Maar bij de verwijzing naar de services is dat niet zo.

Kan dat ook aangepast worden? Met verwijzing en doorlink naar de service waarin de betreffende geodataset is opgenomen. En, indien mogeli

[2017-04-19 11:54] gerardnienhuis opened #460 "Rapport geodata WMS extern niet begrijpelijk"
Wij hebben een testservice gemaakt, waarbij zowel de WMS als de WFS extern beschikbaar is. Echter, in het rapport van geodata staat bij de betreffende geodataset, dat er geen WFS aanwezig is.

We hebben ook andere testbestanden gemaakt, en soms ook in services geplaatst (bijvoorbeeld alleen WMS-services). Deze blijken wel de juiste informatie in het rapport te hebben. Alleen bij de datasets met zo

[2017-04-19 11:58] gerardnienhuis opened #461 "Maarse van beheerder naar leverancier"
Wim Maarse staat voor de beheermodule van statische kaarten nog aangemerkt als beheerder. Verzoek is om hem de status "leverancier" te geven.

[2017-04-19 12:01] SandroNeumann commented on #460
Die kolom heeft als betekenis dat het wms alleen extern vlaggetje aan staat voor een dataset. De naamgeving van die kolom kan dus beter, maar de betekenis is of onder gebruiksbeperkingen in de metadata de waarde "Alleen WMS extern" gevonden is.

[2017-04-19 12:01] gerardnienhuis opened #462 "Datumvermelding in rapportage geodatasets"
Wens is om de datums die in de metadata staan, ook in het rapport te vermelden.

Nu zijn volgens de stylesheet aanwezig (met achter de : een voorbeeld van de vulling)

Voltooiing bestand: 09-06-1996
Publicatie bestand: 19-04-2017
Laatste wijziging bestand: 18-04-2017
Laatste wijziging bestandsbeschrijving: 19-04-2017
Temporele dekking Van datum: 14-01-2011
Temporele dekking Tot datum: 14-01-2011

[2017-04-19 12:14] gerardnienhuis commented on #460
DIt blijkt geen bug te zijn, maar is verwarrend voor iemand die snel de controle van het rapport wil doen.

voorstel: kolom naam gaat van
wms_extern naar alleen_wms_extern

nieuwe kolom toevoegen, tussen data_publiek en  alleen_wms_extern
deze kolom gaat heten: wms_extern_aanwezig en bevat waarden Ja of Nee

Bedoeling is dat als er Ja staat, er een WMS beschikbaar is
Staat er Nee, dan is er geen W

[2017-04-19 12:39] gerardnienhuis opened #463 "Velden verschoven in excel rapport geodata"
Het blijkt dat de csv die ingelezen wordt in excel, niet altijd de juiste waarden in de juiste kolommen zet. Mogelijk komt dit omdat excel anders dan andere spreadprogramma's de csv anders inleest of converteert. Probleem is bijvoorbeeld zichtbaar bij wms_extern, zoals in bijgevoegd figuur te zien is (geel gemarkeerde cellen hadden een waarde moeten bevatten, zijn nu leeg).

Verzoek: een keer uitz

[2017-04-19 12:41] gerardnienhuis commented on #458
issue kan gesloten, geen issue voor 1.1.4.

[2017-04-19 12:41] #458 closed, assigned to nobody

[2017-04-19 12:41] gerardnienhuis commented on #457
is getest, zie er goed uit, issue kan gesloten

[2017-04-19 12:41] #457 closed, assigned to nobody

[2017-04-19 12:57] SandroNeumann commented on #463
Als je de csv inleest heb je dan onderstaande gegevens aangegeven? Dus scheidingsteken ;  en tekstscheidingsteken ".

![inlezen xml](https://cloud.githubusercontent.com/assets/10757125/25181015/6316a748-2510-11e7-87dc-4b7717f00501.png)

[2017-04-19 12:59] gerardnienhuis commented on #463
Dat soort instellingen krijg je default bij provincie Overijssel. Wens is dat je gewoon op de csv klikt, en dat dan, met de default instellingen, de inhoud goed op het scherm komt. In excel.

[2017-04-19 13:02] SandroNeumann commented on #463
Dat kan je vanuit de programmatuur niet afdwingen. Je downloadt een csv en daar doe je vervolgens wat mee in een extern programma.

[2017-04-19 13:05] gerardnienhuis commented on #463
klopt, maar het lijkt er op alsof het, door ons gebruikte externe programma (excel) niet helemaal doet, wat je zou verwachten. Wens is, dat alle data in de juiste cellen terecht komt. Dat is nu niet altijd het geval.

[2017-04-19 13:31] SandroNeumann commented on #463
Dat is een wens die je alleen bij Overijssel of Excel kunt neerleggen. Het geoportaal levert alleen een csv met bepaalde scheidingstekens, die je vervolgens in een spreadsheet programma moet aan kunnen geven.

[2017-04-19 14:03] gerardnienhuis commented on #463
Zou het helpen om de volgorde van de kolommen te veranderen? Of het type veldscheider wat is gebruikt?

[2017-04-19 14:05] SandroNeumann commented on #463
Als jij er achter kunt komen wat voor scheidingstekens bij jullie default gebruikt wordt kunnen we dat aanpassen.

[2017-04-19 14:08] gerardnienhuis opened #464 "Archiveren of verwijderen volledige selectie"
Nu kan je maximaal 20 statische kaarten tegelijk archiveren. Dat zelfde geldt voor verwijderen. Dat is lastig, omdat er misschien wel 1000 of meer statische kaarten naar het archief verplaats moeten worden. Kan je een methode hanteren, zodat acties zoals "naar prullenbak" of "naar archief" voor de volledige geselecteerde set wordt uitgevoerd? Een extra optie bij het archiveren of verwijderen zelf?

[2017-04-19 14:10] gerardnienhuis commented on #464
Het is eigenlijk vreemd dat je wel een selectie kan maken, maar vervolgens geen acties op die selectie kan uitvoeren. Zou het een optie zijn om, als er een selectie is gemaakt, default meteen die betreffende statische kaarten aan te vinken?

[2017-04-19 14:39] gerardnienhuis opened #465 "Beveiligde service geeft alleen WMS in interne portaal"
Als er een beveiligde service is, dan van mag een laag zowel de WMS als de WFS intern beschikbaar zijn. Extern natuurlijk niet, maar wel intern. Nu lijkt het er op alsof alleen de WMS beschikbaar wordt gesteld. De WFS ontbreekt mogelijk volledig.

De link naar de download ontbreekt bij de zoekresultaten (zie plaatje).
En bij de details staat alleen de WMS vermeld. Dat lijkt niet correct.

Details

[2017-04-19 18:33] gerardnienhuis commented on #442
probleem blijkt opgelost, issue kan gesloten

[2017-04-19 18:33] #442 closed, assigned to nobody

[2017-04-20 13:38] gerardnienhuis commented on #454
werkt nu wel goed, getest zowel intern als extern portaal.

issue kan gesloten.

Hieronder test details

https://acc-intern.geoportaaloverijssel.nl/metadata/dataset/594306a7-2f85-42c9-bb64-da13f525303d
Bestandsnaam: Gemeentegrenzen TEST alleen WMS

Alternatieve titel: B7.gemgrens_alleen_WMS (B7.B75)

Status: Compleet

Website: http://acc-wmsonly-services.geodataoverijssel.nl:80/viewer/layer/B7_tes

[2017-04-20 13:38] #454 closed, assigned to SandroNeumann

[2017-04-21 06:19] gerardnienhuis commented on #449
De positie van de tekst is niet goed.

De tekst zelf is wel goed en de link blijkt ook goed te werken. Maar de tekst zelf staat te dicht onder de knoppenbalk. Er was gevraagd om 1 witregel extra, en dan pas de tekst.

Bedoeling is dat de extra tekst goed opvalt, dus ook met extra witruimte er om heen.

Het lijkt er op alsof de tekst juist dichter bij de knoppenbalk staat, in plaats van verder daar

[2017-04-21 06:27] gerardnienhuis commented on #449
per ongeluk gesloten, is nog niet opgelost en dus nog open.

[2017-04-21 06:31] gerardnienhuis commented on #300
Dit werkt nu wel goed. getest vanaf extern geoportaal: service bekeken en daarna laag bekeken, door te klikken bij de WAT op de url van die laag: geeft beide nu stylesheet voor extern portaal. Issue kan gesloten

[2017-04-21 06:31] #300 closed, assigned to SandroNeumann

[2017-05-01 13:12] gerardnienhuis commented on #453
Wat is hier het issue en hoe kan ik dit als gebruiker testen?

[2017-05-02 08:50] gerardnienhuis opened #466 "Plaatjes zoekresultaten ontbreken vanaf 24-4-17"
Bij de zoekresultaten en ook op de homepagina ontbreken de plaatjes opeens. Dat was voor 24-4-2017 niet het geval, maar bij de geodata die na 204-2017 is gepubliceerd, daar ontbreekt soms het plaatje (zie figuur).

Hieronder 3 voorbeelden. 2 waarbij het nu niet goed is, en 1 waarbij het wel goed is.

Na 24-4-2017 geupdate, gaat fout.

plaatje bij zoekresultaten is afwezig. Dat is vreemd, wat plaat

[2017-05-02 08:57] gerardnienhuis commented on #466
nb: het valt op dat het bestanden betreft die op 25-4-17 of later als nieuw bestand zijn toegevoegd in oracle. De plaatjes van andere bestanden die opnieuw zijn gepubliceerd (ook na 24-4-7) die lijken wel goed zichtbaar te zijn, die bijvoorbeeld:

Contouren rond kleine kernen zoals opgenomen in het streekplan 2000+ (25-04-2017, Provincie Overijssel)
https://www.geoportaaloverijssel.nl/metadata/dat

[2017-05-02 11:09] gerardnienhuis commented on #466
Zojuist getest. Probleem bestaat nog steeds

[2017-05-02 14:13] SandroNeumann commented on #466
Beide genoemde datasets hebben structuurwijzigingen die nog geaccepteerd moeten worden:

https://admin.geodataoverijssel.nl/datasets/2338cc4e-a138-4e09-aaa2-a99f4717b037
https://admin.geodataoverijssel.nl/datasets/a82fba19-8457-48b7-a768-1d9f3025d159

Om die reden zal vermoedelijk de oude versie nog altijd gepubliceerd worden.

[2017-05-02 14:22] SandroNeumann commented on #453
Je kunt dit testen door te kijken of wanneer een service in een WMS only omgeving zit er ook alleen een WMS service aan de voorkant van het geoportaal getoond wordt. En als een service in een beveiligde omgeving zit deze zowel WMS als WFS toont (dus zelfs wanneer er een WMS only dataset in zit).

[2017-05-02 14:31] SandroNeumann commented on #461
Aangepast

[2017-05-03 06:28] gerardnienhuis commented on #466
Volgens mij werkt e.e.a. nu niet goed.

Een deel van de metainfo wordt wel overgehaald als nieuwe metainfo wordt gepubliceerd, en een andere deel niet? Dat kan niet de bedoeling zijn.

Zie onderstaand voorbeeld.

Begrenzing NNN (voorheen EHS) en Zone Ondernemen met Natuur en Water (25-04-2017, Provincie Overijssel)
https://www.geoportaaloverijssel.nl/metadata/dataset/ee6f220d-ca3e-4222-b690-4a13dd

[2017-05-03 08:33] gerardnienhuis commented on #461
is nu goed, issue kan gesloten

[2017-05-03 08:33] #461 closed, assigned to nobody

[2017-05-03 08:34] gerardnienhuis commented on #441
lijkt nu nog steeds goed te werken, issue kan gesloten

[2017-05-03 08:34] #441 closed, assigned to nobody

[2017-05-03 08:41] gerardnienhuis commented on #436
werkt nu goed, getest met data in beveiligde service.

Gebruiksbeperkingen: Data mag niet uitgeleverd worden
Bestandsnaam: Gemeentegrenzen TEST vertrouwelijk extern
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/faa97965-296c-43ab-8ec8-585fc6c71f06

issue kan gesloten.

[2017-05-03 08:41] #436 closed, assigned to SandroNeumann

[2017-05-03 08:43] gerardnienhuis commented on #419
werkt goed, issue kan gesloten

[2017-05-03 08:43] #419 closed, assigned to SandroNeumann

[2017-05-03 08:47] gerardnienhuis commented on #414
werkt nu goed, getest met

https://acc-www.geoportaaloverijssel.nl/metadata/service/36e0e91b-59a9-4dd8-8038-e0435af8144e
en
https://acc-www.geoportaaloverijssel.nl/metadata/service/c16c8f56-ad2d-4ed2-8950-779cc379b93f

Naam van de service: B7_test_openbaar
Publicatie service: 19-04-2017
Laatste wijziging servicebeschrijving: 19-04-2017

issue kan gesloten

[2017-05-03 08:47] #414 closed, assigned to SandroNeumann

[2017-05-03 08:49] gerardnienhuis commented on #411
werkt goed, punt is nu weg in tekst
 issue kan gesloten

[2017-05-03 08:49] #411 closed, assigned to SandroNeumann

[2017-05-03 08:53] gerardnienhuis commented on #409
werkt goed bij:
Bestandsnaam: Hoog Nederland met Afgedekte Pleistocene Sedimenten
Alternatieve titel: B7.Afgedekt_pleistoceen (b7\b73)
Status: Compleet
XML: https://acc-www.geoportaaloverijssel.nl/metadata/dataset/bdb827f6-ab7d-479e-af2d-a59c7dcc2f3e?noStyle=true
Algemene beschrijving herkomst: Rijksdienst voor het Cultureel Erfgoed Amersfoort, 2010
Volledigheid: Os, B.J.H. van & Kosian, M.C., 201

[2017-05-03 08:54] gerardnienhuis commented on #409
issue kan gesloten, geen problemen meer gevonden

[2017-05-03 08:54] #409 closed, assigned to SandroNeumann

[2017-05-03 09:04] gerardnienhuis commented on #407
Voor nu werkt het goed. Voorstel voor verdere verbetering hieronder, kan ik volgende versie meegenomen worden.

Voorbeeld uitwerking:

Waarschuwing: het nummer is niet goed ingevuld
Nummer is: 9

Het nummer wat je hebt ingevoerd, wijkt af van de gewone nummers. Controleer of je het juiste nummer hebt ingevoerd, voordat je verder gaat.

Het nu ingevoerde nummer bevat meer dan 8 cijfers. Of het beva

[2017-05-03 09:06] gerardnienhuis commented on #405
werkt goed, getest met filters (gebruiker of met hand aanklikken en selecteren): werkt beide nu goed

bv: Aantal records: 40 | Aantal weergegeven records: 40 | Aantal geselecteerde records: 0
bij filter Nienhuis

issue kan gesloten

[2017-05-03 09:06] #405 closed, assigned to SandroNeumann

[2017-05-03 13:03] SandroNeumann commented on #466
Ik heb de oorzaak gevonden. De harvester loopt al een hele tijd niet meer, omdat de id van een tabel de max van de range van het kolom type is overschreden. Dat is de tabel waar alle termen in komen waar op gezocht moet kunnen worden. Dat zijn er aardig wat per dataset. Alle drie data types (dataset, service, statische kaart) staan in dezelfde database en de harvester loopt per data type elk kwart

[2017-05-03 15:28] SandroNeumann opened #467 "Omgaan met snel oplopende id sequence in geoportaal-publiek"
Id kolommen in geoportaal-publiek database en harvester veranderen van serial naar bigserial.

Zie #466

[2017-05-04 11:16] gerardnienhuis commented on #264
werkt goed, getest door bestanden van en naar archief te verplaatsen: issue kan gesloten

[2017-05-04 11:16] #264 closed, assigned to SandroNeumann

[2017-05-04 11:40] gerardnienhuis commented on #377
werkt goed, issue kan gesloten

[2017-05-04 11:40] #377 closed, assigned to SandroNeumann

[2017-05-04 11:54] gerardnienhuis commented on #418
blijkt goed te werken, issue kan gesloten

[2017-05-04 11:54] #418 closed, assigned to SandroNeumann

[2017-05-04 11:57] gerardnienhuis commented on #403
blijkt goed te werken, issue kan gesloten, zie testresultaat hieronder:

Naam statische kaart: Test locatie als url
Beschrijving: Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als url Test locatie als u

[2017-05-04 11:57] #403 closed, assigned to nobody

[2017-05-04 12:42] gerardnienhuis commented on #395
werkt goed, issue kan gesloten

[2017-05-04 12:42] #395 closed, assigned to nobody

[2017-05-04 12:42] gerardnienhuis commented on #394
werkt goed, issue kan gesloten

[2017-05-04 12:42] #394 closed, assigned to nobody

[2017-05-04 12:48] gerardnienhuis commented on #388
werkt goed, issue kan gesloten

[2017-05-04 12:48] #388 closed, assigned to copierrj

[2017-05-04 12:49] gerardnienhuis commented on #392
werkt goed, issue kan gesloten

[2017-05-04 12:49] #392 closed, assigned to SandroNeumann

[2017-05-04 12:51] gerardnienhuis commented on #389
werkt goed, issue kan gesloten

[2017-05-04 12:51] #389 closed, assigned to SandroNeumann

[2017-05-04 14:07] andreweijmer commented on #287
Een nieuwe dataset toevoegen met kenmerk “beveiligd” is **OK** wordt gemeld
Een nieuwe dataset toevoegen met kenmerk “alleen wms” is **OK** wordt gemeld
Een nieuwe dataset toevoegen met kenmerk “openbaar” is **OK** wordt gemeld

Een bestaande dataset verwijderen is **NOK**
WORDT NIET GEMELD  BIJ OPENSTAANDE ACTIES

Naam van een bestaande dataset wijzigen is **NOK**
WORDT NIET GEMELD  BIJ OPENSTAAN

[2017-05-04 14:26] SandroNeumann commented on #287
@andreweijmer:

De laatste twee genoemde notificaties zijn niet in scope voor 1.1.4. Alleen de notificaties die @gerardnienhuis noemt in zijn commentaar van 2 februari.

Een notificatie voor het verwijderen van een brondataset moet echter wel slagen. Ik heb dit ook meerdere keren getest in onze testomgeving. De handeling hiervoor is: brondataset (xml) verwijderen uit de map -> harvesten -> notific

[2017-05-04 14:45] gerardnienhuis commented on #287
bij mijn opmerking van 2 feb staat ook:
•brondataset niet langer aanwezig
dat hebben we getest en lijkt niet een notificatie op te leveren. Lijkt dus nog niet te kloppen. nb: wij hebben alleen geodata verwijderd, en xml laten staan. Ik vermoed dat hier de verwarring in zit. Normaal moet je als beheerder ook xml verwijderen. We moeten nog gaan testen of de notificatie dan wel goed gaat..

[2017-05-04 14:49] SandroNeumann commented on #287
Ja, je moet de xml verwijderen wil je hiervoor een notificatie krijgen.

[2017-05-05 14:08] SandroNeumann commented on #465
@gerardnienhuis

Wat betreft de WFS link heb je gelijk, dat was een bug. De download link ook in intern niet tonen wanneer het niet downloadable is heeft echter altijd zo gewerkt. Ik meen dat jullie dat destijds wilden, zodat jullie wisten hoe gebruikers de data zouden zien. Graag hoor ik hoe je daar tegenover staat nu. Het is een kleine aanpassing.

[2017-05-08 05:41] gerardnienhuis commented on #465
Als er beveilgde wfs is dan die url intern tonen zowel bij details in metainfo en als downloadlink bij zoekresultaten

Dat is zowel als in metadata staat dat het downloadable is en ook als dat er niet staat

In  extern geoportaal nooit wfs url of doenloadlink tonen als downloadable afwezig is

[2017-05-08 08:34] andreweijmer commented on #287
Alle notificaties werken correct

Een nieuwe dataset toevoegen met kenmerk “beveiligd” is OK wordt gemeld
 Een nieuwe dataset toevoegen met kenmerk “alleen wms” is OK wordt gemeld
 Een nieuwe dataset toevoegen met kenmerk “openbaar” is OK wordt gemeld
status verandering van openbaar naar WMS,  is OK
status verandering van alleen WMS naar beveiligd is, OK
status verandering van beveiligd naar openb

[2017-05-08 08:34] #287 closed, assigned to copierrj

[2017-05-08 08:50] gerardnienhuis commented on #453
is zelfde als https://github.com/IDgis/geoportaal-test/issues/465 ?

[2017-05-08 09:29] SandroNeumann commented on #453
Nee, dat issue gaat over wat in de metadata zichtbaar is (en de download link). Dit issue gaat over welke records te zien zijn aan de voorkant van het geoportaal.

[2017-05-08 10:07] gerardnienhuis commented on #448
blijkt nu wel goed te werken, issue kan gesloten

https://acc-secure-services.geodataoverijssel.nl/viewer/layer/B02_topografie/Kadastrale_percelenkaart_tijdelijk

 toont nu correct kaartbeeld, als je 5 keer ingezoomd bent

nb: staat onder meer in de service Topografie

OGC:WMS: https://acc-secure-services.geodataoverijssel.nl:443/geoserver/B02_topografie/wms
Bekijk de service in een viewer
Lagen:

[2017-05-08 10:07] #448 closed, assigned to nobody

[2017-05-08 11:00] gerardnienhuis commented on #232
Formeel is dit probleem niet op gelost. Fout is aanwezig in validator van Geoonvum, omdat daar de testen strenger zijn dan formeel in de standaard wordt beschreven. In de nieuwe versie van de NL versie van 19115 zal waarschijnlijk de strengere manier de formele standaard worden.  Op dit moment lopen die overleggen over de nieuwe standaard nog en heeft het dus geen zin om dit probleem met het Geopo

[2017-05-08 12:35] SandroNeumann commented on #467
Tevens status harvest actie naar een file wegschrijven ter behoeve van monitoring.

[2017-05-08 13:08] gerardnienhuis commented on #232
geopend opnieuw, milestone 1.3 van gemaakt: blijft punt van aandacht voor toekomst

[2017-05-08 13:19] gerardnienhuis commented on #380
werkt goed, wel erg technisch. tzt overwergen om een aantal zelfde vermeldingen in een groep onder te brengen, nu zijn er 10 of meer schrijfwijzen voor vermelding dat een jpg is gekoppeld. Issue opgenomen in een volgende versie, voor 1.1.4 succesvol afgerond.

[2017-05-08 13:32] gerardnienhuis commented on #453
alleen WMS service gemaakt, met 1 laag: blijkt bij die laag ook slechts 1 service te staat bij details, namelijk alleen de WMS.
Bij openbaar blijken zowel wms als wfs te zien, klopt dus

[2017-05-08 13:33] gerardnienhuis commented on #453
werkt goed, issue kan gesloten

[2017-05-08 13:33] #453 closed, assigned to SandroNeumann

[2017-05-08 13:37] gerardnienhuis commented on #400
plaatjes zijn nu wel aanwezig, issue kan gesloten.. let op: acc versie gebruiken om te testen.

[2017-05-08 13:37] #400 closed, assigned to SandroNeumann

[2017-05-08 13:42] gerardnienhuis commented on #381
getest, blijkt correct in excel terug te vinden te zijn. Maar bij testen hebben we ook een foutsituatie trachten te corrigeren. Dat is niet gelukt. Bedoeling was om te kijken of de gecorrigeerde info ook juist in het rapport te zien is.

Kanoroutes in Overijssel tabel (08-03-2011, Provincie Overijssel)
https://acc-intern.geoportaaloverijssel.nl/metadata/dataset/ba17bc38-f6f5-086d-20c2-23e8b1cc0bf0

[2017-05-08 13:57] SandroNeumann commented on #381
Dit speelt bij de harvester in de geopublisher. Hier wordt een wijziging in de metadata pas opgepikt wanneer ook de revisiedatum is aangepast. Om die reden blijft deze ongewijzigd.

[2017-05-08 14:17] gerardnienhuis commented on #381
Hoe kan dat? Betreffende dataset zit nog helemaal niet in een service

Verstuurd vanaf mijn iPhone

Op 8 mei 2017 om 15:57 heeft SandroNeumann <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Dit speelt bij de harvester in de geopublisher. Hier wordt een wijziging in de metadata pas opgepikt wanneer ook de revisiedatum is aangepast. Om die reden blijft deze ong

[2017-05-08 14:20] SandroNeumann commented on #381
Het is de harvester van de geopublisher, niet het geoportaal. In de publisher harvester worden de xml's van jullie direct geharvest.

[2017-05-10 07:40] gerardnienhuis commented on #381
Omdat de vermeldingen wel correct in de excel file staan, kan deze melding gesloten worden. Updaten van bestaande metainfo is een ander issue.

[2017-05-10 07:40] #381 closed, assigned to SandroNeumann

[2017-05-10 10:39] gerardnienhuis opened #468 "Typefout nutsvoorzieningen"
Er staat nu in het geoportaal "nutsvoorieningen" dat moet zijn "nutsvoorzieningen".

zie plaatje

![typefout_nutsvoorzieningen](https://cloud.githubusercontent.com/assets/9005444/25894814/ae5494a4-357d-11e7-9c24-096cf991db94.jpg)

[2017-05-10 13:09] SandroNeumann commented on #467
@gerardnienhuis

Hiervoor moet de database van de voorkant van het geoportaal opnieuw gemaakt worden. Dit is de database die gevuld wordt door de harvesters, dus NIET wat jullie aan statische kaarten invoeren.

Het heeft dus als effect dat de voorkant van het geoportaal een paar minuten leeg is, totdat de harvesters een keer gelopen hebben.

[2017-05-10 13:14] gerardnienhuis commented on #467
Dat klinkt als een ongewenst bijeffect. Of is het zo, dat dan alleen de homepagina leeg is?
Of niet leeg, maar alleen voorzien van de statische kaarten?

[2017-05-10 13:16] SandroNeumann commented on #467
Er zijn een paar minuten geen datasets, services en statische kaarten te zien aan de voorkant van het geoportaal.

[2017-05-10 14:56] SandroNeumann commented on #467
Niet te testen voor Overijssel, daarom sluit ik deze.

[2017-05-10 14:56] #467 closed, assigned to SandroNeumann

[2017-05-10 18:40] gerardnienhuis commented on #460
rapport is nu wel begrijpelijk: 2 versies getest, zowel wms extern aanwezig als afwezig: verschil is goed te zien bij
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/14de7639-f14d-4308-9912-cbe1070c8758 en
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/b77e1f16-0e65-4ef2-ac5b-57eceeae41a3

issue kan gesloten

[2017-05-10 18:40] #460 closed, assigned to SandroNeumann

[2017-05-10 18:41] gerardnienhuis commented on #451
ik neem aan dat dit nu goed werkt voor IDGis? Kan het issue dan gesloten?
Is niet iets wat prov. Overijssel kan testen.

[2017-05-10 18:43] gerardnienhuis commented on #449
witregel is toegevoegd, werkt nu goed, issue kan gesloten.

[2017-05-10 18:43] #449 closed, assigned to SandroNeumann

[2017-05-10 18:59] gerardnienhuis opened #469 "Geen viewer maar wel downloadlink"
Bestandsnaam: Gemeentegrenzen TEST vertrouwelijk
https://acc-www.geoportaaloverijssel.nl/metadata/dataset/a579da33-6a76-45ef-9c75-a4c75753aaf0

bij zoekresultaten is wel download link aanwezig, maar "niet bekijk in viewer"

hoe kan dat, als er WFS is, dan is er ook altijd WMS toch?

Gebruiksbeperkingen: Geen gebruiksbeperkingen
Gebruiksbeperkingen: Geoportaal extern
Gebruiksbeperkingen: Downloadab

[2017-05-11 06:15] gerardnienhuis commented on #469
hier de zoekresultaten op het externe geoportaal. opvallend is het  dat er wel download maar geen viewer wordt aangeboden... die download werkt overigens ook niet, zie boven.

![alleen_download](https://cloud.githubusercontent.com/assets/9005444/25935167/ff21f576-3621-11e7-855f-3b21b75a0284.jpg)

[2017-05-11 06:17] gerardnienhuis commented on #469
voor de volledigheid, hierbij beeld van het interne geoportaal, hier is wel download en viewer samen te zien.

![download_en_viewer](https://cloud.githubusercontent.com/assets/9005444/25935208/43d20184-3622-11e7-99b7-835e38246d78.jpg)

[2017-05-11 06:18] gerardnienhuis commented on #469
probleem is waarschijnlijk ontstaan doordat de services gemaakt werden, waarna de rechten van de bestanden in de metadata (dus achteraf) zijn aangepast. Dit is dus formeel geen bug, en moet tzt in een latere versie worden opgelost. ... getest door metadata daarna weer "goed" te zetten.

[2017-05-11 06:18] #469 closed, assigned to nobody

[2017-05-11 10:13] gerardnienhuis commented on #465
probleem is nu, dat download niet werkt. Er zijn services gemaakt, waarvan alleen bij intern portaal nog een probleem is. Alleen WMS en Openbaar (zowel WMS en WFS) werken goed, zowel intern als extern. Beveiligde service werkt echter niet goed. Als je op download klikt dan krijg je een foutmelding:

gekozen bestand:
https://acc-intern.geoportaaloverijssel.nl/metadata/dataset/a579da33-6a76-45ef-9c7

[2017-05-11 10:25] gerardnienhuis commented on #465
probleem gevonden, na overleg met Sandro: download tool controleert te streng. Als je intern zit, dan mag je wel download link zien en in metadata staat ook die wms en wfs en download link. Maar de controle werkt hetzelfde bij intern en extern, en daardoor komt blijkbaar dit foutmelding.

Oplossingsrichting:

download tool controle laten inbouwen: als intern, dan wel download mogelijk maken van be

[2017-05-11 12:20] SandroNeumann commented on #465
Aangepast:

https://acc-intern-download.geoportaaloverijssel.nl/download/a579da33-6a76-45ef-9c75-a4c75753aaf0

[2017-05-11 12:47] gerardnienhuis commented on #465
getest, zowel intern en extern, zowel zoekresultaten als links laten nu correcte informatie zien.

nb: bij intern zie je dus bij beveiligde service bij de details zowel wms als wfs naam, en ook download en viewer bij zoekresultaten. precies goed dus.

issue kan gesloten.

[2017-05-11 12:47] #465 closed, assigned to SandroNeumann

[2017-05-11 13:01] SandroNeumann commented on #451
Klopt, dit moeten wij verifieren nadat we in productie zijn.

[2017-05-11 13:51] gerardnienhuis opened #470 "Nieuwe tekst voor homepagina ivm vragenlijst"
Hierbij de tekst die op de homepagina van het geoportaal moet komen. Daarbij ook de link naar de vragenlijst. De hele laatste zin "Klik hier voor de vragenlijst" mag onderstreept zijn en wijzen naar de url van de vragenlijst.

De tekst is

Geef je mening over het Geoportaal. Wat zou je graag willen? Meer services, meer bestanden of iets heel anders? Dit is je kans om je mening te geven. Met jouw h

[2017-05-17 11:49] gerardnienhuis opened #471 "Viewer en download in Geoportaal Flora streeplijst werkt niet"
Viewer geeft geen kaartbeeld in Geoportaal en download werkt niet
Een mail verschijnt wel. Dat duurt vrij laat en dan staat er een foutcode in. 502 proxy error.

Gaat fout:

Bestandsnaam: Flora streeplijst
Alternatieve titel: B4.flora_streeplijst_point (B4/B47)
Status: Compleet
Download: https://download.geoportaaloverijssel.nl:443/download/e5f02bb8-59fb-4734-ac05-28b65e10af08
Website: http://serv

[2017-05-17 12:00] SandroNeumann commented on #471
Viewer toont de kaartlaag wel, maar pas na zo'n halve minuut.

[2017-05-17 12:27] gerardnienhuis commented on #471
Ja, klopt, viewer zie ik nu ook: is inderdaad lang wachten, maar werkt wel. Wat kan die traagheid veroorzaken? De meeste bestanden (ook de grote) staan binnen maximaal 10 seconden op het scherm.

Is dit zo'n zwaar bestand? En werkt daarom de download niet goed?

[2017-05-17 13:12] #451 closed, assigned to nobody

[2017-05-17 13:56] HermanAssink opened #472 "Schaalgrenzen per WMS-laag kunnen configureren in Publicatieomgeving"
Sommige datasets zijn dermate omvangrijk, bijv. de flora streeplijst, dat tekenen lang duurt voor heel Overijssel. Door schaalgrenzen op de WMS-layer te configureren wordt geregeld dat zo'n laag alleen getekend kan worden bij verder inzoomen en dan snel is.

[2017-05-17 15:07] SandroNeumann commented on #471
@gerardnienhuis

Ik heb in de proxy de timeout voor de services op een kwartier gezet en nu slaagt de bovengenoemde download.

[2017-05-18 10:53] gerardnienhuis commented on #471
Klopt, het is getest. Hier intern Overijssel werkt het nu ook. Het tijdstip van verzenden van downloadopdracht is 9.06 uur geweest. Mail met link ontvangen: 9.19 uur. Dat wil dus zeggen dat er 13 minuten tussen zit. Dat is meestal enkele seconden tot maximaal 1 minuut. Het is daarom niet ondenkbaar dat die 15 minuten voor sommige bestanden nog te krap is. Maar dat is niet erg. We weten dan in iede

[2017-05-18 10:53] #471 closed, assigned to nobody

[2017-05-18 10:54] gerardnienhuis commented on #470
werkt goed, issue kan gesloten

[2017-05-18 10:54] #470 closed, assigned to nobody

[2017-05-18 11:58] gerardnienhuis opened #473 "2 download formaten toevoegen"
Wens is om 4 extra formaten toe te voegen. Het blijkt dat een deel van de gebruikers deze formaten goed kan gebruiken. Details staan hieronder.

Nu staat in het download scherm:

Kies formaat

SHP  GML 2.1   GML 3.2    KML    DXF

verzoek om daar 4 formaten aan te voegen:

JPG, CSV, PDF en GeoJson

Volgorde wordt dan:

SHP DXF GeoJson GML 2.1 GML 3.2 JPG KML PDF

[2017-05-18 12:00] gerardnienhuis commented on #468
Probleem lijkt opgelost. Zowel op intern als extern geoportaal staat er nu weer Nutsvoorzieningen en communicatie
Issue kan gesloten.

[2017-05-18 12:00] #468 closed, assigned to nobody

[2017-05-18 12:38] HermanAssink commented on #473
Wat is de bedoeling van de downloadformaten JPG en PDF, een plaatje van de kaartlaag zoals de WMS die kan leveren? Deze formaten lenen zich namelijk niet (goed) om de ruwe data in uit te wisselen.
De formaten CSV en GeoJSON worden door GeoServer ondersteund en zijn daardoor relatief eenvoudig toe te voegen.

[2017-05-18 13:27] gerardnienhuis commented on #473
Klopt, PDF en Jpg leveren geen referentie, en zijn daarom minder zinvol. Graag wel Geojson en CSV toevoegen. Volgorde in het download scherm wordt dan:

SHP CSV DXF GeoJson GML 2.1 GML 3.2 KML

[2017-05-22 09:44] HermanAssink opened #474 "Bij statusovergang UNAVAILABLE => VECTOR / RASTER eerder aangemaakte notificaties afvinken"
Tabellen blijken soms tijdelijk afwezig / niet toegankelijk te zijn en komen later "automatisch" weer terug. De notificatie die is gemaakt bij het verdwijnen van de tabel is daardoor niet meer relevant.

[2017-05-23 11:36] gerardnienhuis opened #475 "Rapport met foutsituaties"
Als door de beheerder met geosticker de naam van het bestand wordt aangepast (titel in metainformatie), zonder dat de uuid wordt aangepast in geosticker, dan heb je na het opslaan een probleem. Het lijkt er op alsof dit wel in de publicatieomgeving wordt gemeld, maar als beheerder van de geodata wil je ook een overzicht van de fouten. Mogelijk zijn er nog meer fouten die kunnen ontstaan. Beheerwer

[2017-05-23 11:42] gerardnienhuis opened #476 "Zomerdijk beheerrechten geven"
Graag Ineke Zomerdijk ook beheerrechten geven voor het beheeronderdeel van statische kaarten van het Geoportaal.

[2017-05-23 12:27] gerardnienhuis commented on #475
Ook het rapport van Geodata bevat al foutsituaties: bijvoorbeeld "onterecht publiek" . Maar het is niet handig dat de fouten alleen daar staan. Een fouten-rapport moet snel leesbaar zijn, zodat de beheerders meteen weten of ze actie moeten ondernemen of dat er iets te controleren is. Status: fout, mogelijke fout en waarschuwing zou in het rapport zinvol kunnen zijn

[2017-06-07 07:18] gerardnienhuis opened #477 "Thumbnails kaarten zoekresultaten ontbreken"
Wij hebben recentelijk een aantal bestanden nieuw aangeboden aan het Geoportaal. Daarvan ontbraken de thumbnails. Mogelijk omdat we ze twee keer op dezelfde dag hebben aangeboden. De publicatiedatum is dan dezelfde dag. Het kan zijn dat hierdoor het "verversingsproces" van de metadata niet opnieuw wordt gestart. Om dat te forceren hebben we van alles geprobeerd. Zelfs het aanpassen van de publicat

[2017-06-07 07:24] gerardnienhuis commented on #477
5 minuten nadat ik dit bericht in Github heb gezet, blijken de thumbnails wel aanwezig te zijn.
Cache opnieuw geleegd en ververst? Probleem is in ieder geval vooralsnog opgelost. Issue kan weer gesloten.

[2017-06-07 07:24] #477 closed, assigned to nobody

[2017-06-07 12:37] gerardnienhuis commented on #466
probleem lijkt niet meer op te treden, kan vooralsnog gesloten worden

[2017-06-07 12:37] #466 closed, assigned to nobody

[2017-06-07 12:38] gerardnienhuis commented on #366
Probleem blijkt niet meer te bestaan. Issue gesloten

[2017-06-07 12:38] #366 closed, assigned to nobody

[2017-06-07 12:44] gerardnienhuis commented on #295
blijkt niet meer voor te komen, issue kan gesloten

[2017-06-07 12:44] #295 closed, assigned to nobody

[2017-06-07 12:48] gerardnienhuis commented on #444
blijkt goed te werken, kan als issue op zich gesloten

[2017-06-07 12:48] #444 closed, assigned to nobody

[2017-06-08 07:05] gerardnienhuis opened #478 "Reactiesnelheid viewer bij eerste gebruik erg traag"
Als ik een bestand in de viewer bekijk, dan lijkt het er op dat de eerste keer dat ik dat doe, er erg veel tijd verloren gaat. Als ik dat dan een tweede keer probeer, dan is het resultaat veel sneller op het scherm.

Adelaarsvaren in de provincie Overijssel (07-06-2017, Provincie Overijssel)  als voorbeeld:
eerste keer vanaf zoekresultaten aanklikken "bekijk in viewer" kost 70 seconden voordat kaa

[2017-06-08 08:43] gerardnienhuis opened #479 "Harvestacties lukken niet altijd tenzij pub.provider wordt herstart"
Het lijkt er op dat soms harvestacties (bij nieuwe of aangepaste geodata of metadata) niet lukken. De oplossing (aangedragen door IDGis) is dan om de publisherprovider te herstarten. De problemen lijken daarna verholpen.

Echter, dat is onhandig. Niet helder is het, of er nu wel of niet een probleem is, die met de publisherprovider te maken heeft. Dat is niet te vinden omdat het niet uit de huidig

[2017-06-08 13:01] HermanAssink commented on #478
Is dit de hele dag door het geval of alleen 's morgens vroeg? Ik kan het namelijk op het moment niet reproduceren, terwijl ik hte met diverse lagen geprobeerd heb. Doet het probleem zich alleen voor bij de lagen en/of een bepaalde omgeving (publiek/beveiligd)?

[2017-06-08 13:52] gerardnienhuis commented on #478
Ik ga het morgenochtend testen met 2 soorten openbare en 2 soorten beveiligde services. Ik zal de test uitvoeren intern Overijssel. Ik zal de controle herhalen met de openbare services in het weekend (extern geoportaal)  en ook volgende week. Dat moet een wat beter beeld opleveren, verwacht ik.

[2017-06-09 04:55] gerardnienhuis commented on #478
eerste testserie laat zien dat er bijna geen verschil is bij de 15 services, die zijn getest.

Met 1 uitzondering:
http://wmsonly-services.geodataoverijssel.nl/viewer/layer/B41_bodem_alleen_wms/B46_Geomorfologische_kaart_van_Overijssel

Deze laag lijkt bij 2e en 3e keer opstarten sneller te zijn.

Verder valt het op dat 2 services heel traag zijn (of geheel niet werken):

http://services.geodataov

[2017-06-09 07:23] HermanAssink commented on #478
@gerardnienhuis en @andreweijmer De verklaring voor de trage werking 's ochtends is dat de backup nog loopt. We zullen die vervroegen zodat deze voor zes uur 's ochtends klaar is.

[2017-06-09 11:11] gerardnienhuis commented on #478
opnieuw getest, backup is nu afgelopen.

Resultaat: alles gaat erg snel, ook de geomorf. kaart die eerder meer dan 20 seconden duurde.
N.b.: de 2 kaarten die helemaal geen kaartbeeld opleveren, daar is iets anders aan de hand (verkeerde kleuren bij de sld opgegeven in pub. omgeving?).

Nog een keer testen na het weekend lijkt zinvol, omdat dan de backup in de ochtend het proces ook niet meer zal v

[2017-06-13 06:39] gerardnienhuis opened #480 "Kaart niet zichtbaar in viewer"
Bij de controle van de snelheid van weergave van de services valt het op dat enkele services traag zijn en een paar helemaal niet weer te geven zijn (geven foutmelding). zie details hieronder

=========================================================

test serie x, 13-6-2017, 8.30 uur tot 8.37 uur

nr: 0 (extra)
http://secure-services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna_beveiligd/

[2017-06-13 07:06] gerardnienhuis opened #481 "Geoportaal niet benaderbaar"
13-6-17, 9.05 uur

http://www.geoportaaloverijssel.nl/ en http://intern.geoportaaloverijssel.nl/ niet benaderbaar
(getest intern overijssel, met IE. nb: andere externe websites starten normaal,
b.v. www.nu.nl (in 2 seconden op scherm).

details:

Deze pagina kan niet worden weergegeven
•Controleer of het webadres http://intern.geoportaaloverijssel.nl  juist is.
•Zoek de pagina met een zoekmachine.

[2017-06-13 07:21] gerardnienhuis commented on #481
probleem opgelost

http://www.geoportaaloverijssel.nl start binnen 2 seconden,
936 resultaten gevonden bij Uitgebreid zoeken.

http://intern.geoportaaloverijssel.nl start binnen 2 seconden
7761 resultaten gevonden bij Uitbreid zoeken

issue kan gesloten

[2017-06-13 07:30] gerardnienhuis commented on #480
services zijn herstart door Sandro, alles lijkt nu weer te werken, issue kan gesloten.

test serie y, 13-6-2017, 9.25 tot 9.30 uur

nummer: 1
http://secure-services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna_beveiligd/B47_Adelaarsvaren
 kaart op scherm: minder dan 2 seconden

nummer: 2
http://services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna/B4_Beschermingsplan_boomkikkers
 B

[2017-06-13 07:47] gerardnienhuis opened #482 "Andere services wel zichtbaar in Geoportaal"
Wij maken bij Overijssel ook nog zelf services met Geoserver. De metainfo daarvan en de services zelf wil ik ook vindbaar hebben in het Geoportaal. Dat kan nu nog niet, omdat alleen de informatie uit de publicatieomgeving in het Geoportaal zichtbaar is

[2017-06-13 08:29] gerardnienhuis commented on #481
probleem lijkt weer terug, nu starten de portalen na 60 seconden nog niet.
issue weer geopend

[2017-06-13 08:36] gerardnienhuis commented on #480
probleem lijkt nog steeds aanwezig, voor sommige services
nu lijken sommige services veel langer dan normaal op het scherm te komen.
details zie hieronder

test serie z, 13-6-2017, 10.31 tot 10.35 uur

nummer: 1
http://secure-services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna_beveiligd/B47_Adelaarsvaren
 kaart op scherm: 40 seconden

nummer: 2
http://services.geodataoverijssel.nl/viewer

[2017-06-13 08:47] gerardnienhuis commented on #481
probleem lijkt weer opgelost, issue weer gesloten

[2017-06-13 08:47] #481 closed, assigned to nobody

[2017-06-13 08:58] gerardnienhuis commented on #480
========================================================

testen: probleem benaderbaarheid / snelheid services

conclusie: lijkt weer opgelost.

details zie hieronder

test serie A, 13-6-2017, 10.51 tot 10.56 uur

========================================================

nummer: 1
http://secure-services.geodataoverijssel.nl/viewer/layer/B47_flora_en_fauna_beveiligd/B47_Adelaarsvaren
 kaart op sche

[2017-06-13 08:58] #480 closed, assigned to nobody

[2017-06-14 06:24] gerardnienhuis commented on #478
===============================================

testen stabiliteit services 14-6-17

conclusie: nog niet de gewenste stabiliteit
problemen lijken nog niet opgelost

===============================================

vergelijking middag 13-6-17 (na 14.00 uur)
met ochtend 14-6-17 (8.00 tot 8.12 uur)

2 dingen vallen op:

1) ochtend 14-6-17 alles veel trager
(soms wel meer dan 40 seconden voordat kaar

[2017-06-14 07:19] HermanAssink commented on #478
Klopt dat het nog niet is opgelost. Alleen de backup van bestanden was vervroegd. De backup van de database begint nog om 5 uur 's morgens en loopt dus nu nog. De start van de backup van de database gaan we vandaag ook vervroegen naar 00:00 uur. Daarvoor zal het systeem rond 12:30 uur enkele minuten niet beschikbaar zijn.

[2017-06-14 12:28] gerardnienhuis opened #483 "Snelheid services niet altijd even hoog"
Afgelopen dagen lijkt het alsof de snelheid van services niet altijd even hoog is. Mogelijk door backup processen bij IDGis. Deze processen zijn 14-6-17 (12.30 uur) aangepast.

Daarna lijkt snelheid van de meeste services sterk verbeterd.

details hieronder:

===============================================

testen stabiliteit services 13-6-17 en 14-6-17

conclusie: bijna alle services lijken bij l

[2017-06-14 12:30] gerardnienhuis commented on #478
Afgelopen dagen lijkt het alsof de snelheid van services niet altijd even hoog is. Mogelijk door backup processen bij IDGis. Deze processen zijn 14-6-17 (12.30 uur) aangepast.

Daarna lijkt snelheid van de meeste services sterk verbeterd.

details hieronder:

===============================================

testen stabiliteit services 13-6-17 en 14-6-17

conclusie: bijna alle services lijken bij l

[2017-06-14 12:31] gerardnienhuis commented on #483
zelfde als 478, dit issue kan daarom gesloten

[2017-06-14 12:31] #483 closed, assigned to nobody

[2017-06-14 12:33] HermanAssink commented on #483
Backup was 's morgens tot ongeveer 10:00 uur nog bezig. Morgenvroeg, 15-6, zou de backup vóór 7:00 uur klaar moeten zijn, waardoor na zeven uur de services snel zouden moeten reageren.

[2017-06-15 07:09] gerardnienhuis commented on #478
===============================================

testen stabiliteit services 13-6-17, 14-6-17 en 15-6-17

conclusie: bijna alle services lijken bij laatste
 testserie sneller dan daarvoor.

De veranderingen die IDGis heeft doorgevoerd,
 die lijken succesvol te zijn.

===============================================

eerste test: intern prov. Overijssel, middag 13-6-17 (na 14.00 uur)
daarna test: th

[2017-06-15 07:58] HermanAssink commented on #478
Mijn voorstel is om enkele lagen te monitoren op responsetijd zodat we tijdig een waarschuwing krijgen als het systeem traag is. Welke lagen vinden jullie (Gerard en André) representatief voor zo'n check op responsetijd? Belangrijk is dat deze lagen in de toekomst beschikbaar blijven en qua inhoud niet of nauwelijks veranderen.

[2017-06-15 08:01] gerardnienhuis commented on #478
goed idee om te monitoren. Ik neem aan dat bovenstaande syntax goed genoeg is. Dit issue wordt wel wat erg lang...

Vooralsnog is opstellen lijst van niet veranderende lagen niet mogelijk. Juist komende tijd wordt nog veel achterstand weggewerkt, dus veel lagen erbij en ook eruit. Op termijn lijkt een standaard set logisch, maar komende tijd nog niet. De lijst van 21 lagen die nu getest worden zij

[2017-06-15 08:13] HermanAssink commented on #478
Oké, laat maar weten zodra er een stabiele lijst van testlagen op te stellen is.

[2017-06-15 08:15] gerardnienhuis commented on #478
komende weken hou ik de nu gehanteerde lijst van 21 services aan. Mocht het mogelijk zijn, dan zou het misschien mogelijk zijn om die ook aan jullie kant te monitoren. Als ik dan bij mijn tests iets vreemds zie, dan zou dat meteen te vergelijken kunnen zijn met elkaar. nb: ik zal per meting daarom vanaf nu ook tijdstip neerzetten en niet alleen datumaanduiding.

[2017-06-15 08:30] HermanAssink commented on #478
Kun je voor iedere omgeving (publiek, wms-only en beveiligd) één wms-layer/dataset noemen die representatief is voor de test van die omgeving?

[2017-06-15 08:31] gerardnienhuis commented on #478
nee, vandaar dat ik er 21 heb getest, verdeeld over publiek, wms-only en beveiligd. Nog groter aantal testen zou te overwegen zijn, maar vraagt wel ook extra tijd. Suggesties zijn welkom

[2017-06-15 08:43] HermanAssink commented on #478
De monitoring test standaard iedere vijf minuten. Als we een groot aantal lagen gaan testen dan zijn de services alleen nog maar bezig voor de monitoring... Ik denk dat het testen van drie lagen voldoende indicatie geeft of de WMS-services traag zijn.

[2017-06-15 08:51] gerardnienhuis commented on #478
Zou het te overwegen zijn om dan een selectie te maken waarbij 1 van beide soorten "wms-only, beveiligd en openbaar" aanwezig is? Dan van ieder van deze "smaken" een grote service kiezen en monitoren? Is dat een goed idee?

[2017-06-15 09:03] HermanAssink commented on #478
Ja, dus voor wms-only, beveiligd en openbaar omgeving 1 wms-layer/dataset monitoren. Dus totaal drie wms-layers/datasets.

[2017-06-15 09:51] gerardnienhuis commented on #478
Na overleg met André 3 geschikte kandidaten gevonden. Van iedere smaak 1. Mijn voorstel is om hier een aparte github-melding van te maken, dat wordt dan wat overzichtelijker. Daarom wordt dit issue gesloten. Vervolg in issue: https://github.com/IDgis/geoportaal-test/issues/484

Voorstel voor de services:

http://services.geodataoverijssel.nl/viewer/layer/B42_energie/B42_Energielabel_woningen
 B42_

[2017-06-15 09:53] gerardnienhuis opened #484 "Standaardserie controle snelheid services"
Op basis van issue: https://github.com/IDgis/geoportaal-test/issues/483

Testen van 3 services.

Methode van testen: klik op onderstaande link en meten hoe snel kaart op scherm staat
(locatie is altijd intern provincie Overijssel, default IE browser, tenzij anders vermeld)

http://services.geodataoverijssel.nl/viewer/layer/B42_energie/B42_Energielabel_woningen
 B42_energie B42_Energielabel_woninge

[2017-06-15 09:54] gerardnienhuis commented on #478
Problemen lijken opgelost, controle wordt komende dagen wel uitgevoerd, zie verder issue #484
Dit issue wordt daarom gesloten.

[2017-06-15 09:54] #478 closed, assigned to nobody

[2017-06-15 12:06] gerardnienhuis opened #485 "Bekijk in viewer van service bij 1 laag meteen tonen"
Bij het bekijken van een geodataset kan je direct, als deze in een service zit, de kaart zien als je klikt op "bekijk kaart in viewer". Maar als je een service hebt, waar slechts 1 laag in zit, dan moet je bij het bekijken van die kaart via de metainformatie van de service, echter eerst nog die laag aanklikken.

Wat je eigenlijk wilt, is dat je bij een service, waar slechts 1 laag in zit, meteen d

[2017-06-16 06:45] gerardnienhuis opened #486 "Uitgebreide serie controle snelheid services"
Controle snelheid services vanaf 13-6-17
Dit betreft een aantal verschillende services, met verschillende omvang van de lagen
testen altijd in Zwolle, provinciehuis met IE, tenzij anders vermeld.

=========

===

============
 Alleen WMS services, 1 service, 2 lagen:

nummer: 1

http://wmsonly-services.geodataoverijssel.nl/viewer/layer/B41_bodem_alleen_wms/B4_Bodemkaart
 / B41_bodem_alleen_wms / B

[2017-06-29 06:51] gerardnienhuis opened #487 "Zoekresultaten Geoportaal sorteren: datum publicatie bestand en metadata"
Wens is om de datum van de publicatie van het bestand te laten zien, default in de zoekresultaten. Nu is het nog de publicatiedatum van de metadata.

Er moet dan ook een manier komen om toch de sortering op publicatiedatum te laten komen. Dat is voor beheerders erg nuttig, want dan kan je zien wat het werk is, wat je hebt gedaan en hoe dat er in het geoportaal uit ziet.

[2017-07-04 12:27] gerardnienhuis opened #488 "Thumbnails ontbreken bij meerdere keren publiceren"
thumbnails worden niet zichtbaar bij zoekresultaten als er op 1 dag meerdere keren hetzelfde bestand wordt gepubliceerd. Dat kan bijvoorbeeld voorkomen als op een ochtend een nieuwe geodataset wordt aangeboden, maar er is een fout in de metainfo.  Die fout wordt hersteld en in de middag wordt de geodataset opnieuw gepubliceerd. Dan blijkt dat na een poosje de nieuwe metainfo wel zichtbaar is, maar

[2017-07-14 09:31] gerardnienhuis opened #489 "Uitgevoerde bewerkingen niet aangepast als dataset in service zit"
De metainformatie zoals publicatiedatum, samenvatting en dergelijke wordt correct aangepast, als er nieuwe metainfo beschikbaar komt. Dat werkt in alle gevallen: onafhankelijk of er een service is waar die geodata in zit als laag. Maar wat er fout lijkt te gaan, is de update van de uitgevoerde bewerkingen. Die lijkt niet vervangen te worden, als de geodataset in een service zit. Dat is wel de bedo

[2017-07-14 09:34] gerardnienhuis commented on #202
Dit verschijnsel kan nog steeds optreden. Voorlopig opgelost door geen selecties uit te voeren in publicatieomgeving. Deze worden door beheerders van te voren gedaan. Selecties worden als afzonderlijke geodatasets aangeboden, zodat dit probleem niet kan optreden. Moet t.z.t. wel verder opgelost maar is hierdoor minder urgent nu.

[2017-07-14 10:27] HermanAssink commented on #489
Graag enkele concrete voorbeelden.

[2017-07-17 06:43] gerardnienhuis commented on #489
Bestandsnaam: Boringsvrije zones
https://intern.geoportaaloverijssel.nl/metadata/dataset/accf5f80-a8e7-49b4-8778-11e55734d953

Bestandsnaam: Grote attracties
https://intern.geoportaaloverijssel.nl/metadata/dataset/730c1040-ea2c-4d53-a2c4-daa7b59742cc

De vraag is, of dit een bug is. De samenvatting kan je wel aanpassen van een dataset die al een een service is opgenomen, maar de attributen niet. L

[2017-07-17 07:08] HermanAssink commented on #489
Dit lijkt me vraagstuk wat het beste in een persoonlijk gesprek doordacht kan worden.

[2017-07-17 07:36] gerardnienhuis opened #490 "Sortering beschrijving attributen zoals in xml staat"
Nu lijkt het er op alsof bij de uitgevoerde bewerkingen de metainfo van de attributen omgekeerd gesorteerd is. De laatste in de metainfo van de xml, die zie je het eerste. Dat is heel verwarrend voor beheerders die de metainfo moeten controleren. Verzoek is om de sortering zo te maken, zoals deze ook in de geoweb xml aanwezig is.

Hieronder een voorbeeld:

url:

https://intern.geoportaaloverijssel

[2017-07-18 12:20] gerardnienhuis opened #491 "Download link bij details werkt niet"
Er is een bestand waarbij de downloadlink zoals beschikbaar bij de DETAILS in de metadata niet werkt: er komt een 404 melding. Maar het vreemd is, dat de download via de zoekresultaten wel werkt. Dat is vreemd: tot nu toe werken ze beiden, of geen van beiden. Wat is hier aan de hand? Details hieronder:

https://intern.geoportaaloverijssel.nl/metadata/dataset/32f2a479-9e24-4fad-b3b6-e4ca5cec7e3c

B

[2017-07-19 15:30] SandroNeumann commented on #491
De data is niet voor publiek toegankelijk, dus vandaar dat je onder de interne download url de data kunt downloaden en onder de publieke download url een 404 terug krijgt. Dat is in orde. Je krijgt echter in de metadata de verkeerde url te zien. Daar moet in de publieke metadata geen download link verschijnen en in de interne metadata de interne download url. Op dit moment wordt simpelweg altijd d

[2017-07-24 08:09] HermanAssink commented on #397
De DNS registratieis aangepast zodat geoportaaloverijssel.nl op dezelfde server uitkomt als www.geoportaaloverijssel.nl.
@SandroNeumann : Moet hiervoor nog iets worden aangepast in de webserver configuratie?

[2017-07-24 08:16] SandroNeumann commented on #397
Dat denk ik niet, die url wordt nu (straks) gewoon redirect naar www.geoportaaloverijssel.nl. Daar hoeft niks in de proxy voor aangepast te worden.

[2017-07-24 11:13] gerardnienhuis opened #492 "Download niet goed bij beveiligde service intern geoportaal"
Er lijkt iets fout te gaan, als de metadata wordt aangepast van een laag die in een beveiligde service zit.

voorbeeld:

Actueel Hoogtebestand Nederland 1, grid 25x25 m. (20-07-2017, Rijkswaterstaat)
https://intern.geoportaaloverijssel.nl/metadata/dataset/027a5b48-1aa5-43d6-9be8-6e04fcd6746e

Van dit bestand is de metadata verbeterd (contactinformatie).

In de zoekresultaten bij het interne geopor

[2017-07-24 11:15] SandroNeumann commented on #492
Zelfde als #491

[2017-07-25 06:19] gerardnienhuis opened #493 "Vilsteren beheerdersrechten geven beheer statische kaarten"
Graag de rechten van Gerrit van Vilsteren zo aanpassen, dat hij als beheerder rechten heeft mbt de statische kaarten in het Geoportaal.

[2017-07-25 14:49] SandroNeumann commented on #493
Aangepast

[2017-07-25 14:49] SandroNeumann commented on #476
Aangepast

[2017-07-26 07:30] SandroNeumann commented on #434
Manier om dit te produceren:

- laag aanklikken
- klik in kaart zodat marker verschijnt
- laag uitklikken
- laag aanklikken
- klik in kaart zodat marker verspringt
- laag uit -> marker wordt uitgezet ipv laag

[2017-07-26 13:23] gerardnienhuis opened #494 "Geoportaal default sorteren op datum bestand ipv datum bestandbeschrijving."
Nu worden bij de weergave van de zoekresultaten en bij de homepagina in het Geoportaal de resultaten gesorteerd weergegeven op basis van de datum van "Laatste wijziging bestandsbeschrijving".
Wens is om default de datum van "Laatste wijziging bestand" te gebruiken.

Beide datums staan bij de details bij de geodatasets.

Het is voor een gebruiker het makkelijkst, als de meest actuele bestanden dire

[2017-07-26 14:21] gerardnienhuis opened #495 "Metadata update van geodata die in services zitten wel correct zichtbaar"
Nu is het zo dat de metadata van geodata die al in services zitten, niet goed wordt geupdate als er een structuurwijziging heeft plaatsgevonden. De metadata van attributen bijvoorbeeld, klopt niet meer met de nieuwe metadata. De link naar de oude (reeds bestaande) view en download is nog aanwezig bij details. Dat zorgt ervoor dat als je een download zou uitvoeren, je niet de nieuwe dataset krijgt,

[2017-08-22 12:50] SandroNeumann opened #496 "WMS only overruled confidential bij disablen keuzes publiceren services"
Dit moet omgekeerd zijn. Confidential moet WMS only overrulen. Als een service beide is.

[2017-08-22 12:52] SandroNeumann opened #497 "Vlag 'Alleen WMS extern' verschijnt niet bij laag in context van laagstructuur in service formulier"

[2017-08-23 09:10] SandroNeumann commented on #496
Klopt niet. Een service die zowel vertrouwelijk als wmsonly is moet in een wmsonly omgeving gepubliceerd kunnen worden. Zoals nu het geval is. Zie tabel #388.

[2017-08-23 09:10] #496 closed, assigned to SandroNeumann

[2017-08-23 09:11] SandroNeumann commented on #497
Dit blijkt alleen het geval te zijn bij deze service:
https://admin.geodataoverijssel.nl/services/7cb96031-3b9c-4d27-b15c-bcf83ce1a1af/edit

[2017-08-24 07:48] SandroNeumann commented on #497
Het probleem was dat een raster laag geen wmsonly parameter werd meegegeven, waardoor deze altijd null (=false) werd.

[2017-08-28 12:24] gerardnienhuis opened #498 "Persoonsgegevens in rapportage Geodatasets"
In de metainformatie bij geodata wordt ook de contactpersoon opgenomen. Deze persoonsgegevens worden nu nog niet in de rapportage van geodata gezet. Wens is om deze gegevens ook in het rapport op te nemen. nb: als het meer dan  1 persoon is, dan ook de overige personen opnemen in het rapport.

[2017-08-28 13:45] gerardnienhuis opened #499 "Vilsteren gebruikersrechten geven ipv beheerdersrechten."
Rechten als beheerder zijn nu niet meer nodig voor Vilsteren. Graag weer gewoon rechten van gebruiker geven. Beheer moet dus niet meer mogelijk zijn voor Vilsteren.

nb: dat beheer was aangevraagd in een eerder issue en heeft goed bewerkt. Betreft: https://github.com/IDgis/geoportaal-test/issues/493

[2017-08-28 13:51] gerardnienhuis opened #500 "Id van url naar metadata ook in rapport geodata opnemen"
In het rapport van Geodata staan 3 soorten id's (uuid's) maar geen daarvan wijst naar de id die gebruikt wordt in de url, die wijst naar de metadata. Voorbeeld:

Bestandsnaam: Uitsluitingsgebieden nieuwe landgoederen
Daar hoort als url bij: https://intern.geoportaaloverijssel.nl/metadata/dataset/62bca9ef-3365-4919-a7de-62701d70f7f0

In het rapport van geodata komt de id 62bca9ef-3365-4919-a7de-627

[2017-08-28 15:01] SandroNeumann commented on #499
Gedaan

[2017-08-29 08:43] gerardnienhuis opened #501 "Viewer toont attribuutinformatie niet meer"
Ik merk opeens dat als ik nu in de viewer klik op de kaart, ik dan geen beschrijving van de vulling van de attributen krijg, bij het object waarop ik heb geklikt. Dat was eerder wel het geval en werkte heel erg goed om een indruk van het bestand te krijgen. Graag herstellen, zodat klikken op een gebied, zie voorbeeldplaatje, weer attribuutnamen en vulling voor zo'n gebied laat zien. nb: werkt nu o

[2017-08-29 09:34] gerardnienhuis commented on #499
is goed opgelost, Vilsteren kan niet meer als beheerder werk uitvoeren, issue kan gesloten

[2017-08-29 09:34] #499 closed, assigned to nobody

[2017-08-29 09:42] gerardnienhuis opened #502 "Aantallen fout in vermelding na selectie Geoportaal beheer"
Als ik van een willekeurige gebruiker een selectie maak van het aantal statische kaarten, dan krijg ik meestal een juist aantal terug. Maar niet altijd, en dat is verwarrend. In onderstaand voorbeeld is een selectie gemaakt van het aantal bestanden, met als criterium "status".

Het totaal aantal bestanden bij deze leverancier is 686, dan kan je zien als je alleen de betreffende leverancier in de s

[2017-08-29 09:54] gerardnienhuis opened #503 "Link naar data vanaf service in stylesheet werkt niet meer"
Als je de metainfo van een service bekijkt, dan kan je doorklikken naar de achterliggende data. Dat blijkt niet meer te werken. In plaats van de url naar de metadata van de data, wordt je nu verwezen naar http:/// En dat levert een blanco pagina op.

zie figuur

![link_data_vanuit_service_fout](https://user-images.githubusercontent.com/9005444/29815409-ce869d14-8cb0-11e7-99c3-3ef258dec0b9.jpg)

[2017-08-29 10:01] SandroNeumann commented on #501
Op acceptatie werkt het weer, dus de publisher-viewer versie was inderdaad de oorzaak:

http://acc-services.geodataoverijssel.nl/viewer?service=B02_topografie

[2017-08-29 11:20] #497 closed, assigned to SandroNeumann

[2017-08-29 11:23] SandroNeumann commented on #503
Op acceptatie doet ie het weer. Je zult waarschijnlijk wel je cache moeten legen.

https://acc-metadata.geodataoverijssel.nl/metadata/service/608d22a6-2735-4240-8330-34ee5b4ac4a5.xml

[2017-08-29 14:17] SandroNeumann commented on #503
Aangepast op productie:

https://intern.geoportaaloverijssel.nl/metadata/service/a767648e-bbe0-45f8-8a70-135f8d7cc9d0

[2017-08-29 14:17] SandroNeumann commented on #501
Aangepast op productie:

http://services.geodataoverijssel.nl/viewer?service=B03_projectgrenzen

[2017-08-30 06:26] gerardnienhuis commented on #501
Op 29-8 intern geoportaal getest en op 30-9 ook extern geoportaal steeksproefsgewijs getest.
Alles blijkt nu weer goed te werken,
Issue is daarom gesloten.

[2017-08-30 06:26] #501 closed, assigned to nobody

[2017-08-30 06:27] gerardnienhuis commented on #503
Op 29-8 intern geoportaal getest en op 30-9 ook extern geoportaal steeksproefsgewijs getest.
Alles blijkt nu weer goed te werken,
Issue is daarom gesloten.

[2017-08-30 06:27] #503 closed, assigned to nobody

[2017-08-30 10:02] gerardnienhuis commented on #397
Zojuist getest. Het klopt nog steeds niet.

Als ik nu http://geoportaaloverijssel.nl volg, dan kom ik uit op: https://admin.geodataoverijssel.nl/user/login?r=%2F.

De bedoeling is, dat ik in dat geval uitkom op http://www.geoportaaloverijssel.nl

[2017-08-30 11:51] gerardnienhuis commented on #494
Let op:  als deze wijziging is aangebracht moet ook de homepagina worden aangepast. Hier moeten niet de bestanden staan waarvan de beschrijving het meest recent is aangepast. Ook hier moeten de bestanden staan, die het laatst zijn gewijzigd. Hierdoor ziet een gebruiker default altijd de meest recente bestanden, en pas als je "sorteer laatste bestandbeschrijving" aanvinkt, dan verander je dat. De m

[2017-08-30 11:54] gerardnienhuis commented on #489
zelfde issue als #495

[2017-08-30 11:55] gerardnienhuis commented on #495
zelfde issue is #489

Dubbel, dus dit issue kan gesloten worden

[2017-08-30 11:56] gerardnienhuis commented on #495
Issue #489 is een onderdeel van dit issue. Daarom dit issue opengelaten en #489 gesloten.

[2017-08-30 11:57] gerardnienhuis commented on #489
Dit issue is een onderdeel van #495 en wordt daarom gesloten om dubbele issues en verwarring hierdoor te voorkomen.

[2017-08-30 11:57] #489 closed, assigned to nobody

[2017-08-30 12:01] gerardnienhuis commented on #495
Het probleem is dat er een onbekende hoeveelheid tijd zit tussen het moment dat een metadataset wordt aangeboden, tot het moment dat deze in een service is opgenomen. Dat is geen probleem bij nieuwe sets, maar als de data ook al onderdeel is van een service, dan gaat het fout. De metadata kan andere info bevatten als de data die in de service zit. Daarom zou eigenlijk op dat moment de beschrijving

[2017-08-30 12:02] gerardnienhuis commented on #493
werkt goed, issue kan gesloten,

[2017-08-30 12:02] #493 closed, assigned to nobody

[2017-08-30 12:07] gerardnienhuis commented on #462
Ook in het rapport nieuw opnemen: herzieningsfrequentie.

Voorbeeld van vulling bij een willekeurig bestand:

Bestandsnaam: Ontgrondingen in Overijssel
https://www.geoportaaloverijssel.nl/metadata/dataset/d66cc0d3-9130-44b6-97f0-fd200f37e1a0

Voltooiing bestand: 08-03-1995
Publicatie bestand: 02-06-2017
Laatste wijziging bestand: 01-03-2017
Herzieningsfrequentie bestand: Indien nodig
Laatste wijzi

[2017-08-30 12:18] gerardnienhuis commented on #473
Merk op dat ook de tekst "Over deze site" moet worden aangepast. Nu staat er:

Bij de download kan je kiezen uit verschillend formaten:

SHP (shape, veel gebruikt open formaat, ontwikkeld door Esri)
GML (Geography Markup Language, een open standaard voor GIS data)
KML (Keyhole Markup Language, te gebruiken in Google Earth)
DXF (Drawing exchange format, veel gebruikt formaat voor AutoCad)

Dat moet

[2017-08-30 12:22] gerardnienhuis commented on #90
heeft relatie met: #438

[2017-08-31 11:26] gerardnienhuis opened #504 "Tags als zoekterm gebruiken"
Vergelijkbaar met http://data.overheid.nl tags als extra zoekterm gebruiken als je een datasets hebt gevonden, zie voorbeeld:

https://data.overheid.nl/data/dataset/nieuwbouw-en-sloopwoningen-01

![tags](https://user-images.githubusercontent.com/9005444/29920920-fc41f14a-8e4f-11e7-88a4-e58bdd09d9dc.jpg)

[2017-08-31 11:30] gerardnienhuis opened #505 "feedback vergelijkbaar met data.overheid"
De knoppen voor feedback op vergelijkbare plaats inbouwen (bij de WAT in de metainformatie) vergelijkbaar zoals http://data.overheid.nl dat heeft uitgevoerd.

1 knop erbij: zoekterm aanpassen, gaat naar pagina met uitleg hoe makkelijk te zoeken is, voor rest knoppen zelfde laten werken als bij data.overheid, zie voorbeeld

https://data.overheid.nl/data/dataset/nieuwbouw-en-sloopwoningen-01

en zie

[2017-08-31 11:35] gerardnienhuis commented on #416
blijkt goed te werken, vooralsnog. Issue niet sluiten maar tzt keer evalueren. Issue naar milestone 1.4 verplaatst.

[2017-08-31 11:48] gerardnienhuis commented on #425
zie ook #428

[2017-08-31 11:49] gerardnienhuis commented on #479
zie ook #425

[2017-08-31 12:48] gerardnienhuis commented on #494
dubbel met #487, die is daarom verwijderd

[2017-08-31 12:49] gerardnienhuis commented on #487
verwijderd, is dubbel met #494

[2017-08-31 12:49] #487 closed, assigned to nobody

[2017-08-31 12:52] gerardnienhuis commented on #432
lijkt nu zinvol te worden om te onderzoeken omdat Atlas van Overijssel bijna nieuwe versie heeft.

[2017-08-31 12:59] gerardnienhuis commented on #498
Gaat over de contactpersoon die als 2e en 3e vermeld zijn, graag samen met organisatienaam, website en email. Betreft eigenaren van het bestand, bijvoorbeeld:

Bestandsnaam: Bedrijventerreinen in Overijssel
https://intern.geoportaaloverijssel.nl/metadata/dataset/2f72958b-3126-4eda-85d8-2c2ff5b5cfab

Naam: Provincie Overijssel: eenheid Publieke Dienstverlening
Website:   http://www.overijssel.nl
Na

[2017-08-31 12:59] gerardnienhuis commented on #450
is dubbel met #498 en daarom deze gesloten

[2017-08-31 12:59] #450 closed, assigned to nobody

[2017-08-31 13:04] gerardnienhuis commented on #473
zelfde als #438

[2017-08-31 13:05] gerardnienhuis commented on #438
dubbel, daarom deze gesloten

[2017-08-31 13:05] #438 closed, assigned to nobody

[2017-08-31 13:05] gerardnienhuis commented on #463
zie ook #445

[2017-08-31 13:08] gerardnienhuis commented on #417
zie ook #486

[2017-08-31 13:12] gerardnienhuis commented on #495
nb: betreft bij situaties van verwijderen van metadata en bij situaties waar metadata wordt aangepast.

[2017-08-31 13:15] gerardnienhuis commented on #505
let op: de vragen die gesteld zijn, worden aangevinkt, voordat deze vragen verder komen.
Je ziet dus eerst:

Bent u tevreden met deze dataset?
( ) ja
( ) gedeeltelijk
( ) nee

Als gedeeltelijk of "Nee" wordt gekozen, dan komt de vraag met dataverzoek, feedback en contact

[2017-08-31 13:18] gerardnienhuis commented on #505
nb: er is aparte rapportage nodig, waarbij wordt aangegeven wat is geantwoord bij deze vraag, met ook vermelding dataset, datum en keuze die is gemaakt. Dit wordt een apart rapport met de naam Feedback

[2017-08-31 13:25] gerardnienhuis opened #506 "Als iemand niet meer in dienst is, picklist leverancier aanpassen"
Als iemand niet meer werkt bij de provincie, dan zou de lijst "leverancier wijzigen" moeten worden aangepast, dwz naam van betrokken persoon daar uit halen. Maar je zou deze wel als "leverancier" willen kiezen. Lage prio

[2017-08-31 14:13] gerardnienhuis commented on #476
werkt goed, issue kan gesloten

[2017-08-31 14:14] gerardnienhuis opened #507 "Zomerdijk rechten van beheerder naar leverancier voor beheeronderdeel geoportaal"
zie ook #476

Wens is dat Zomerdijk wel als leverancier het beheeronderdeel van het geoportaal kan benaderen, maar niet meer als beheerder.

[2017-08-31 14:15] gerardnienhuis commented on #443
werkt goed, issue kan gesloten

[2017-08-31 14:15] #443 closed, assigned to nobody

[2017-08-31 14:17] gerardnienhuis commented on #129
werkt goed, issue kan gesloten

[2017-08-31 14:17] #129 closed, assigned to SandroNeumann

[2017-09-05 07:53] SandroNeumann commented on #498
Dit wordt dan één kolom met een eventueel heel lange regel, want je weet niet van te voren hoeveel contactpersonen er zijn.

[2017-09-05 07:54] gerardnienhuis commented on #498
Hoi Sandro

Meer dan 3 contactpersonen zijn er niet, en de eerste telt niet mee

Van: SandroNeumann [mailto:notifications@github.com]
Verzonden: dinsdag 5 september 2017 9:54
Aan: IDgis/geoportaal-test
CC: Nienhuis, G (Gerard); Author
Onderwerp: Re: [IDgis/geoportaal-test] Persoonsgegevens in rapportage Geodatasets (#498)

Dit wordt dan één kolom met een eventueel heel lange regel, want je weet ni

[2017-09-05 07:59] SandroNeumann commented on #498
Dus je hebt liever dat er twee kolommen zijn en in het geval dat er geen 2e of 3e contactpersoon bestaat blijft het veld leeg?

[2017-09-05 08:12] gerardnienhuis commented on #498
Correct

Hieronder een voorbeeld:

https://intern.geoportaaloverijssel.nl/metadata/dataset/2f72958b-3126-4eda-85d8-2c2ff5b5cfab

Beheerder van het bestand
Naam: Provincie Overijssel
Website: http:\\www.overijssel.nl
Naam: team Beleidsinformatie
E-mail: beleidsinformatie@overijssel.nl<mailto:beleidsinformatie@overijssel.nl>
Adres: Postbus 10078
Postcode: 8000 GB
Plaats: Zwolle
Provincie: Overijssel

[2017-09-05 08:19] SandroNeumann commented on #498
Het gaat alleen om contactpersonen die de rol van eigenaar hebben? En enkel de naam en email moet vermeld worden?

[2017-09-05 08:27] SandroNeumann commented on #495
Voor dit issue zouden we eigenlijk metadata versies moeten introduceren. Daar hebben we het eerder over gehad in de context van het excelsheet van 90 verschillende situaties die @gerardnienhuis een keer gemaakt heeft.

[2017-09-05 08:30] gerardnienhuis commented on #498
correct, alleen rol eigenaar. Maar daarvan moet wel vermeld worden:

naam organisatie,
naam website
naam persoon
email persoon

Naam: Provincie Overijssel; eenheid Publieke Dienstverlening
Website: www.overijssel.nl
Naam: Hoek, Dhr. D.
E-mail: D.Hoek@overijssel.nl

[2017-09-05 08:40] SandroNeumann commented on #494
Dit heeft betrekking op datum publicatie in het formulier in geoportaal beheer?

[2017-09-05 08:53] SandroNeumann commented on #475
Ik begrijp dat dit een aparte pagina in het geoportaal moet worden? We moeten dan nog een lijst van situaties krijgen waar een foutmelding voor moet verschijnen.

[2017-09-05 09:11] SandroNeumann commented on #463
Zou je de exacte plek in het rapport kunnen aanwijzen waar zich dit voordoet? Dan kunnen we kijken of zich dat in andere spreadsheet programma's ook voordoet. Tevens zou je moeten achterhalen welke scheidingstekens bij Overijssel ingesteld staan.

[2017-09-05 09:28] SandroNeumann commented on #445
Zou je aan kunnen geven waar je deze vreemde tekens precies hebt waargenomen?

[2017-09-05 09:35] SandroNeumann commented on #456
Ik zie deze foutmeldingen niet meer. Kan dit gesloten worden?

[2017-09-05 09:43] SandroNeumann commented on #440
De help opent in een nieuwe tab, waardoor je de tab met de zoekopdrachten en instellingen nog open hebt staan. Het effect zou ook zijn dat met een terug knop je ineens twee tabs hebt met dezelfde zoekopdracht en instellingen. Volgens mij is dat overbodig en het zou voor een hogere impact zorgen.

[2017-09-05 09:54] HermanAssink commented on #429
N.a.v. een ander project is dit onderzocht. Er blijkt op het moment geen geschikt alternatief qua mogelijkheden en prijs. Indien wenselijk is de output van AWStats te naar behoefte customizen.

[2017-09-05 10:01] SandroNeumann commented on #428
Uitzoeken welke log meldingen dit zijn.